[2016-07-31 11:58] damienpontifex opened #709 "Replace custom base64 implementation with built in methods"
The category `NSString(ADHelperMethods)` has some base64 en/decode helper methods for data and strings.

Since iOS7 and OS X 10.9, the SDK has had base 64 conversion built in with initialisers and methods on `NSData` and `NSString`. I'd be happy to swap out the appropriate pieces with a PR if you are happy for this to happen?

[2016-08-01 08:30] mkarp commented on #707
@RPangrle Thank you for the clarification! We'll stop crawling the keychain cache and probably replace it with a plain setting if user has logged in or not.

[2016-08-01 17:37] RPangrle commented on #709
The built in methods do not do Base64URL encoding.

[2016-08-01 17:37] #709 closed

[2016-08-01 17:39] RPangrle commented on #708
WKWebView has issues with custom HTTP headers that would cause it to not work with ADAL.

[2016-08-01 17:39] #708 closed

[2016-08-02 19:50] atdrendel opened #710 "Thread safety issues in -[ADTokenCache serialize]"
We are seeing relatively frequent crashes for some of our users on 10.12. We are using ADAL 2.2.2. The crashes seem to be internal `NSKeyedArchiver` crashes. Is this known?

[2016-08-02 19:51] atdrendel commented on #710
[code]

[2016-08-02 19:51] atdrendel commented on #710
[code]

[2016-08-02 19:52] atdrendel commented on #710
All of the crashes look similar to the ones I've posted above.

[2016-08-04 17:48] eddiekim commented on #695
Should I create a new issue to discuss this?

[2016-08-04 18:50] jasoncoolmax commented on #695
Sorry that I didn't notice that there is a question here :package:

Yes, Telemetry does generate event for token refresh(with information like start time, end time, etc.)

[2016-08-08 17:54] #705 closed

[2016-08-08 17:56] #694 closed

[2016-08-08 17:57] RPangrle commented on #677
I think we're conflating brokered auth with MFA here. The authenticator covers both functions but ADAL is not directly involved in MFA, even when it does brokered auth.

[2016-08-08 17:57] #677 closed

[2016-08-08 17:58] RPangrle commented on #660
This only happens if you're passing in a webview. If you let ADAL control the whole UI then it won't even pop the webview. If you don't want the webview to be blank then put something in it before passing it to ADAL.

[2016-08-08 17:58] #660 closed

[2016-08-08 20:57] addev-ashish opened #716 "improve telemetry around NSURLErrorDomain"
We need to be able to breakdown which request caused this error,
How long did we wait
what was the error code.

[2016-08-08 23:22] RPangrle commented on #716
NSURLSession metrics will get us a lot more information on this, but we'd need to switch to NSURLSession first. https://developer.apple.com/videos/play/wwdc2016/711/

[2016-08-09 00:17] RPangrle commented on #710
I'm not seeing any of these crashes on 10.12 beta. Looking at where it's crashing (objc_retain and objc_release) is often indicative of the in-memory cache getting corrupted. I would recommend running your app with guard malloc on to see if you can catch anything stomping on memory in your app.

[2016-08-09 05:12] jasoncoolmax commented on #716
"which request caused this error"
"How long did we wait"
"what was the error code"

The above three pieces of info have already been captured by the telemetry http event in PR #706

[2016-08-09 10:34] marchv opened #717 "Cannot sign-in/up with Facebook/Google on iOS 10"
Hello there :)

We have successfully used ADAL iOS to sign-in/up using Facebook/Google accounts on iOS 9.x. But now **on iOS 10 betas it fails almost all the time** :S

ADAL now dumps below to the Xcode console when I touch the 'Facebook' or 'Google' button in our app:

    ERROR: authorization error. Additional Information: The operation was cancelled.. ErrorCode: 3072.
    ERROR: Error raised: 3

[2016-08-09 19:07] RPangrle commented on #693
I've done some work to mitigate this. The static lib build has been split into two libs, one that'll copy headers and one that won't. This way you'll be able to include the xcode project in your project and choose framework or static libs, you won't be able to do both though.

[2016-08-09 19:07] #693 closed

[2016-08-09 19:19] RPangrle commented on #692
We already can pull this from publicly available information in [NSBundle mainBundle]

[2016-08-09 19:21] RPangrle commented on #656
This specific case is difficult because the OS does not let us know that the user chose not to allow the app to switch. The best we'll be able to do is use a timeout, but we're undecided on that.

[2016-08-09 19:22] #97 closed

[2016-08-09 19:24] RPangrle commented on #654
Closing as we haven't heard back in 2+ months, and this was an OS issue that was supposedly fixed in 9.3

[2016-08-09 19:24] #654 closed

[2016-08-09 19:25] RPangrle commented on #696
You should send such questions to Stack Overflow, be sure to use the ADAL tag.

[2016-08-09 19:25] #696 closed

[2016-08-09 19:58] RPangrle commented on #583
Closing due to lack of feedback.

[2016-08-09 19:58] #583 closed

[2016-08-10 14:28] marchv commented on #717
Hi @RPangrle :)

I've noticed you've made https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/713 on the 1.2.x branch.

I then applied the same changes to *convergence-dev* branch and it seemed to fix the issue! :D

Would it be possible for you make the same fix for the *convergence-dev/convergence* branches too? Or do like me to make a pull request?

Thanks!

Best regards Jens

[2016-08-11 08:34] kibagami commented on #583
Experiencing the same issue with AdalJS v1.0.11

[2016-08-11 10:03] mborysenko commented on #583
Experiencing the same issue with AdalJS v1.0.11. No matter which api is requested beta or v1.

[2016-08-11 19:33] RPangrle opened #718 "application:openURL:options not swizzled correctly if not already defined (iOS 9+)"

[2016-08-12 03:02] atdrendel commented on #710
@RPangrle You are right that 10.12 was not an issue. However, the crash does exist. I just reproduced it on my 10.11 machine running a development version of the app attached to the debugger. I always run the app with Address Sanitizer, and it did not raise an issue.

In the past, I've noticed that the class convenience methods for `NSKeyedArchiver` and `NSKeyedUnarchiver` don't seem to be thread-

[2016-08-12 06:12] RPangrle commented on #710
NSKeyedArchiver is thread safe, but NSMutableDictionary is not. We'll need to lock down the cache while doing a serialize operation.

[2016-08-12 15:45] atdrendel commented on #710
@RPangrle Yeah, that makes sense and would definitely account for the crash.

[2016-08-12 19:59] RPangrle commented on #717
You're welcome to do that. Our current guidance is that the convergence versions of ADAL are experimental/preview only, in our sample apps for b2c we're using the NXOAuth2 library:

https://github.com/Azure-Samples/active-directory-ios-native-nxoauth2-b2c

[2016-08-12 20:11] marchv commented on #717
Thanks for the reply! OK I understand. But to my understanding the convergence branch is the option if we like to sign-in with Facebook and Google right?

Will do pull request next week then :)

[2016-08-12 20:12] RPangrle commented on #717
We highly recommend against shipping any product with an experimental library. There are other OAuth2 libraries (like NXOAuth2) that work with b2c that are not experimental.

[2016-08-12 20:18] jasoncoolmax opened #720 "Handle redirect uri that starts with "http://""
For ADURLProtocol, we need to make sure the redirect uri, which is the end url used to go back to the app, goes through even though it is in the form of "http://***".

[2016-08-12 20:39] atdrendel commented on #710
@RPangrle I've made a pull request that should address the issue. I'll include the code in our beta app to see how it works out. https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/721

[2016-08-12 21:21] atdrendel commented on #710
@RPangrle I'd be interested to see what you come up with read-write locks. However, in my experience using dispatch_barrier is much, much slower than `@synchronize`. If you are going to try with pthread read-write locks, you'll need to be careful. I'm not sure if pthread read-write locks are reentrant.

[2016-08-12 22:26] #710 closed

[2016-08-15 19:10] #720 closed

[2016-08-16 09:11] igoMobile opened #724 "Invalid Audience URI error 401"
I get the error 401 reason=\"Invalid audience Uri 'https://graph.microsoft.com/' when trying to access OneDrive folders.
I can successfully acquire an authorization token. However, when I analyze the token I see:

`aud": "https://graph.microsoft.com"`

but it should actually be

`https://[tenant redacted]-my.sharepoint.com`

I'm pretty confused. Am I doing something wrong? Thanks in advance for yo

[2016-08-16 09:28] igoMobile commented on #724
sorry, I forgot to mention, that I use
`pod 'ADALiOS', '~> 3.0.0-pre6'`

and my token looks like this:

`eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC85YzNkNzQyYi1kMjM2LTRhNTktYmY4MS0wNGUwNTg4ZTU4NWYvIiwiaWF0IjoxNDcxMzM1OTU0LCJuYmYiOjE0NzEzMzU5NTQsImV4cCI6MTQ3MTMzOTg1NCwiYWNyIjoiMSIsImFtciI6WyJwd2QiXSwiYXBwaWQiOiI1N2ZlNTI1ZC1iZTc2LTQ5OTUtOWExMy0xNmI3MDN

[2016-08-19 17:44] ogkent opened #727 "Bug: AD_ERROR_TOKENBROKER_RESPONSE_NOT_RECEIVED"
When adding a corporate account to Outlook that requires MAM CA, if the Authenticator App has to register the device, when the user is returned to Outlook after registration you see a ‘Something went wrong’ screen.

This only happens when the Authenticator app has to register the device. Returning to Outlook from the Authenticator App when adding an account works correctly if the Authenticator App

[2016-08-19 17:48] ogkent opened #728 "Bug: AD_ERROR_TOKENBROKER_UNKNOWN"
To repro:
1. Install the Authenticator app (don't add your account)
2. Install Outlook and go through the conditional access flow. After you add your account, you'll be redirected back to Outlook with an `AD_ERROR_TOKENBROKER_UNKNOWN` error.

Here are the logs: [tokenbroker-unknown.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/427617/tokenbroker-unknown.txt)

[2016-08-23 02:13] kohdesmond opened #730 "SampleSwiftApp dyld`dyld_fatal_error:"
Hi Mate,

i encountered this crash when i run the SampleSwiftApp on device.

error was:

**dyld: Library not loaded: @rpath/ADAL.framework/ADAL
  Referenced from: /var/containers/Bundle/Application/639571DF-571F-45DC-A4F0-3FC2A5B65C29/SampleSwiftApp.app/SampleSwiftApp
  Reason: image not found**

Weirdly simulator seems to work fine.

[2016-08-23 18:21] RPangrle commented on #730
Yeah, the app target is missing the embedded binary. I'll be fixing that soon. Thanks for the report.

[2016-08-26 00:18] #730 closed

[2016-08-29 22:18] RPangrle opened #740 "Generate the various files with version info as part of the build"
Right now there is 4 different places in ADAL_Internal.h that have version information in them, on top of the info.plist files for the various ADAL frameworks. There should only be one place where this version information is defined and then generate the rest in a build script.

[2016-08-30 13:47] 5fcgdaeb opened #742 "ADKeychainUtil.h file not found (master branch - 2.2.4)"
I have recently upgraded from 2.2.1 to the latest master branch (currently tagged at 2.2.4) and I get compilation error:

#import "ADKeychainUtil.h" (inside ADKeychainTokenCache.m) -> ADKeychainUtil.h file not found

That file is supposed to be under ADAL/src/utils but I have checked to see that it is not there. The file exists but it hasn't been added to the project (.pbxproj file). I have added

[2016-08-30 17:31] joeydong commented on #742
Hi Guven,

Yeah I've run into this sometimes when attempting to compile the iOS and Mac targets in the same build run. Does compiling just one or the other work for you?

I think it might just be an Xcode limitation and we should either split the "Build All" target by platform or get rid of it.

[2016-08-30 17:32] joeydong commented on #742
Oh I totally didn't read what you wrote. Yeah you might have found the actual source of the problem! Maybe open a PR?

[2016-08-30 20:54] RPangrle commented on #742
ADKeychainUtil.h is in the pbxproj: https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/ADAL.xcodeproj/project.pbxproj#L517

[2016-08-31 08:59] 5fcgdaeb commented on #742
Yes, I can now see the ADKeychainUtil.h and ADKeychainUtil.m files. I am guessing that was due to the XCode indexing issues.

I also had to include ADAL-core library & target instead of the ADALiOS ones to get it working again. The ADAL version upgrades usually end up being breaking updates for us. We are not using CocoaPods for integration, I am sure that is not helping us either.

Closing the is

[2016-08-31 08:59] #742 closed

[2016-08-31 10:49] kohdesmond commented on #730
Thanks!

[2016-08-31 10:58] kohdesmond opened #745 "how long does access token in cache expired for iOS when user changed password?"
Hi Guys,

I encountered a weird problem.

I have no problem logging into ADAL

WITH
`authContext.acquireTokenWithResource(resourceUrl, clientId: clientId, redirectUri: redirectUri, promptBehavior: AD_PROMPT_ALWAYS, userId: nil, extraQueryParameters: "nux=1&login_hint=desmondkoh@") `

AND

` authContext.acquireTokenSilentWithResource(resourceUrl, clientId: clientId, redirectUri: redirectUri)`

BUT

[2016-08-31 17:25] jasoncoolmax commented on #745
@kohdesmond Could you send such questions to stackoverflow, such that other people can benefit from it, be sure to use the ADAL tag :)

[2016-09-01 01:22] kohdesmond commented on #745
@jasoncoolmax good call posted

[](http://stackoverflow.com/questions/39261347/after-user-changed-password-how-long-does-adals-cached-access-token-expired-fo)

[2016-09-01 15:20] MaxLesMsft opened #746 "Bug: Authenticator App does not pick up CA flow from Outlook when installed from app store"
If the user is prompted to install the Authenticator App for a Conditional Access flow, then installs and launches the Authenticator App from the App Store page, the Authenticator App does not pick up the ‘register device’ flow. Launching the Authenticator App brings you to the standard launch screen, rather than continuing with authentication that Outlook started.

Repro steps:
- Install Outlook,

[2016-09-07 17:27] #745 closed

[2016-09-09 17:45] RPangrle opened #753 "NTLM does not work in app extensions"
We use a UIAlertView to preset the credential prompt, which is not allowed in app extensions. Right now the end result most likely is that the prompt never gets shown and we get stuck.

[2016-09-09 17:48] RPangrle commented on #483
With iOS 10 coming out Apple is going to be less-and-less concerned about breaking something that was deprecated in iOS 9. We should probably look at doing this soon.

[2016-09-09 17:49] RPangrle opened #754 "License.txt needs to be updated."
We're MIT license now.

[2016-09-09 17:50] RPangrle opened #755 "Remove 32-bit Mac Support"
I don't think anyone is using it anymore now that Office is 64-bit only on Mac.

[2016-09-09 17:51] RPangrle opened #756 "ADALiOS target is no longer producing a libADALiOS.a file"

[2016-09-09 18:27] #754 closed

[2016-09-11 04:59] RPangrle opened #762 "Xcode 8: Unit tests don't work"
We get -34018 keychain errors in the simulator for our unit tests. We need to run the unit tests in a host app to make the keychain errors go away, however there is also the danger that will add further complications on Travis because everything seems to insist on being code signed now...

Add to that the messiness with xcodebuild getting tripped up on our Swift sample app if things aren't just ri

[2016-09-11 05:01] RPangrle opened #763 "Xcode 8: Test app xibs need to get "fixed" for Xcode 8"
While you're doing that make sure to choose the xcode 7 compatibility option from the side... just in case we need to keep everything building in xcode 7 for now.

[2016-09-13 18:16] #740 closed

[2016-09-14 08:57] 5fcgdaeb commented on #756
I am guessing this is the same issue.

We have been told to upgrade to version 2.2.5 or higher with the release of iOS10. However, we now can't release our app due to the error:

chown: /Users/XXX/Library/Developer/Xcode/DerivedData/XXXX-amrtjmthfmzhgndkjeqsrgbqkkax/Build/Intermediates/ArchiveIntermediates/Sales/IntermediateBuildFilesPath/UninstalledProducts/iphoneos/libADALiOS.a: No such file or

[2016-09-14 21:40] joeydong opened #773 "Crash in internalHandleBrokerResponse: when we try to process something that is not actually a broker response"
The Outlook app switches to the Authenticator app to collect Intune diagnostic logs. The last step of that process is to app switch from Authenticator back to Outlook.

The problem is that ADAL is catching this `application:openURL` in Outlook and attempting to handle a call from Authenticator when auth is not currently in progress. This leads to a crash because ADAL attempts to execute a non-exis

[2016-09-15 00:23] RPangrle commented on #756
You can link in the libADAL-core.a file as well.

[2016-09-15 00:42] RPangrle commented on #773
This is a side effect of using a general-purpose error checker where it's possibly not-quite appropriate. In the past we never expected any app to invoked via URL by anything other then broker

https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/request/ADAuthenticationRequest%2BBroker.m#L96

[2016-09-15 04:02] ogkent commented on #773
@RPangrle when will you address this? We'd like to fix in our next update since it's blocking one of our key diagnostic flows. If it won't be formally patched, do you have a quick hack you recommend?

Related question: Why are you swizzling openURL? I would rather be asked to add an explicit ADAL handler to the openURL just like the Facebook SDK, or our own URL handling.

[2016-09-15 16:09] joeydong commented on #773
Does the broker callback from Authenticator use a specific URL path? If so, we can filter by that and have ADAL ignore the call if it doesn't match what is expected. I think right now the ADAL handler only checks the url scheme (`com.microsoft.azureauthenticator`).

https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ADAuthenticationContext.m#L254

[2016-09-15 16:28] tsteele2013 commented on #97
Alas, with the release of Swift 3.0, the example I provided above no longer works. Should this be reopened?

[2016-09-15 18:25] RPangrle commented on #773
@ogkent I'm working on a fix right now. We're swizzling openURL because our design goal is to reduce the number of steps developers have to go through to set things up, otherwise the number of inquiries we'd get from teams that didn't follow directions quite right would be high.

@joeydong There is no specific path we can rely on because we're obligated to use whatever the passed in redirect URI w

[2016-09-15 21:53] jasoncoolmax opened #774 "Run Script in build phase not run property when project dir contains spaces"
This is because there is no quotes on the run script arguments.

[2016-09-15 22:53] eddiekim opened #776 "App review rejection due to private API (dispatch:)"
We just received notice from Apple that our app submission failed review because a private API `dispatch:` was used. We suspect that it's failing because of [ADDispatcher's similarly named method](https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/telemetry/ADTelemetry.h#L40). We're patching/resubmitting now, and I'll follow back up to confirm if this is the issue

[2016-09-15 23:02] RPangrle commented on #776
/facepalm

sigh.

[2016-09-16 12:08] marchv commented on #717
@brandwe, I believe release 3.0.0-pre7 addresses the same issue? If yes, we can close this issue. Thanks a lot and have a nice weekend :)

[2016-09-16 17:21] eddiekim commented on #776
Here is the PR: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/777

Not sure if I based against the right branch, but the changes are simple to apply by hand if it's wrong.

[2016-09-16 18:05] #774 closed

[2016-09-16 18:09] eddiekim commented on #776
Closing. https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/777 was merged.

Thanks!

[2016-09-16 18:09] #776 closed

[2016-09-16 19:43] RPangrle commented on #773
@ogkent I have a fix, but the necessary changes to make sure the original message falls through to Outlook is somewhat invasive and requires more testing that we're doing right now. There probably will not be a comprehensive fix available until next week.

In the mean time I realized there is one thing you can filter on. We do require a path component that matches the app's bundle ID, so a small h

[2016-09-16 20:20] joeydong commented on #773
What's the disadvantage of doing this vs your more involved fix? Do you want to push your branch so that we can take a quick look?

[2016-09-19 10:11] Neil3079 opened #778 "NSNotificationCenter observer memory leak"
Whilst profiling my app it seems like near the [ADBrokerHelper load] method some notification observers are not getting deallocated correctly causing leaks

<img width="941" alt="adalleakone" src="https://cloud.githubusercontent.com/assets/2815318/18628730/82c80cde-7e59-11e6-9122-bf3fc01b24e4.png">

There seem to be a few more of these leaks when invoking the framework.

I am using the ADAL framew

[2016-09-19 21:34] RPangrle commented on #773
Filtering out messages doesn't fix the underlying problem that there are codepaths where we're not properly validating data that can cause crashes. I would rather make those codepaths more robust to malformed data in case there are other instances where those codepaths could be hit. I will be pushing the change shortly.

[2016-09-20 08:53] ajitkumar1 opened #781 "ADALiOS update failure to 1.2.9 version"
My native iOS app connects to office 365 through ADALiOS.
Currently is is using ADALiOS 1.2.4 and Office365 0.11.0.
With the new iOS 10 update the log in to office 365 is not working.
So ADAL is recommending to update the library to 1.2.9

Below is the pod file which i am using to update
`pod 'Office365', '~>0.11.0'
pod 'ADALiOS', '~>1.2.9'

target 'Compen10' do

end`

With this the 'pod update' c

[2016-09-20 18:39] RPangrle commented on #781
Please take this up with the Office 365 SDK team, this is not an ADAL issue.

[2016-09-20 18:39] #781 closed

[2016-09-20 18:43] RPangrle commented on #746
If you are using a dev or enterprise signed Outlook then it can't write pasteboards in a way that Authenticator can see and this won't work. Outlook and Authenticator have to be signed with the same cert.

[2016-09-21 03:02] vishrutshah opened #784 "How to use non-interactive Azure AD login using Service Principal"
Hi There,

I am new to iOS development. I have been using [Azure Service Principal non-interactive logins](https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/) in [azure-sdk-for-ruby](https://github.com/Azure/azure-sdk-for-ruby) and [azure-sdk-for-node](https://github.com/Azure/azure-sdk-for-node). Is there a way to use this ADAL package to do lo

[2016-09-21 18:37] RPangrle commented on #784
Please send questions to Stack Overflow and tag them with adal

[2016-09-21 18:37] #784 closed

[2016-09-21 18:44] RPangrle opened #785 "Add nullability markers to all public API headers"

[2016-09-21 19:17] yozho opened #786 "Cannot load the customized ADFS sign In page on iOS9"
This is an issue reported from customer support of Office iOS App, when user tried to sign in with <redacted> in Office, after 3 redirections, the real signin page should be loaded, yet on iOS 9 devices, it just loaded a black page;

The issue doesn't repro on iOS10 Office iOS  or Mac Office, only iOS9 Office apps are impacted.

Is this a known issue?

The test account is <redacted>, I can repro i

[2016-09-21 19:44] #786 closed

[2016-09-21 20:07] HelenL75 opened #787 "The user credentials are need to obtain access token"
Hi,
I'm running into a problem like this [post](https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/561) here.  Full description of the problem that I'm facing is posted on stackoverflow [here](http://stackoverflow.com/questions/39619309/adal-cordova-plugin-unable-to-retain-token-on-ios).
I don't quite understand how to fix this issue.  Do I need to store the token on my own f

[2016-09-27 18:17] dimabs opened #788 "Failing to fetch AD token"
2016/09/23 17:36:00:515  Failed to get AAD token, error: Error with code: 500 Domain: ADAuthenticationErrorDomain ProtocolCode:invalid_client Details:AADSTS70002: Error validating credentials. AADSTS50006: Signature verification failed. [Reason - The key was not found., Configured keys: [Key0:Start=01/01/0001, End=12/31/9999;]]

Trace ID: 62d15e06-c6b7-4e85-b17f-99a36e43a195

Correlation ID: 9307a

[2016-09-27 23:04] dimabs commented on #788
ADAL version 2.2.5

[2016-09-27 23:20] dimabs opened #789 "Fail to fetch token with ADAL version 2.2.6"
Sep 27 16:19:13 DimaDevPhone com.apple.xpc.launchd[1](com.apple.splashboard) <Notice>: Service only ran for 0 seconds. Pushing respawn out by 10 seconds.
Sep 27 16:19:17 DimaDevPhone Microsoft Authenticator[513] <Warning>: ADALiOS [2016-09-27 23:19:17 - 8E6B5172-A9CD-43DC-8A2F-DD9B83339892] VERBOSE: -webAuthShouldStartLoadRequest:. Additional Information: (null). ErrorCode: 0.
Sep 27 16:19:17 Dima

[2016-09-28 20:58] #787 closed

[2016-09-28 21:01] #717 closed

[2016-09-28 21:15] RPangrle commented on #788
Is this the first authentication attempt after going through a device enrollment flow (the "register" button). Does it work on subsequent broker auth attempts?

[2016-09-28 21:18] #778 closed

[2016-09-28 21:35] #773 closed

[2016-09-29 09:03] michalcichon opened #790 "ADALiOS and Office365"
Is there a way to use any iOS 10 compatible version of ADALiOS with Office365 pods?

When I want to upgrade ADALiOS to 1.2.9, then Office365 is downgrading to 0.9.0. I was using 0.9.1 previously. Upgrading Office365 to 0.11.0 cause downgrade of ADALiOS to 1.2.4.

Is there a way to get this working?

[2016-09-29 09:47] michalcichon commented on #790
When I changed:

[code]

To:

[code]

Then it starts to compile cocoapods but in logs I can find:

[code]

It tells that ADALiOS 1.2.4 is installed. Why?

[2016-09-29 13:03] michalcichon commented on #790
I have created a fork of Office365 (version 0.9.1) and upgrade its ADALiOS to 1.2.9 using recommended configuration:

`pod 'ADALiOS', '~> 1.2'`

But I am still not able to sign-in successfully. Logs from cocoapods:

[code]

[2016-09-29 17:59] ArEnSc opened #791 "ADAL Compile for cocoapods"
http://stackoverflow.com/questions/39774969/office-365-sdk-ios-cocoa-pod-does-not-work-angled-brackets-error-import-adau

[2016-09-29 18:21] dimabs commented on #788
I don't have other authentications. I have single app. This is first attempt

[2016-09-29 22:54] dtweston opened #794 "Possible memory leaks"
Hello!

I was running my project in Xcode 8 and checking things out in the Visual Memory Debugger. There seemed to be a lot of leaks coming from this library. I had a quick look at making a pull request, but it seems like the code base is still supporting non-ARC compilers, and I didn't feel confident about making the required changes.

The biggest issue that I noticed in my project was [this code

[2016-09-29 22:56] RPangrle opened #795 "Update Swift sample to Swift 3.0"

[2016-09-29 23:04] dtweston commented on #794
I updated the code I mentioned above to look like this:
[code]

and that seems to fix it, but I'm not sure what the corresponding version would be for non-ARC.

[2016-09-30 00:16] jasoncoolmax commented on #791
If you only keep pod 'ADAL', '~> 2.2' in your pod file, things work fine. So it is not an issue of ADAL cocoapods. I think it is the issue of other packages which use ADAL.

[2016-09-30 13:55] ArEnSc commented on #791
I swore someone wrote something useful the other day looking for that email github .... , about this issue anyways yeah sure its not a ADAL problem, but the office 365 needs ADAL and cannot find its the header.

[2016-09-30 21:25] #762 closed

[2016-09-30 22:54] rajahimanath commented on #795
which version of this app will work well? with Xcode 7 and swift 2.3?

[2016-09-30 23:21] RPangrle opened #796 "UI is appearing when using AD_PROMPT_AUTO on mac, even when there is already a valid token in cache"

[2016-09-30 23:29] RPangrle commented on #796
Not actually a bug in ADAL, a bug in my test app.

[2016-09-30 23:29] #796 closed

[2016-10-03 09:28] #790 closed

[2016-10-04 20:25] #756 closed

[2016-10-04 20:29] RPangrle commented on #794
This is typically required when 'self' also has a strong reference to the block in question (see: http://stackoverflow.com/questions/20030873/always-pass-weak-reference-of-self-into-block-in-arc) I don't see that in this case as it's an anonymous inline block being passed in.

[2016-10-04 21:48] karlbarek opened #798 "Swift Sample App"
I'm getting the following error:
_ViewController.swift:38:63: Cannot convert value of type '(ADAuthenticationResult!) -> ()' to expected argument type 'ADAuthenticationCallback!'_

in the function:

[code]

[2016-10-04 22:18] dtweston commented on #794
Yes, but if you look at the second link: `-send:` is implemented in the parent class ADWebRequest and stores the completion block in a property on `self`:

[code]

Does that make sense?

[2016-10-04 22:34] RPangrle commented on #794
I'm hesitant to make any change that on the face of it looks suspicious because of something the implementation of another method does. The right response here would be to break the retain cycle by having the parent class clear out _completionHandler once it has been hit.

[2016-10-04 22:36] dtweston commented on #794
Yeah, I believe that will work too. It'll just be a short-lived retain cycle then.

[2016-10-05 22:44] RPangrle opened #800 "Mac: ADAL Window should pop up on same monitor as previous active window"

[2016-10-05 22:45] RPangrle opened #801 "Mac: NTLM prompt causes crash due to trying to show UI on background thread"

[2016-10-06 13:27] tsteele2013 commented on #798
I've received the same error in my app as well. Waiting (somewhat desperately) for the team to update their documentation. If I get the time to resolve the error myself before hand, I'll be sure to post my code on here!

[2016-10-10 21:45] RPangrle opened #805 "+[ADInstanceDiscovery canonicalizeAuthority:] removes port number"
This causes ADAL to fail whenever it is pointed at a non-standard port.

[2016-10-10 21:45] RPangrle commented on #805
@kpanwar Is this expected behavior?

[2016-10-13 01:21] brandwe commented on #798
@RPangrle can you take a look? This is Swift.

[2016-10-13 21:55] #801 closed

[2016-10-13 22:48] brandwe commented on #798
Assigning to @jasoncoolmax to take a look.

[2016-10-14 06:39] jasoncoolmax commented on #798
@karlbarek the Swift Sample app has been updated to Swift 2.3, kindly check the dev branch. Release with such an update will be coming later.

@tsteele2013 If you project is using Swift 2.3, the above piece of code should work.
If your project is using Swift 3.0, you can try to replace (result:ADAuthenticationResult!) with (result), although I am still not sure whether this is the optimal conversi

[2016-10-18 00:14] eddiekim opened #810 "Keychain "add" operation fails from brokered auth"
Users are unable to stay logged in because the brokered auth flow fails to save tokens to keychain. Non-broker flow is fine.

branch: `release/2.2.7`

App logs:

    error = "Error with code: -34018 Domain: ADKeychainErrorDomain ProtocolCode:(null) Details:Keychain failed during \"add\" operation. Inner error details: Error Domain=ADKeychainErrorDomain Code=-34018 \"(null)\"";
})

Device console:

[2016-10-18 19:10] tsteele2013 commented on #798
@jasoncoolmax Sorry, didn't see that you'd responded. Thanks for getting back with a resolution so quickly... The error went away, So after I'm able to build my project, I'll let you know if your fix was successful. Thanks!

[2016-10-18 20:33] #810 closed

[2016-10-19 15:04] krunalbhavsar opened #812 "Sign-In issue - Calling principal cannot consent due to lack of permissions"
ADAL 2.2.8-dev iOS
Error - Calling principal cannot consent due to lack of permissions

Please update

[2016-10-19 15:12] ddrdjboy opened #813 "Does ADAL 2.2.6 support SSO via Comp Portal(Not Authenticator app)?"
Hi,

Thank you for read this issue.
We are using ADAL 2.2.6 on my company's project. I found that ADAL SSO works via Comp Portal on Android Platform. I just want to confirm that if ADAL 2.2.6 on iOS has the same feature or not?

Thanks,
Sam

[2016-10-19 17:38] RPangrle opened #814 "Broker acquireToken path does not pass along keychain errors."

[2016-10-19 22:49] RPangrle commented on #813
Company Portal does not act as an authentication broker on iOS.

[2016-10-19 22:49] #813 closed

[2016-10-19 22:59] RPangrle commented on #812
1. Please use released versions of ADAL. The latest release of ADAL is 2.2.6, you can always use the releases page to find the latest: https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases

2. The error described is due to a combination of that tenant and your application listing. You will need to the tenant administrator to allow your app.

[2016-10-19 22:59] #812 closed

[2016-10-19 23:00] #805 closed

[2016-10-24 21:02] anivaros commented on #74
Why not? Our users for example don't want to enter username and password every time they need preview encrypted document.

[2016-10-24 21:24] xerners commented on #74
@arivaros We absolutely have the ability to cache credentials once entered. We collect username and password in a webview.

[2016-10-26 23:50] rajahimanath commented on #654
i am still getting this error.. Did Apple claim to fix this issue?

[2016-10-27 23:17] RPangrle commented on #791
This is not a bug in ADAL.

[2016-10-27 23:17] #791 closed

[2016-10-28 00:08] corbinreynolds opened #818 "Crash from pressing "Get the App" in NSURL"
There is a nil string passed as a parameter into the NSURL initializer.

It’s a 100% repro when the “Get the App” button is pressed using the following credentials:

<redacted>

Stack trace and exception are attached.

![adal-crash-stack](https://cloud.githubusercontent.com/assets/1886912/19789866/0287bfba-9c68-11e6-8511-ac203804c050.png)

[2016-10-28 00:09] corbinreynolds commented on #818
[adal-crash-exception.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/557313/adal-crash-exception.txt)

[2016-10-28 17:07] corbinreynolds opened #819 "Crash with Chinese Characters"
`ADAuthenticationContext.acquireTokenWithResource` includes an `extraQueryParameters` parameter. We are seeing an exception / crash when Chinese characters are used in the domain name of the `login_hint` passed in the `extraQueryParameters` parameter.

The result is that the `startUrl` is nil when `ADWebAuthController` is initialized and an exception is thrown, crashing the app.

Instead of throwi

[2016-11-01 08:40] thanhdonghuiit opened #820 "Button login not work when keyboard showed."
![dd7b0918-a048-11e6-95ab-7263059a62ef copy](https://cloud.githubusercontent.com/assets/3241902/19892025/5fdfc732-a075-11e6-904c-3055678e1233.jpg)

At status keyboard showed, I click Sign in[button]. It only hides keyboard but doesn't sign in. I must touch again to sign in.
How can I make it work fine?

[2016-11-01 20:02] sadefigu opened #821 "AD_ERROR_TOKENBROKER_RESPONSE_NOT_RECEIVED when using Localytics together with Broker auth through ADAL"
PROBLEM

When using Localytics library together with Adal, __swizzle_ApplicationOpenURL method never gets invoked from the Broker after authenticating with azure.

REPRO

1- Install ADAL and Localytics frameworks

2- At your AppDelegate, start Localytics

    func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {
        Localyti

[2016-11-03 12:54] anivaros commented on #293
Hello! Can I use CBA to auth user from my app with ADAL on ADFS, not Azure?

[2016-11-03 17:41] RPangrle commented on #293
No

[2016-11-07 19:08] #819 closed

[2016-11-08 01:06] #818 closed

[2016-11-09 17:47] anivaros commented on #293
Very sad :(
Do you have any plans to implement CBA flow for authentication on ADFS?

[2016-11-10 00:25] jasoncoolmax opened #828 "_authenticationViewController does not nil out when webview timeout happens"
This will affect the authenticator SDK in the following way:

If `_authenticationViewController` does not nil out when webview timeout happens,
when the next time `invokeBroker` is being called, it will find that there is an ongoing web auth session going on (which is not true) and will wait for it to end forever.

[2016-11-10 23:03] RPangrle commented on #820
The behavior in the webview is dictated by the OS and out of our control.

[2016-11-10 23:03] #820 closed

[2016-11-11 21:21] RPangrle opened #832 "Add telemetry validation to the acquireToken tests"
The only testing of telemetry is testing the API surface itself, there is no validation of the telemetry stream coming out of library usage. We minimally should add telemetry validation to our acquireToken tests.

[2016-11-14 10:26] DianaD96 commented on #97
That would be greatly appreciated!

[2016-11-16 18:24] joelklabo opened #836 "Cannot log in on Verizon, due to phone call disconnecting network"
Has this issue been raised before? We have some app review complaints that users can't log in on LTE because the 2 factor auth phone call kills the connection.

[2016-11-17 20:17] RPangrle commented on #836
Yes, but there's not much we can do here on the ADAL side because it's unsafe to retry the connection afterwards (that causes other issues on a number of environments). If possible we recommend switching the 2FA to notifications.

[2016-11-23 14:51] anivaros opened #840 "ADAuthenticationViewController never deallocated"
**Summary:**
Instances of ADAuthenticationViewController in WebAuth flow are never being deallocated

**Steps to Reproduce:**
1. Start and end web auth multiple times
2. See Xcode's "Debug memory graph"

**Expected Results:**
No instances of ADAuthenticationViewController

**Actual Results:**
Multiple instances of ADAuthenticationViewController. It's dealloc method never called.

![screen shot 201

[2016-11-29 20:15] #840 closed

[2016-11-29 23:17] #836 closed

[2016-11-29 23:18] RPangrle commented on #798
This is a duplicate of #795

[2016-11-29 23:18] #798 closed

[2016-11-29 23:20] RPangrle commented on #789
If the server is returning access_denied that usually is a problem with your tenant and/or application configuration, and not specific to ADAL.

[2016-11-29 23:20] #789 closed

[2016-11-30 16:20] kristoferreierson opened #846 "Crash in promptBrokerInstall"
While doing testing on a ctip account, I found that + (void)promptBrokerInstall:(NSDictionary *)brokerParams
          completionHandler:(ADAuthenticationCallback)completion

will cause the app to crash.

The code:
    NSString* url = [qpDict valueForKey:@"app_link"];

Assumes that url will never be null and calls:
         [ADAppExtensionUtil sharedApplicationOpenURL:[[NSURL alloc] initWithString

[2016-11-30 19:37] RPangrle commented on #846
Duplicate of #818

[2016-11-30 19:37] #846 closed

[2016-12-07 21:25] RPangrle opened #851 "Replace NSAlert usage to fix keyView loop issue on Mac"
NSAlert modifies the keyView loop after it is created, this causes tabbing to get stuck between the cancel and login buttons. To fix this bug we'll have to remove NSAlert usage.

[2016-12-12 21:56] #832 closed

[2016-12-12 22:01] #695 closed

[2016-12-12 22:03] #724 closed

[2016-12-12 22:04] RPangrle commented on #656
There's no way we can accurately give an error because the OS doesn't let us know. Closing as By Design/Apple

[2016-12-12 22:04] #656 closed

[2016-12-12 22:05] RPangrle commented on #763
"Fixed" this by removing our use of xibs in iOS.

[2016-12-12 22:05] #763 closed

[2016-12-12 22:06] RPangrle commented on #828
I'm pretty sure this isn't authenticator specific.

[2016-12-12 22:09] #828 closed

[2016-12-12 22:16] #692 closed

[2016-12-13 20:33] dancrevier opened #855 "ADTokenCacheItem.tombstone should be marked nullable"
This property can be nil, but is not marked as nullable in the header file. This leads to compiler errors when trying to check it for nil.

[2016-12-14 03:34] dancrevier opened #857 "ADTelemetry/ADTelemetryProperty are not swift friendly"
They should properly annotate what's nullable via NS_ASSUME_NONNULL_BEGIN/END and use lightweight generics.

[2016-12-14 03:36] dancrevier opened #858 "ADTelemetry should use a dictionary for events instead of an array of ADTelemetryProperty"
Should it be part of the contract that property names are unique per event? If so, it should use a dictionary.

[2016-12-22 02:00] faisalil opened #861 "Build error when using this importing "ADAL/ADAuthenticationContext.h""
Hey,

I am following your documentation and trying to build my xcode project. So far, I am able to build the project fine before I import "ADAL/ADAuthenticationContext.h". The error I am getting is mainly ".../Pods/Headers/Public/ADAL/ADAL/ADAuthenticationContext.h:127:12: Unknown type name 'WebViewType'"

A couple of question:
1) Am I importing the right file?
2) How can I fix this issue?

Faisal

[2016-12-22 02:08] faisalil commented on #861
More info : http://stackoverflow.com/questions/41274780/ios-project-build-failed-when-importing-adal-adauthenticationcontext-h

[2016-12-26 19:02] jasoncoolmax opened #862 "Remove the 5-min timeout timer before popping up webview"
Currently there is a 5-min timeout timer set up before popping up webview for UI interaction. We may want to remove it completely as some logins may take quite some time.

[2016-12-27 00:03] micchyboy1023 opened #863 "Use iOS Facebook account to login."
Please integrate facebook account on iOS devices to login.

The origibal facebook sdk enables users to login their account integrated to the devices.

Users must login to Facebook again even if they already logged in.
It's bad user experience.

[2017-01-03 18:11] RPangrle commented on #863
I assume you're talking about the experimental version of ADAL. It is unsupported and not recommended for production use. Our recommendation is to use the NXOAuth2 library instead.

[2017-01-03 18:11] #863 closed

[2017-01-03 18:12] RPangrle commented on #861
Have you tried importing via the umbrella header?

```#import <ADAL/ADAL.h>```

[2017-01-05 22:59] #855 closed

[2017-01-06 19:49] RPangrle commented on #384
@jasoncoolmax Is this data being collected in the current telemetry?

[2017-01-06 19:50] RPangrle commented on #389
Once we get the broker refactor in this should work...

[2017-01-06 20:01] jasoncoolmax commented on #384
Assuming "waiting time" is the time used for UI interaction, then yes :)

[2017-01-06 22:44] eddiekim opened #869 "Invalid broker redirect URI error message (2.3.0-rc1)"
We're testing the 2.3.0 release branch and receiving the `AD_ERROR_TOKENBROKER_INVALID_REDIRECT_URI` error message below.

Interestingly, this doesn't seem to affect the broker flow because I can still login and get launched back to Outlook.

Feel free to contact me directly for more logs or info.

[code]

---

Is it caused by this? https://github.com/AzureAD/azure-activedirectory-library-for-objc

[2017-01-07 00:22] RPangrle commented on #869
That particular line changed in 2.2.7.  It looks like a if check got dropped, although that same if check is duplicative of one that happens much earlier in the flow, thus it didn't trip up any tests, just causes extraneous log spew. I'll add back the if check.

[2017-01-08 05:33] osca2000 commented on #97
Can you update your swift sample and make it work again? Newbies like me all are chasing Swift not Object-C.

[2017-01-10 19:20] #869 closed

[2017-01-10 19:43] RPangrle commented on #814
@jasoncoolmax Make sure this works properly in the refactored broker sdk.

[2017-01-10 21:56] tsteele2013 commented on #97
@osca2000 The logout method was the only thing broken by Swift 3 I believe. Here's the current implementation I have. Let me know if you have any other questions.

[code]

[2017-01-12 20:41] tsteele2013 commented on #756
@RPangrle  Any chance you can update your README in Master? I just spent a few hours banging my head against the wall because I didn't know libADAL-core.a was a viable alternative to libADALiOS.a.

[2017-01-13 19:27] SergeyADoroshenko opened #872 "performance issue in every iOS app that uses ADAL"
On WWDC 2016, Apple had a session explaining how iOS apps start and what happens before main() is called. Here is the link for that: https://developer.apple.com/videos/play/wwdc2016/406/. At the end of session, Apple covered the issues that could be the reasons of slow app start up time. They described that before main() function is called, only one thread should be running: the main thread. Howev

[2017-01-13 20:46] RPangrle commented on #872
That code path is extremely sensitive, as messing up the timing between that code executing and openURL can cause broker messages to get dropped on the floor, breaking broker auth in scenarios where the application was terminated during auth.

[2017-01-13 22:18] SergeyADoroshenko commented on #872
@RPangrle: yes, it's very sensitive. As I understand, the code is trying to swizzle openURL: callback of App Delegate in advance. So, if the app is opened with openURL: call from another app, every call to the openURL: callback, including the first one, can be received by ADAL. Is it correct?

[2017-01-16 06:18] ogkent commented on #872
As discussed a few months ago when we were dealing with a crash, the proper fix is to stop swizzling openURL. I don't know any other SDK that swizzles that call. Facebook, for example, asks the developer to call

[code]

Why doesn't ADAL do something similar?

[2017-01-16 13:29] mhle opened #873 "Object Moved to Here message after logging in"
Hi,

I'm using ADALiOS 1.2.8 via CocoaPods in a Swift 2 project. I can login fine with my Live account and get the token but after inputting my password and clicking sign in a white page is displayed with the text: "Object Moved to here". Clicking on the link in the text gets me back to the app and I get the token.

Wondering if I'm doing anything wrong and how this page can be removed.

Cheers,

[2017-01-17 08:05] SergeyADoroshenko commented on #872
What will happen if an iOS app changes its app delegate in runtime? will ADAL stop working?

[2017-01-17 18:43] Boris-Em commented on #872
This issue is really impacting us. As @ogkent is saying, giving the user the responsibility to implement `openURL` sounds like a sound way of fixing it.

[2017-01-17 19:12] #755 closed

[2017-01-18 23:35] tempestn commented on #861
FYI I was facing same issue and importing via umbrella header fixed for me. Would suggest updating the iOS quickstart docs: https://www.dropbox.com/s/y2e9bhin5rif6sg/Screenshot%202017-01-18%2015.34.43.png?dl=0

[2017-01-19 19:43] RPangrle opened #874 "Write sample app for iOS in ObjC showing proper ADAL use patterns"

[2017-01-19 19:46] RPangrle opened #875 "Write sample app for macOS in ObjC showing proper ADAL use patterns"

[2017-01-20 19:02] jasoncoolmax opened #876 "Increase timeout interval for Webivew connection"

[2017-01-21 19:23] eddiekim commented on #872
[AppAuth](https://github.com/openid/AppAuth-iOS) and [Google Sign-In](https://developers.google.com/identity/sign-in/ios/sign-in) follow the same pattern and ask the client to handle `openURL` themselves.

[2017-01-23 15:44] IntDeXIOSSPPlugEng opened #878 "ADAL crashing due to object being released"
We are noticing some crashes via HockeyApp coming from the ADAL library since we upgraded to  ADAL 2.2.6 in October.
App Version  2.1.29 had 91 such crashes
App Version 2.1.30 had 242 such crashes
App Version  2.2.1 which we just released a couple days ago has 34 such crashes.

This crash is now the largest crash bucket in the App so we want to look more into it. All these crashes have the same st

[2017-01-25 00:05] RPangrle commented on #746
This should be fixed with 2.3.0 as long as you're using builds at the same signing level.

[2017-01-25 00:05] #746 closed

[2017-01-25 13:52] imvjhere opened #880 "Cancel OpenURL permission alert in iOS is not handled. Need to handle completion of OpenURL."
1. When App is installed for the 1st time, during authentication, alert appears to allow open -authenticator.
2. If user select 'cancel' - It wouldn't be handled.

There needs to be some provision in (void)sharedApplicationOpenURL:(NSURL*)url in ADAppExtensionUtil to deal with this scenario.

[2017-01-27 05:58] jasoncoolmax opened #882 "ADTelemetry is not thread safe"
It may cause crashes when there are multiple acquireToken calls going on at the same time.

[2017-01-29 20:08] drcrook1 commented on #583
I think I'm experiencing this issue.  https://github.com/Azure/azure-data-lake-store-python/issues/133

[2017-01-30 23:15] unpluggedk opened #884 "Add telemetry to ADURLProtocol"
Need to add more telemetry to ADURLProtocol.

[2017-02-01 22:39] jasoncoolmax opened #886 "Set web request to POST if body is set"
Currently there is a bug in the code path that is only used by broker. Broker needs the fix for this.

[2017-02-08 19:22] ogkent commented on #872
@RPangrle we'd really like some visibility on this issue. Is there a way you can make a fix without changing the interface, so we don't have to wait for a full version bump?

[2017-02-09 18:25] unpluggedk commented on #483
This has been completed as a PR referenced above.

[2017-02-09 18:25] #483 closed

[2017-02-09 20:02] jasoncoolmax opened #892 "NTLM dialog didn't pop up when pass-in webview is being used"

[2017-02-09 23:46] #882 closed

[2017-02-09 23:47] #892 closed

[2017-02-09 23:47] #886 closed

[2017-02-09 23:49] #862 closed

[2017-02-11 02:34] RPangrle commented on #880
Duplicate of #656

Apple does not provide a way for the developer to know that the user hit cancel, openURL still returns true in that case.

[2017-02-11 02:34] #880 closed

[2017-02-11 02:36] RPangrle commented on #878
Unless you have more logs to show there's no evidence that there's any ADAL is in any way involved. Please provide more information.

[2017-02-13 16:43] kgidewall opened #894 "Expand Resiliency Error Codes"
We currently invoke resiliency mode when the following conditions occur: network timeout or http error codes 500, 503, 504. After discussion, we have decided to expand the error code list to include ALL http error codes 500 - 599. Please change your logic to include all of those codes for Resiliency.

[2017-02-13 17:42] kpanwar commented on #851
@RPangrle - Do you think @msolivialuo can take care of this?

[2017-02-13 23:38] sadefigu commented on #821
The fix for #872 would solve this problem.

[2017-02-14 03:46] #876 closed

[2017-02-14 18:56] pwillsey opened #898 "Xcode Warnings"
We are currently seeing about 50 warnings from the ADAL library, they all appear to be problems with method documentation, where the `@param` name doesn't match the method signature. Here's an example:

[code]
In this example `@param validateAuthority` doesn't match the variable name `validate`. I'm happy to do a PR if necessary

[2017-02-14 20:25] dtweston commented on #898
I just submitted #900 to fix these issues.

[2017-02-15 23:18] RPangrle opened #901 "Compiler warnings on documentation mismatch"
Turn on the compiler warning, and it should be treated as an error as well. (See #900)

[2017-02-16 06:54] NazarovVassil commented on #583
Hello!

I had the same issue: "Access token validation failure" with one of the demos.  It turned out that these two entries in App.config: "**ida:GraphResourceId**" and "**ida:GraphEndpoint**" both had the erroneous value of "**https://graph.windows.net/**" whereas the correct value seems to be "**https://graph.microsoft.com/**". The error went away after the fix.

HTH

[2017-02-16 14:55] SanjibK opened #902 "Adal authentication error on iOS 8"
I am using adal for authentication in cordova ios project. App seems working fine on iOS 9+. But whenever trying to build on iOS8 simulator or device I am getting below error and authentication fails.

**ADALiOS ERROR: authorization error.  Additional Information: The operation was cancelled.. ErrorCode: 3072
ADALiOS ERROR: Error raised: 3072. Additional information: Domain: NSCocoaErrorDomain Pro

[2017-02-21 08:21] #902 closed

[2017-02-21 23:00] RPangrle opened #904 "ADWorkplaceJoinConstants.h : Constants should not be statically defined in a header file"

[2017-02-22 16:11] dbarchmann opened #906 "How to access userInformation"
In earlier versions it was possible to get the userInformation from the tokenCacheStoreItem. Since Pre4 that's not possible anymore. Can anyone tell how to get the userInformation? Thanks

[2017-02-27 00:56] juturu opened #909 "Ability to disable close button of auth window"
Is it possible to disable close button of auth window? We don't want the user cancel out the auth flow.

We are using the default webview experience and not using setWebView method on auth context. To achieve this if we want to go the route of setWebView, then how do we handle when to show the window?

[2017-02-27 23:02] bharadwaj509 commented on #136
I am still facing the same error. Is there any way we can check the expected and actual ids at the front-end. I am changing the usernames and project details in the below error.

MY_PROJECT_NAME[00012:691928] ADALiOS 1.2.9 [2017-02-27 22:03:55 - DFDBDA43-FFEB-4521-AA2F-9A074FC86788] ERROR:
Error raised: 19. Additional Information:
Domain: ADAuthenticationErrorDomain ProtocolCode:(null)
Details:Dif

[2017-03-03 18:42] jasohu opened #912 "Auto focus: When selecting user name text field, focus moves to the password field"
Steps:
1. When the ADAL web view shows up, click the user name field

Expected result:
Focus is on the user name field

Actual result:
Focus moves to the password field

This reproduces on various devices and I cannot find a pattern to it:
Does not reproduce:
1. iphone 9.2.1
2. ipad 8.4.1
3. ipad 9.3.3

Reproduces:
1. iphone 9.2
2. iphone 8.3
3. iphone 10.2

The issue seems to be a javascript issu

[2017-03-08 23:40] rayluo opened #916 "Add one more trusted authority host login.microsoftonline.us"
A new trusted authority host `login.microsoftonline.us` has been deployed, and we need to add it into our code base.

[2017-03-15 19:20] IsuruRanasinghe commented on #97
Hi @tsteele2013 ,
we have custom b2c policy for our application (including facebook). I can not see any place to add b2c policy in any example. Do you have any idea how to add policy to ADAL?

[2017-03-15 20:54] tsteele2013 commented on #97
@IsuruRanasinghe Unfortunately not... Although I'm sure it's possible. I may look into this if I have some free time.

[2017-03-21 00:01] jasoncoolmax opened #919 "Return AD_USER_CANCELLED when broker returns 403 error code"
Currently we return AD_FAILED even if error code from broker is 403.

[2017-03-21 13:56] mjcheetham opened #920 "[Automation Test App] Tapping Clear/Read Cache causes app to crash"
Tapping the "Clear Cache" or "Read Cache" buttons will cause the ADAL Automation Test App to crash when there have been no messages written to the ADAL logs.

The crash is because `_resultsLogs` is `nil`:
![screen shot 2017-03-21 at 1 47 19 pm](https://cloud.githubusercontent.com/assets/5658207/24150474/bb018200-0e3d-11e7-9f66-6e9c9cb9db5f.png)

![Call stack](https://cloud.githubusercontent.com/as

[2017-03-21 22:22] #529 closed

[2017-03-21 22:23] RPangrle commented on #857
ADTelemetry.h has nullability markers and generics.

[2017-03-21 22:23] #857 closed

[2017-03-21 22:24] #384 closed

[2017-03-22 08:59] #920 closed

[2017-03-22 20:59] RPangrle opened #922 "Mac Certificate Based Auth (CBA) Support"
Adding in Mac CBA support will require additional UI and keychain work in ADAL to get working.

[2017-03-22 20:59] RPangrle commented on #922
SFChooseIdentityPanel (https://developer.apple.com/reference/securityinterface/sfchooseidentitypanel) will be particularly useful for this feature

[2017-03-23 05:51] rushabh55 opened #924 "AD Logger callback message contains user information (PII)"
The message string in the AD Logger callback, as per the documentation should not contain PII.
We have seen PII coming from this message string.
Here is the sample message string that contains this PII (edited out).

ERROR: Error raised: (Domain: "ADAuthenticationErrorDomain" Code: AD_ERROR_TOKENBROKER_UNKNOWN ProtocolCode: "(null)" Details: "Different user was authenticated. Expected: '**[scrubbe

[2017-03-23 23:54] RPangrle commented on #924
This string is coming over from the broker, can you take a look at it @jasoncoolmax ?

[2017-03-24 03:11] RPangrle opened #926 "adQueryParameters should be using percentEncodedQuery"
The default form of `-[NSURLComponents query]` decodes any percent encodings within the query string from the URI. This can have some unfortunate side effects if the query strings contain any encoded & or = characters.

[2017-03-24 22:18] #926 closed

[2017-03-26 08:20] Sudarshanshetty opened #928 "Outlook iOS Unable to Signin after using for some time"
I am unable sign in after using application for some time. If we reset the device and retry to signin , It works without any issue. What could be the problem ?

Using below Pods: -

pod 'Office365' pod 'ADALiOS', '~> 1.2.2'

[2017-03-26 17:34] himanthmaddi commented on #861
@faisalil did you solved this issue? I'm facing same issue and can't find solution. Help me if you found answer

[2017-03-27 18:29] IntDeXIOSSPPlugEng commented on #878
There is actually a bunch more related crashes that HockeyApp is not grouping together.

But every crash with logs uploaded has the following AAD error before crashing:

2017-03-27 01:05:42.750    ERRO        com.microsoft.ssp.aad    0    TID=10         AADTokenFactory.swift: 45 (init(settings:)) ADAL 2.2.7 iOS 10.2.1 [2017-03-27 01:05:42 - F73BD1F1-176D-4542-A22F-9534280E4126] Error raised: (Doma

[2017-03-27 20:06] IntDeXIOSSPPlugEng commented on #878
Looking at other crashes from HockeyApp, this seems to be a more wide spread issue where the app may crash if it fails to the refresh token for any reason:

Error raised: (Domain: "ADOAuthServerErrorDomain" Code: AD_ERROR_SERVER_REFRESH_TOKEN_REJECTED ProtocolCode: "interaction_required" Details: "AADSTS50079: Due to a configuration change made by your administrator, or because you moved to a new

[2017-03-28 07:42] dalemy opened #929 "Can't build with warnings as errors"
`ADKeychainTokenCache.h` has a nullability specifier of `nullable` on its `init` method. Since this object inherits from `NSObject`, `init` must return a non-null value. This causes Xcode to generate a warning, and when projects have "warnings as errors" turned on, they can't be built.

[2017-03-28 10:45] Faradei opened #930 "Can't login into OneDrive for Business"
Hello!
Our team has several released apps which are using OneDrive for Business. All things works fine but recently we found that OneDrive integration is broken. After investigation I've found that we receive such error after login:

**Error raised: 15. Additional Information: Domain: ADAuthenticationErrorDomain ProtocolCode:invalid_resource Details:AADSTS50001: Resource 'https://api.office.com/di

[2017-03-28 18:00] eddiekim opened #931 "Telemetry typo: is_successfull"
`Microsoft.ADAL.is_successfull`

should be

`Microsoft.ADAL.is_successful`

[2017-03-29 03:14] dancrevier commented on #929
Specifically we get this with Swift. We're seeing the problem too.

[2017-03-29 16:53] eddiekim opened #932 "Telemetry exception: 'Collection was mutated while being enumerated'"
We're seeing some crashes on ADAL 2.4.0 in the telemetry reporting.

https://rink.hockeyapp.net/manage/apps/127127/app_versions/5266/crash_reasons/163065641
https://rink.hockeyapp.net/manage/apps/127127/app_versions/5263/crash_reasons/163048831

[code]

[2017-03-29 16:57] eddiekim commented on #932
It looks like we can avoid this crash by NOT adding a telemetry dispatcher.

Can someone confirm so we know whether we should revert back to the previous version?

[2017-03-30 02:29] #932 closed

[2017-03-30 16:55] sdabbiru commented on #924
Why is this a problem? This is not automatically collected by telemetry, and besides this is useful information for troubleshooting.

[2017-03-30 20:09] rushabh55 commented on #924
It a problem because the documentation says its supposed to be free of PII, and its **not**. So other app developers using this library would send this string across their telemetry pipeline storing PII data.

The documentation has to be accurate. And also if there are no fields out there that are _really_ PII free, developers can't log anything to their telemetry pipelines, making it harder for t

[2017-04-03 04:46] raiss opened #934 "Security flaw with NSLog (spotted by Veracode)"
I was wondering if there is any security concern/flaw with the [NSLOG](https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ADLogger.m#L180) in this library. [Veracode](https://www.veracode.com/) static code analysis, marked [this line](https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ADLogger.m#L180) as a security flaw with the des

[2017-04-05 21:21] RPangrle commented on #929
@oldalton Can you take a look at adding warnings-as-errors into our swift sample app to ensure that we don't run into such problems again?

[2017-04-06 00:53] danieldobalian opened #935 "Extra Parameters inside ADAL Errors Not Accessible"
In the case an STS error is returned and there's a parameter inside in addition to error & error_description, the ADAL error object does not service the parameter.

The problem is in certain cases of Conditional Access this extra parameter (called `claims`) is used to evaluate a policy on a new auth request.  Without it, developers cannot perform silent requests to resources with CA policies or us

[2017-04-06 17:45] danieldobalian commented on #935
Can acquireToken to the resource that is asking for interaction required

[2017-04-06 17:45] #935 closed

[2017-04-06 22:25] RPangrle commented on #930
Please send questions to StackOverflow.

[2017-04-06 22:25] #930 closed

[2017-04-10 17:45] partnerinflight commented on #929
fixed in 2.5.0

[2017-04-10 17:45] #929 closed

[2017-04-10 17:47] partnerinflight commented on #898
Should be fixed in 2.4.0+

[2017-04-10 17:47] #898 closed

[2017-04-10 17:48] partnerinflight commented on #901
Dupe; should be fixed in 2.4.0+

[2017-04-10 17:48] #901 closed

[2017-04-10 17:49] partnerinflight commented on #795
fixed in 2.5.0

[2017-04-10 17:49] #795 closed

[2017-04-10 20:54] jasoncoolmax commented on #924
The message was sent by Microsoft Authenticator app.
AFAIK, the Authenticator app won't send the PII in that message since ver 5.2.3.

[2017-04-10 21:02] jasoncoolmax commented on #919
duplicate as #389

[2017-04-10 21:02] #919 closed

[2017-04-10 21:08] jasoncoolmax commented on #909
When you do a non-silent call, show the webview; when the call returns, dimiss the webview.

[2017-04-11 00:47] partnerinflight commented on #934
This may be a PII issue (depending on the content of the message), but it is not a security issue. The contract of this function is that no PII is passed into logging to begin with.

[2017-04-11 00:47] #934 closed

[2017-04-11 00:50] partnerinflight commented on #931
Since this is a public API, changing it now will involve cost to the host apps. Since it's a fairly benign spelling error, figure overall cost will be smaller leaving it as is.

[2017-04-11 00:50] #931 closed

[2017-04-11 00:52] partnerinflight commented on #928
This is a very old ADAL version. @Sudarshanshetty: can you guys update to the latest?

[2017-04-11 00:53] partnerinflight commented on #924
@jasoncoolmax verified this is not returned in latest Authenticator version.

[2017-04-11 00:53] #924 closed

[2017-04-11 00:59] partnerinflight commented on #909
This is not a supported scenario. From a usability perspective, not allowing the user to cancel out of an action is a pretty severe usability dissat. Urge you to reconsider the approach.

[2017-04-11 00:59] #909 closed

[2017-04-11 01:05] partnerinflight commented on #884
Available in 2.4.1

[2017-04-11 01:05] #884 closed

[2017-04-11 01:06] partnerinflight commented on #878
@IntDeXIOSSPPlugEng could you try this with 2.4.1 and see if you're still seeing this issue?

[2017-04-11 01:07] partnerinflight commented on #873
@mhle is it possible to update to latest ADAL version? The one you're using is fairly old.

[2017-04-11 01:11] partnerinflight commented on #861
Closing this on the assumption that umbrella header fixes the issue. @xerners please update the Quickstart doc as described. @himanthmaddi please reactivate if you're still having the issue after using the umbrella header.

[2017-04-11 01:11] #861 closed

[2017-04-11 17:28] RPangrle opened #941 "Set minimum iOS version for ADAL 2.5.0 to iOS 9"

[2017-04-11 21:23] partnerinflight commented on #728
fixed in latest Authenticator update.

[2017-04-11 21:23] #728 closed

[2017-04-11 21:32] partnerinflight commented on #872
@ogkent to provide profiling info on how/whether this is affecting Outlook. Then will revisit priority/approach.

[2017-04-11 21:34] ogkent commented on #872
@SergeyADoroshenko if you have any data on the perf impact, we'd love to see it.

[2017-04-11 21:44] partnerinflight commented on #858
fixed in ADAL 2.4

[2017-04-11 21:44] #858 closed

[2017-04-11 23:12] RPangrle commented on #906
Please send questions to Stack Overflow.

[2017-04-11 23:12] #906 closed

[2017-04-11 23:20] RPangrle commented on #873
ADAL does not officially support MSA/Live ID, unless going through AAD as a guest account. Can you provide more information here about your exact usage?

[2017-04-11 23:39] RPangrle commented on #821
The real issue here is that Localytics is not swizzling properly when they replace the entire Application's app delegate. Since a workaround exists we will close this issue. The usage of swizzling is currently under discussion.

[2017-04-11 23:39] #821 closed

[2017-04-11 23:53] RPangrle commented on #788
There were issues fixed with the PRT flow, which the errors you have included indicate were involved. Please test this again with the most recent versions of ADAL and the Microsoft Authenticator app. If you are still seeing this please reopen the bug with complete logs from both your app and the Authenticator app. (https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Instructions

[2017-04-11 23:53] #788 closed

[2017-04-11 23:57] RPangrle commented on #753
We've not had any requests for this from customers for this. Closing for now.

[2017-04-11 23:57] #753 closed

[2017-04-12 00:18] #716 closed

[2017-04-12 00:29] #525 closed

[2017-04-12 00:31] #496 closed

[2017-04-12 19:42] oldalton opened #943 "Login alert stays after timeout, when using a passed-in webview"
Steps:
NSAlert that prompts for username and password is not dismissed after request times out and passed-in web view is dismissed.

Entering credentials and pressing login doesn't do anything in this state, but pressing cancel will make next acquireToken to fail immediately with AD_USER_CANCELLED error.

Happens both on macOS and iOS.

[2017-04-13 00:31] rajahimanath opened #944 "Reason: image not found - App Crash while testing Swift Sample App"

[2017-04-13 05:33] xerners commented on #861
Will do.

[2017-04-13 16:56] macblazer opened #945 "Using CocoaPods integration for macOS fails to compile"
When using CocoaPods to pull in the dev branch ADAL to a macOS project (using "pod 'ADAL', :git => 'https://github.com/AzureAD/azure-activedirectory-library-for-objc.git', :branch => 'dev'"
), the project will not compile because it is missing the ADRegistrationInformation class. The ADRegistrationInformation.h file is present in the ADAL/src/workplacejoin folder.  There is a .m file in ADAL/src/w

[2017-04-14 00:00] partnerinflight commented on #941
fixed in v2.5.0

[2017-04-14 00:00] #941 closed

[2017-04-14 06:51] rayluo commented on #916
Thanks @partnerinflight

[2017-04-14 06:51] #916 closed

[2017-04-14 16:46] partnerinflight commented on #916
fixed in v2.5.0

[2017-04-17 16:37] oldalton commented on #944
Now fixed in dev. Our Swift sample app was missing the embedded ADAL framework, so it was working on iOS Simulator, but not working on device. Please check if it fixes the problem for you and if you are still seeing any issues, let me know.

[2017-04-17 16:37] #944 closed

[2017-04-17 22:54] husayn opened #951 "Ability to know when authentication window is opened"
Is it possible for us to know when the auth window is popped up? We want to send instrumentation information when the window is popped up.

We are currently using an acquireToken. Is there a property which will tell us that this acquireToken prompted a window?

[2017-04-19 15:21] ramprasad1477 opened #954 "How do we get token expiry and logged in user information from the same result of what we are getting access token?"
Hi,

I am getting access token using same sample code given in this article..but my requirement is also to get the token expiry and logged in user information like display Id, email..

Can you please help me regarding this..Thanks..

[2017-04-19 18:12] partnerinflight commented on #945
Resolved offline. Issue was that the config was pointing at dev head, which we don't support. Only building off tagged releases is supported.

[2017-04-19 18:12] #945 closed

[2017-04-19 18:34] oldalton commented on #943
Fixed.

[2017-04-19 18:34] #943 closed

[2017-04-21 15:49] michalkosmowski opened #959 "Can't sign into tenant that requires a device managed by organization"
My test phone is managed by the organization, yet I cannot sign in. (via `acquireToken`)

These logs look suspicious to me:
[code]

Do I need any entitlements so that the library could fetch some device id?

[2017-04-24 18:42] clausjoergensen opened #960 "Allow clients to set a custom UserAgent for the HTTP(S) requests"
To allow customers to enable/disable specific functionality, such as Windows Integrated Auth (WIA), we would like ADAL to allow the clients using the library to be allowed to specify a custom UserAgent, so customers can disable explicit functionality for Mac clients.

ADAL on Mac today uses the standard Safari UserAgent, which prevents customers from disabling certainly functionality (such as WIA)

[2017-04-24 18:44] xerners commented on #960
Assigning to @partnerinflight for triage.

[2017-04-26 12:14] mattgallivan opened #961 "Acquiring token without webview"
Is there any way to retrieve a token without using the WebView sign in? (ie. sending a username and password through the context.acquireToken(...))

[2017-04-26 18:23] oldalton commented on #904
Fixed in 06cf8b4b791d3a6b0ce6b7368aa7709414ca1f97

[2017-04-26 18:23] #904 closed

[2017-04-27 14:17] Utsira opened #962 "ADAL does not build in Xcode 8, "ADKeychainTokenCache.h:61:1: Conflicting nullability specifier on return types, 'nullable' conflicts with existing specifier 'nonnull'""
We are transitioning a project from Xcode 7 to 8 (and from Swift 2.2 to Swift 3) and have found that ADAL does not build in Xcode 8.

We have tried Xcode 8.2 and 8.3, ADAL 2.4.1 and 2.3.1.

Xcode gives the error:

For the line

[code]

in

ADKeychainTokenCache.h

It builds if `nullable` is replaced by `nonnull`, but presumably there is a reason why the initialiser needs to be failable.

Is this a

[2017-04-27 16:47] Utsira commented on #962
It looks like this PR, merged in 21 days ago, addresses the issue we're seeing:

https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/936/files

We're using Cocopods as our dependency manager, is there a release planned that would include this merge?

[2017-04-28 05:18] sergeyDoroshenko commented on #872
@partnerinflight: I don't have access to Outlook codebase to evaluate that now. However, the bug was filed when my former team worked on one of different Office products. But, why should we spend time on re-evaluating this now. It makes sense to do that only if we are uncertain about details. Apple clearly explained in the video (the link is in the first post) that the approach taken here is not c

[2017-04-28 21:01] oldalton commented on #961
Unfortunately it's not possible with this library. To retrieve the token first time you'll need to do the web view sign in. If you already collected the username in your app, you can provide it as a userId parameter in the acquireToken call.

[2017-05-01 15:58] partnerinflight commented on #960
WIA is not currently supported by the Objc-C libraries. Making a change like the one proposed for one platform but not another doesn't make a whole lot of sense. Rejecting this enhancement request for now; please reactivate/escalate if the change can be supported with strong customer need.

[2017-05-01 15:58] #960 closed

[2017-05-01 16:00] partnerinflight commented on #962
There is indeed, 2.5.0. We're doing due diligence on the release now but will likely not have it ready for public consumption until mid-June.

[2017-05-01 16:00] #962 closed

[2017-05-02 07:58] mattgallivan commented on #961
@oldalton Thank you!

[2017-05-02 07:58] #961 closed

[2017-05-02 19:07] AndroidTeamsUSer opened #963 "Microsoft teams : ADAL Mac 2.5 issue : User is not able to pass through the remediation page after completing the enrollment process"
Configuration:
Test was carried on a dev build for Teams which has ADAL v 2.5 library integrated. We can provide this build to you if you want to use it for debugging. Let us know..

Repro Steps
1)Login to team App(Mac desktop App) with Device compliance required  Policy user (Nisha@mcat1.onmicrosoft.com/P@ssw0rd!)
2)Remediation Page with Enroll option shows up
3)Clicking on Enroll takes the user

[2017-05-03 00:13] oldalton commented on #954
Please use:
result.tokenCacheItem.userInformation for user information (see ADUserInformation.h header for fields) 
result.tokenCacheItem.expiresOn for the access token expiry date

[2017-05-03 00:13] #954 closed

[2017-05-03 20:25] olavt opened #964 "SampleSwiftApp does not build"
I downloaded the repo, copied the SampleSwift app, did a "pod init" and added "pod 'ADAL'" to the Podfile and did a "pod installed". Then I opened the workspace in Xcode 8.3.2. I'm getting an hard error like this:

"/Users/olavt/Projects/SampleSwiftApp/Pods/ADAL/ADAL/src/public/ios/ADKeychainTokenCache.h:61:1: Conflicting nullability specifier on return types, 'nullable' conflicts with existing sp

[2017-05-03 23:53] oldalton commented on #964
This issue has been already addressed (please see https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/962), but the version with the fix hasn't been released yet.

[2017-05-10 20:26] githubursul opened #966 "Token cache schema version changes break SSO between apps."
Send me the link when you've submitted it. Thanks.
________________________________________
From: Brandon Werner
Sent: Tuesday, May 9, 2017 11:17:51 AM
To: Alexey Ursulenko; Olga Dalton; Ryan Pangrle; Eugene Polonsky; Shane Chism
Cc: Kundan Bharti
Subject: Re: ADAL/iOS cache schema versioning

Hi @Alexey Ursulenko - great feature request. Can you put in GitHub issues though so we can triage it?

@

[2017-05-10 21:03] RPangrle commented on #966
There's never been a token cache schema version change in ADAL for ObjC. We've added fields to the scheme, however none of those have been breaking changes that have required us to increase the version number on our cache.

[2017-05-11 11:54] jenasubodh commented on #97
Wrote a Swift Implementation of the same app. Hope it helps
https://github.com/jenasubodh/azuread-ios-swift

[2017-05-15 19:19] oldalton commented on #794
Fixed in dev

[2017-05-15 19:19] #794 closed

[2017-05-15 19:19] #964 closed

[2017-05-17 18:47] yozho opened #971 "Access token issued for assertion won't be persisted to keychain"
When we called -[ADAuthenticationRequest requestTokenByAssertion:] method, the returned access token won't be persisted into keychain; then when we tried to use the previous credential tried t get access token in silent way, it'll fail with error AD_ERROR_SERVER_USER_INPUT_NEEDED.

Since the assertion is issued for MSA account, we cannot authentication with the MSA form UI. Can we persist the retu

[2017-05-17 18:52] yozho opened #972 "-[ADAuthenticationContext acquireTokenForAssertion:assertionType:resource:clientId:userId:completionBlock:] is required to be non-silent API"
We have a scenario to get access token for invited MSA, when call this API -[ADAuthenticationContext acquireTokenForAssertion:assertionType:resource:clientId:userId:completionBlock:] with SALM token, it always failed with error AD_ERROR_UI_NOT_ON_MAIN_THREAD.

During our investigation, seems it won't trigger Authentication UI prompt, is it necessary to put it in non-silent mode? I modified the SDK

[2017-05-17 20:39] michalkosmowski commented on #959
If anyone wonders how to get SSO to work on a device with conditional access policy in place:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-sso-ios

You should use broker assisted SSO using Microsoft Authenticator app. Make sure to switch `credentialsType` to `AD_CREDENTIALS_AUTO`.

[2017-05-17 20:39] #959 closed

[2017-05-17 21:16] brandwe commented on #959
Thanks @michalkosmowski I will add that document to our README to help others.

[2017-05-18 23:34] jasoncoolmax opened #974 "To be able to modify headers of ADWebRequest"
Since Broker SDK needs to change headers of an ADWebRequest, we may want to make the header field editable.

[2017-05-25 06:36] raiss opened #977 "acquireTokenSilentAsync fails even right after the login (acquireTokenAsync)"
Hi, I'm experiencing an issue with ADAL version 2.3.1 on iOS 10+. I have couple of users in the organisation who cannot stay logged in (MFA is enabled for all accounts).

When the user enter their credential the ADAL modal goes away and right after that I try to `acquireTokenSilentAsync` but it fails so I fall back to `acquireTokenAsync`. Same thing happen if I retry with `acquireTokenAsync`. Here

[2017-06-01 01:19] raiss commented on #977
It turned out, the issue was related to https://graph.microsoft.com. Acquiring token silently (using refresh token), doesn't work for this ResourceURI (graph.microsoft.com). This issue only occurs when a particular user is logged in.

BTW, the same user have no difficulty to acquire token silently, using https://graph.windows.net as ResourceUri.

[2017-06-01 01:19] #977 closed

[2017-06-07 18:33] oldalton commented on #894
Done in dev

[2017-06-07 18:33] #894 closed

[2017-06-07 20:53] shws opened #982 "iOS-Keychain does not persist aad token from acquire token call with non-default keychain sharing group"
When a acquiretokenwithresource call is made with a specified cache other than the default adal cache (com.microsoft.adalcache) the aad token acquired does not persist in the specified cache. However, if this custom cache is set to default at the time of app initialization data persists on the keychain in the custom cache group.

[2017-06-08 00:53] #974 closed

[2017-06-08 00:55] partnerinflight commented on #972
@yozho I think the error should indicate exactly what needs to be done. Are you calling acquireTokenForAssertion on the main thread of your app?

[2017-06-08 00:57] partnerinflight commented on #966
@brandwe it's not unreasonable to settle on a versioning scheme; we're working through the scheme in adal C++ context, and will talk about whether to pick this up for adal objc.

[2017-06-08 00:59] partnerinflight commented on #963
this is something that needs to be fixed in STS. We have no control of what's happening inside the WebView. Please follow up offline to engage on this.

[2017-06-08 00:59] #963 closed

[2017-06-08 01:01] partnerinflight commented on #928
closing per no response from originator.

[2017-06-08 01:01] #928 closed

[2017-06-08 01:05] githubursul commented on #966
+ @Kundan Bharti<mailto:Kundan.bharti@microsoft.com>

From: Eugene Polonsky [mailto:notifications@github.com]
Sent: Wednesday, June 7, 2017 5:58 PM
To: AzureAD/azure-activedirectory-library-for-objc <azure-activedirectory-library-for-objc@noreply.github.com>
Cc: Alexey Ursulenko <alexeyu@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [AzureAD/azure-activedirectory-library-for-objc

[2017-06-08 17:08] partnerinflight commented on #873
closing due to no resonse from originator.

[2017-06-08 17:08] #873 closed

[2017-06-08 23:42] jasoncoolmax commented on #727
This is already fixed. @ogkent you can test it using the latest Authenticator to confirm.

I am going close it. If you still see the error, please reopen the issue :)

[2017-06-08 23:42] #727 closed

[2017-06-09 22:34] oldalton commented on #982
Hi. Thank you for reporting this issue. Just double-checking that I understood your issue correctly. Are you trying to use this API and providing a different sharedGroup parameter?

[code]
Thanks a lot.

[2017-06-12 12:07] jaragones opened #983 "acquireTokenSilent failing to retrieve keychain values"
I'm using ADAL library on an iOS project (pod 'ADAL', '~> 2.2') to acquire a token to interact with Microsoft work accounts. First call that I do to get token is:

[code]

response is as expected, and I get a token to interact with server. If I execute next lines (once previous block is completed, and in same execution of the app), I get a AD_SUCCEEDED as response.

[code]
But the weird behaviour

[2017-06-12 13:39] #983 closed

[2017-06-12 21:19] RPangrle commented on #878
Closing due to lack of feedback and ADAL specific information.

[2017-06-12 21:19] #878 closed

[2017-06-15 19:00] macblazer opened #984 "Using ADErrorCodes enum values in 64-bit Swift causes a compilation error"
I am using the ADAL code (release 2.4.1) in a Swift project.  When trying to detect a specific error code, I get an error that

"Binary operator '==' cannot be applied to operands of type 'Int' and 'Int32'"

on the line "authenticationError.code == AD_ERROR_DEVELOPER_INVALID_ARGUMENT.rawValue" below.

[code]

If I change ADErrorCodes.h to use the NS_ENUM(NSInteger, <typename>) macro instead of the

[2017-06-15 20:40] oldalton commented on #982
Closing per no response from originator and not being to reproduce.
@shws Please re-open this issue if you're still facing it and please provide additional information requested. Thanks!

[2017-06-15 20:40] #982 closed

[2017-06-16 08:46] admeister opened #985 "Logic Error in ADWebRequest.h"
Xcode is reporting a logic error in ADWebRequest.h at line 55 (in checked out tag 2.4.1)

`@property (copy, nonatomic)             NSMutableDictionary *headers;`

ADAL/src/request/ADWebRequest.h:55:1: Property of mutable type 'NSMutableDictionary' has 'copy' attribute; an immutable object will be stored instead

[2017-06-16 20:31] oldalton commented on #985
Thanks for reporting this issue. I confirm that there's a problem and it has actually been already fixed in [dev branch](https://github.com/AzureAD/azure-activedirectory-library-for-objc/commit/54a83e0e06f3cae9e2371451a42a26e73d05a302#diff-298c801c6f46cf1f876980415d02c59b). The fix will be included in the next ADAL release.

[2017-06-16 20:31] #985 closed

[2017-06-16 22:16] RPangrle opened #986 "ADAL crashes on uncaught exception when ext_expires_in is an unquoted number in JSON"
[code]

[2017-06-16 22:19] RPangrle commented on #984
We'd be happy to accept that PR.

[2017-06-19 23:09] #986 closed

[2017-06-19 23:36] oldalton commented on #872
Thank you for taking time and reporting those 2 issues.

1. I agree that in an unlikely event of application setting a new delegate, current ADAL code won’t handle it, because notification won’t be triggered then.
2. To understand performance implications I did some additional profiling. The time is collected using DYLD_PRINT_STATISTICS debug flag that Apple recommends and it’s an average value ov

[2017-06-19 23:46] #800 closed

[2017-06-19 23:47] #851 closed

[2017-06-20 05:43] Durgaprasad-Budhwani opened #991 "Why Company Portal is not acts as Authentication Broker?"
Hi Team,

In Android,  ADALSSO works via Comp Portal but in iOS, it works via Microsoft Authentication.
Microsoft Authentication forces users for Multi-factor authentication (MFA) but not Company Portal does not.  This will force the user to go with MFA for the iOS application. Once MFA is enabled, it will force user for the verification code.
So overall behavior from a user point of view will not

[2017-06-20 16:29] oldalton commented on #984
Fixed in dev.

[2017-06-20 16:29] #984 closed

[2017-06-21 07:18] admeister opened #994 "Carthage Support"
Is there anything on your roadmap for Carthage support?

[2017-06-21 18:44] RPangrle commented on #994
Carthage does not require any explicit support from the library itself, you can simply add

[code]

to your CartFile. There are already products using Carthage to incorporate ADAL.

[2017-06-21 18:44] #994 closed

[2017-06-21 22:36] dianambb opened #995 "validBrokerRedirectUri should do a case insensitive comparison of host and scheme"
In ADAuthenticationRequest+Broker.m > validBrokerRedirectUri ,

if (![host isEqualToString:bundleId]) - this comparison should be case insensitive. The same goes for scheme.

[2017-06-22 13:06] jasoncoolmax opened #996 "Skip cache lookup if claims is passed in via EQP"
To be able to handle claim challenge, client ADAL needs to skip cache lookup and pass claim to authorize endpoint.
Besides, if brokered auth is enable, "skip_cache" flag needs to be passed to Authenticator.

[2017-06-26 15:14] neiljac1 opened #998 "URL requests are dropped for applications which use UIApplicationDelegate handleOpenURL: to accept URL requests."
If an application uses handleOpenURL to handle URL requests, it will not receive the requests once linked against ADAL. ADAL will add one of the openURL: methods for broker support and does not forward the request to the application's handleOpenURL: method.

[2017-06-28 10:04] poojagaonkar opened #1001 "Mach -O linker issue"
I have added the library using Cocoapods but facing an issue I have described [here](https://stackoverflow.com/questions/44798241/apple-mach-o-linker-error-adal)
Any help on this?

[2017-06-29 08:33] katunch opened #1002 "Swift 4 Support?"

[2017-07-04 17:59] Durgaprasad-Budhwani commented on #991
Any update on this issue?

[2017-07-05 18:22] #922 closed

[2017-07-06 17:12] oldalton commented on #998
Merged

[2017-07-06 17:12] #998 closed

[2017-07-06 17:12] oldalton commented on #996
Merged to dev

[2017-07-06 17:12] #996 closed

[2017-07-06 21:12] RPangrle commented on #991
The way IPC works on iOS means in practice we can only have one authentication broker, so we use the Authenticator app.

[2017-07-06 21:12] #991 closed

[2017-07-06 21:13] RPangrle commented on #1002
We don't do anything explicitly to support or not support Swift. If there is anything in the headers that creates issues with Swift 4 let us know or submit a PR, however we won't be proactively fixing Swift 4 issues until closer to it not being in beta.

[2017-07-06 21:13] #1002 closed

[2017-07-06 21:32] RPangrle commented on #972
Despite the name, it legitimately is a silent API, so it shouldn't require being on the main thread.

[2017-07-11 19:40] RPangrle commented on #1001
This isn't an issue with the library, rather a problem with either how CocoaPods is set up, your project is set up, or both. If you're not sure where to start I would recommend trying to recreate your project and podfile from scratch carefully following the directions on the cocoapods website.

[2017-07-11 19:40] #1001 closed

[2017-07-11 22:17] nbrandes1 opened #1005 "XCode 9 error: Compiling IB documents for earlier than iOS 7 is no longer supported"
When I try to build the library with XCode 9 I am running into this error:

`/Pods/ADALiOS/ADALiOS/ADALiOS/ADAL_iPad_Storyboard.storyboard:global: error: Compiling IB documents for earlier than iOS 7 is no longer supported. [12]`

Is there any immediate solution, or just wait for an update?

[2017-07-11 22:28] #1005 closed

[2017-07-18 00:48] dtweston opened #1012 "2.5.x Releases"
What's going on with the 2.5.x releases? I see branches for 2.5.0 and 2.5.1, but no releases, and the Cocoapods package hasn't been updated either.

Are these versions waiting for something? (I'd like to upgrade to a newer release so we can at least build with Xcode 9.0)

[2017-07-18 20:36] oldalton commented on #1012
2.5.1 is currently in testing/verification and we plan to release it after that (tag + cocoapods). If everything goes well, it should be a couple of more weeks. 2.5.0 won't be released that way at all, 2.5.1 is the version you should aim for. Hope it helps.

[2017-07-18 22:20] mattgalloway opened #1013 "2.4.1 CocoaPod Has Build Warnings"
When including ADAL 2.4.1 as a CocoaPod using CocoaPods 1.2.1 (current version) there are 7 harmless but super annoying build warnings. All are documentation annotations that are misplaced and/or contain parameters that don't method the corresponding method.

![adalbuildwarnings](https://user-images.githubusercontent.com/829592/28342253-36d87de8-6bcc-11e7-9cea-31acf13f023f.png)

I've fix these in

[2017-07-19 18:59] oldalton commented on #1012
I'll close this issue, if you have more questions, feel free to reopen it.

[2017-07-19 18:59] #1012 closed

[2017-07-19 19:00] dtweston commented on #1012
Sounds good, thanks for the quick response!

[2017-07-21 09:20] Utsira commented on #962
Hello @partnerinflight , do you have an ETA for when 2.5.0 will be released?

[2017-07-21 10:03] partnerinflight commented on #962
Currently aiming for end of month, pending no unexpected issues.

On Fri, Jul 21, 2017 at 11:20 AM, Utsira <notifications@github.com> wrote:

--
------------------------------------------------------------------
truth comes as a conqueror only to those who have lost the art of accepting
it as a friend.

[2017-07-22 00:44] #1013 closed

[2017-07-25 23:05] mattgalloway commented on #1013
This might fix this issue in the current 2.5.x development branch but the issue still exists for all current users of the 2.4.x production version.

[2017-08-01 01:58] ddrdjboy opened #1019 "If user changes the local date to a future date, it might cause login failed."
Our developer is using ADAL Lib 2.4.1 and iOS 10.3.2.

If a user changes the local date to a future date in the setting of iOS. When we try to login MCC apps, The authenticator app will respond the token pair and an expired date( Actually it's a future date longer than the access token expire time). After the access token expired and the expire date not reached to future date, the user can’t authe

[2017-08-01 06:44] bjartebore opened #1020 "Userid is prioritised differently then other ADAL implementations"
I was wondering if there is a reason for the UserId of the UserInformation object to be implemented differently then in the other ADAL implementations (Android, dotnet, cordova). They all base it on UserObjectId with fallback on Subject, but in this implementation you start with upn -> eMail -> subject -> uniqueName -> guestId.

[UserInformation.m](https://github.com/AzureAD/azure-activedirectory-

[2017-08-01 10:19] oreporan commented on #118
Care to explain how to turn off validation?

[2017-08-07 17:37] macblazer opened #1026 "Problem with NSURLRequest caching and ADURLProtocol on macOS"
I am using the ADAL v2.5.1 release from Swift developing with the macOS 10.12 SDK and running on macOS 10.12.6.  When I use it like so (no other code related to caching anywhere):

[code]
I get the following errors logged:

[code]
This appears to be a problem with NSURLRequest caching and the ADURLProtocol putting the context as a property into NSURLProtocol in the +addContext:toRequest: method in

[2017-08-10 15:51] efalkenberg opened #1030 "ADWebAuthController must not overwrite new"
ADWebAuthController overwrites the `new` method that is defined in NSObject in https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/ADAL/src/ui/ADWebAuthController.m#L87-L90

NSObject's `new` method is defined as
`Allocates a new instance of the receiving class, sends it an init message, and returns the initialized object.
This method is a combination of alloc and init. Like

[2017-08-11 14:45] jonhocking opened #1033 "ADAL/src/validation folder missing from pod spec"
Hi All

The `/ADAL/src/validation` folder appears to be missing from the included section in the latest `2.5.1` iOS pod spec. This means that I'm unable to compile my project when using ADAL with cocoapods due to import references to `ADAuthorityValidation.h` in both `ADAuthenticationRequest+AcquireToken.m` and `ADAuthenticationRequest.m`

In the meantime I can install ADAL manually but thought I'

[2017-08-17 13:22] macblazer commented on #1030
This is part of the ADAL framework's attempt to enforce private classes and singleton objects.  The implementation of [ADWebAuthController new] calls [ADWebAuthController alloc] which has a hard-coded failing NSAssert, @throws an exception, and returns nil.

There are many other instances of the same sort of thing throughout the codebase.  For example, ADAuthenticationError cannot be easily instan

[2017-08-24 17:52] RPangrle commented on #1033
You must have some bad state in your cocoapods repo, because this is how we define source files in our podspec:

[code]

We don't specifiy individual directories, we recursively grab them all, and I can't repro your issue locally.

[2017-08-24 17:52] #1033 closed

[2017-08-25 02:17] RPangrle opened #1042 "ADAuthenticationParameters fails to parse authenticate challenges where Bearer is not the first challenge"
If a WWW-Authenticate header has a value like `Basic realm="myrealm", Bearer ...` then we fail to parse it correctly.

OAuth 2.0 Authorization Protocol Spec: http://self-issued.info/docs/draft-ietf-oauth-v2-bearer-16.html
HTTP Authenticate Spec: https://tools.ietf.org/html/draft-ietf-httpbis-p7-auth-18#page-12
HTTP Message Parsing Spec: https://tools.ietf.org/html/draft-ietf-httpbis-p1-messaging-1

[2017-08-30 09:36] MisterPear commented on #1005
Why did you close this issue ?
Did you fix it ?

[2017-08-30 09:49] pvroosendaal opened #1051 "Framework no longer supported in iOS 11 SDK"
I'm using the ADALiOS framework, but when compiling my app in Xcode beta (with iOS 11 SDK set as Base SDK) I get an error saying "Compiling IB documents for earlier than iOS 7 is no longer supported.".

<img width="341" alt="screen shot 2017-08-30 at 11 36 09" src="https://user-images.githubusercontent.com/16560001/29866466-c5f9dc7e-8d78-11e7-889e-bfe3d4cdb6f6.png">

When do you expect to release

[2017-08-31 12:34] pvroosendaal commented on #1005
I'm having the same issue.. What's the fix?

[2017-08-31 23:44] RPangrle commented on #1051
This is not an issue on ADAL 2.1+, An update will come for ADAL 1.2.x, but we recommend updating to 2.5.1.

[2017-08-31 23:48] RPangrle opened #1054 "Check for NSNull in adIsStringNilOrBlank:"
In JSON blobs it's possible for null to be specified, which Apple's JSON parser interprets as a NSNull object, rather then nil.

[code]

In much of our code we pass values from a JSON blob straight through to adIsStringNilOrBlank:. Adding a check for NSNull there would still conform to the contract of the API, while avoiding some crashing bugs:

[code]

[2017-09-01 05:48] pvroosendaal commented on #1051
Ok, thanks. Why is 'ADALiOS' on version 1.2.x and 'ADAL' on version 2.5.1? What's the difference betweens those pods?

[2017-09-06 10:40] pvroosendaal commented on #1051
@RPangrle could you answer my previous question please? Furthermore, perhaps someone should also update this documentation: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-ios
Because this says you should use pod 'ADALiOS'.

[2017-09-06 18:54] #1054 closed

[2017-09-06 23:04] RPangrle commented on #1051
The ADALiOS cocoapod is effectively deprecated, even though it's not marked deprecated officially for contractual reasons. The ADAL cocoapod supports both macOS and iOS, the ADALiOS cocoapod only supported iOS, it was deprecated partly because using a pod named 'ADALiOS' to get the macOS version of ADAL was counter intuitive.

[2017-09-07 08:32] pvroosendaal commented on #1051
Thanks for the info, much appreciated.

[2017-09-07 08:32] #1051 closed

[2017-09-13 15:28] MichaelMcKinney commented on #1005
Same issue, any ideas?

[2017-09-14 07:02] pvroosendaal commented on #1005
You need to use the ‘ADAL’ pod instead of ‘ADALiOS’
See #1051 for more info.
https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1051

[2017-09-15 03:30] anonymoushitec commented on #1005
Hi, I met the same issue.
You just go to storyboard, Interface Builder Document -> choose a version build for.
That fix my issue.
Goodluck!

[2017-09-16 00:14] yozho opened #1063 "Office Mac crashed due to missing null check"
It's reported from Watson crash http://watson/BucketDetails?iBucket=128016692841&EventType=610

From the symbolicated crash log, it crashed on this line
if (!string || !string.length)

Microsoft Error Reporting log version: 2.0

Error Signature:
Exception: EXC_BAD_INSTRUCTION
ExceptionEnumString: 2
Exception Code: 0x00000001 (0x00006100004c1000)
Date/Time: 2017-09-13 13:09:30 +0000
Application Nam

[2017-09-18 15:01] charpeni commented on #1051
@RPangrle Now that iOS 11 is here, can we have the update for 1.2? I know that upgrading to 2.5 is recommended, but for now an update would be time saving.

[2017-09-18 18:13] RPangrle commented on #1063
Fixed with #1055. Will be released in next patch.

[2017-09-18 18:13] #1063 closed

[2017-09-18 18:14] RPangrle commented on #1063
And EvoSTS has been tracking down when the server eroneously sends nulls in the AT response.

[2017-09-20 00:01] xinatanil commented on #1051
Getting an update for 1.2 becomes critical. Some of us would gladly update to 2.5, but OneDrive iOS SDK works only with 1.2.

[2017-09-25 20:41] xinatanil opened #1075 "1.2.x branch requires podspec push"
1.2.x branch recently was updated to 1.2.9.1 version, which contains a fix to critical bug that prevented the project from being compiled on Xcode 9.
I know that I should use 2.5 version but OneDriveSDK depends on 1.2.x version, so I kinda don't have a choice here.
As I understand only members of the project can do that, otherwise I'd gladly made it myself.

I'm aware of #1051 and #1005 , but it a

[2017-10-03 23:55] oldalton commented on #1075
We pushed 1.2.10 pod with the fix. It should be resolved by now.

[2017-10-03 23:55] #1075 closed

[2017-10-05 10:49] ramonpoca opened #1082 "Push 1.2.10 to Cocoapods repo"
Please, push the 1.2.10 tag to Cocoapods so it can be set as a dependency on OneDrive.
(see https://github.com/OneDrive/onedrive-sdk-ios/issues/124)

[2017-10-05 16:53] oldalton commented on #1082
1.2.10 has been already pushed to the ADAL cocoa pod a couple of days ago.

[2017-10-05 17:32] ramonpoca commented on #1082
My bad, seems the pod was renamed ADALiOS => ADAL.

[2017-10-05 17:32] #1082 closed

[2017-10-09 21:32] RPangrle commented on #1019
The user will need to remove their account for the Authenticator and add it back. AAD does not support large clock skews from real time.

[2017-10-09 21:32] #1019 closed

[2017-10-12 00:30] derekharkin opened #1086 "Safari View Controller iOS11"
We use client certificate authentication as a second factor to our IDP. This forces a double user login on the iOS Authenticator app with the switch from the webview to the Safari View Controller when the client certificate is requested by the IDP.

With the style updates to SFSafariViewController in iOS 11 (removed address bar, colors + buttons customizations) it seems SFSafariViewController coul

[2017-10-12 08:09] derekharkin commented on #1086
Reference: https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/293#issuecomment-203679324

[2017-10-12 17:59] oldalton commented on #1020
Hi, I believe there're differences in naming.

**In ADAL Objective-C there're two properties:**

[code]

userId can be displayable or not, while uniqueId will normally be UserObjectId with fallback on Subject.

**In Android, there're:**

userId - UserObjectId with fallback on Subject, corresponds to uniqueId in Objective-C
displayableId - user's ups, corresponds to userId in Objective-C only if us

[2017-10-12 17:59] #1020 closed

[2017-10-12 18:01] oldalton commented on #1026
@unpluggedk Can you take a look at this, when you have time?

[2017-10-13 18:50] unpluggedk commented on #1026
@macblazer Can you give me some more detail?
I've tried to repro this, and was not successful on macOS 10.12.6 with ADAL v2.5.1 on Swift.
- Does it always happen and when does it happen? (i.e./ Do you need to run it multiple times or happens at the first go)
- What is in the extraQueryParameters?

Any other information for me to reproduce this would be very helpful.

Thanks

[2017-10-20 17:29] antrix1989 commented on #995
Server doesn't allow case insensitive comparison. It returns AD_ERROR_TOKEN_BROKEN_INVALID_REDIRECT_URI. Closing it, feel free to reopen it if necessary.

[2017-10-20 17:29] #995 closed

[2017-10-24 23:31] RPangrle commented on #498
In this case the connection already failed anyways, and we properly handle the JSON error, I wouldn't want to do any out-of-spec error processing in this case.

[2017-10-24 23:31] #498 closed

[2017-10-27 23:26] elav000 commented on #977
@raiss How did you end up resolving this issue?

[2017-11-01 19:25] macblazer commented on #1026
It happens every time I call that authContext.acquireToken function when it has to pop open a window.

I am using the ADTokenCacheDelegate protocol to save tokens between launches.  If it has the cached token, then no window is shown and the warning doesn't appear.  If the cache is empty or expired, the window to login opens up and the warning message is shown.

I use this little function to come

[2017-11-06 09:27] michalcichon opened #1094 "UIKit on non-main thread"
Version: 1.2.10

UIAlertView in the method `+[ADNTLMHandler handleNTLMChallenge:urlRequest:customProtocol:]` was called on the background thread.

[code]

[2017-11-06 14:51] michalcichon commented on #1094
This is already fixed but PR awaits for approval: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1085

[2017-11-10 21:47] mevdev commented on #116
This Swift 3 code worked for me:

[code]

[2017-11-16 10:02] ggould75 opened #1100 "Main Thread Checker: UI API called on a background thread: -[UIApplication canOpenURL:]"
We just wanted to let you aware of this warning coming from the Main Thread Checker:
**Main Thread Checker: UI API called on a background thread: -[UIApplication canOpenURL:]**
Not sure exactly from which version this started to appear, recently we updated to ADAL 2.5.2 (iOS)

[code]

[2017-11-26 00:00] husayn opened #1108 "Login Window as a child of main app window"
We wanted to make the Login Window a child of one of our existing windows so that the window does not go behind any existing windows opened by the app.

Can the API take a parameter of another window?

[2017-12-01 11:07] ramkrishna880 opened #1111 "How to open url hosted in azure in iOS web view"
We are using ADAL Ios library for login.After that when we are trying to open an URL (like terms and conditions page hosted in Azure to use across all the platforms ) in web view we are getting forbidden. we are able to open with intune browser.
Is there any way to show in a web view. please suggest a way to proceed.

[2017-12-19 16:22] peng90 commented on #1100
I'm getting the same warning in Xcode 9.2 with ADAL 2.5.4. I can confirm ADAL 2.5.1 doesn't have this warning. (Just updated the framework from 2.5.1)

[2017-12-29 15:53] spencer-microsoft opened #1123 "Brokered Authentication reply address mismatch"
After being directed to Authenticator app and successfully signing in, I get an error that shows a mismatch in reply adressess:

The only place where we're sending our azure app id is with the clientId parameter, but I need to send the redirect URI as the first one listed ({our scheme://our bundle id}) to allow brokered auth to even open the Authenticator app. Am I missing a place where I need to

[2018-01-02 21:43] oldalton commented on #1123
Please make sure you register your redirect uri in the Azure portal.
You can follow instructions here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-ios#3-install-and-configure-adal
Feel free to reopen this issue, if it persists.

[2018-01-02 21:43] #1123 closed

[2018-01-04 07:51] jeaes87 commented on #1026
@macblazer, @unpluggedk, is there any development on this issue? I'm experiencing the very same issue on ADAL 2.5.3 while developing an iOS App (Swift 4).

Here's how I get the token from AAD (as seen in Microsoft's Guides):

[code]

Since it works more like a warning, I've been ignoring this error for now, but I'd like to know if there's something I could do to fix it

[2018-01-04 21:35] TeddyCodeDev commented on #961
@oldalton Are there any plans to implement this? It'd be nice to be able to make an app seamless without the deviation to the webView which doesn't match my UI

[2018-01-05 04:59] TeddyCodeDev commented on #1026
2.5.4 as well on iOS App.

It actually appears to not even be popping up the window to put in a password but I'm unsure if this is in relation to another issue in my code.

This is my code:

`func getToken(username: String, completionBlock: @escaping (String) -> Void){
        let error: AutoreleasingUnsafeMutablePointer<ADAuthenticationError?>? = nil

        let authContext = ADAuthenticationCon

[2018-01-15 04:56] cloud9999strife opened #1133 "Linker warning"
I asked this question on [stackoverflow](https://stackoverflow.com/questions/48183137/adal-ios-instance-method-in-category-overrides-method-from-class-linker-warnin) but I haven't gotten any reply there.

I'm getting a warning
Showing All Messages

I'm using cocoapods. I tried cleaning the derived data folder and doing a clean in Xcode, it didn't help. I also updated ADAL from 2.5.2 to 2.5.4 (pod

[2018-01-21 21:43] oldalton commented on #1108
You can pass your own webview to ADAL and then you can decide, how to show the window with your web view.

[2018-01-21 21:43] #1108 closed

[2018-01-21 21:46] #1042 closed

[2018-01-21 21:47] oldalton commented on #389
This seems to be now fixed on both ADAL and broker side. Closing the issue.

[2018-01-21 21:47] #389 closed

[2018-01-21 21:48] oldalton commented on #814
This is now fixed on the broker side.

[2018-01-21 21:48] #814 closed

[2018-01-21 21:51] oldalton commented on #912
I believe this is not an issue anymore with new AAD sign in experience. Closing the issue.

[2018-01-21 21:51] #912 closed

[2018-01-21 21:59] oldalton commented on #1026
This seems to be happening because of carrying the whole request context in ADURLProtocol:

`[NSURLProtocol setProperty:context forKey:@"context" inRequest:request];`

This can be fixed by either making sure request context is compatible with NSURLProtocol or saving only correlationId for logging purposes. This has to be done on ADAL side.

[2018-01-23 07:56] Lakshmipathikv commented on #1005
Try changing the Builds for in File Inspector to a higher version then Clean and Build.

See screenshot
![screen shot 2018-01-23 at 1 25 25 pm](https://user-images.githubusercontent.com/4640240/35264009-08cb883c-0041-11e8-8980-654b39f7f4bc.png)

[2018-01-24 07:51] himanthmaddi commented on #551
Provide more information in the same request.

You can do a new AcquireTokenSilent request providing some more information that allows ADAL to definitively pick a cache entry. In this case, ADAL needs a userId meaning your app would need to store or lookup this value and pass it in the request. In our example,
[authContext acquireTokenSilentWithResource:resource clientId:clientId redirectUri:[NSUR

[2018-01-25 00:57] RPangrle opened #1140 "Fix ADAuthenticationParameters to support RFC6750"
https://tools.ietf.org/html/rfc6750#section-3

If I'm reading the RFC correctly the key for authority url would be "realm," however I've also seen keyvault use "authorization" and "resource" instead of "authorization_id" and "resource_id". We should figure out what the "official" AAD keys are, and additionally make sure we're at least somewhat compliant with the RFC here.

[2018-01-25 21:55] tedhogan commented on #279
John, did you ever find a better way to accomplish your task? This question was never answered as I saw on Stack Overflow that you could not find the documentation to do number 3. I am looking to do the same.

[2018-01-28 00:43] RPangrle opened #1144 "Turn back on warnings-as-errors"
We're not treating warnings are errors for some reason on dev now causing warnings like this to pop up:

[code]

Considering the code in question at this line that's definitely a bug we should be fixing.

[2018-01-29 18:00] #1133 closed

[2018-01-29 18:00] #1100 closed

[2018-02-09 22:26] fireshot412 opened #1153 "unable to use zoom controls in authenticator"
It looks the Authenticator broker isn’t using the System Browser. The System Browser is only used for Certificate Based authentication flows in the Authenticator app, otherwise it uses the embedded webview.

[2018-02-22 10:58] gouravgupta72 opened #1158 "invalid client id"
Hi Folks,

I'm using the latest version of SDK,

we are facing issue after successful login when come back to app its giving me following error

ADAL 2.6.1 iOS Sim 11.2 [2018-02-22 10:54:52 - DE2AC203-DBB0-4FFE-9D31-BFF17B2C885A] ERROR: Error raised: (Domain: "ADOAuthServerErrorDomain" Code: AD_ERROR_SERVER_OAUTH ProtocolCode: "invalid_client"

Any help appreciated.

[2018-03-01 22:18] ill opened #1162 "removeAllForClientId stops when finding any item with a null refresh token."
I am trying to cleanly log a user out and am calling removeAllForClientId.

However I see our token store has multiple entries for the same client id and only one has a refresh token.  I'm not sure what the others are for but it's preventing a clean deletion.  It's possible it's because our Staffhub app is part of the family of client ids as the rest of Microsoft Office.

The problem is this:

[co

[2018-03-07 20:00] oldalton commented on #1162
Hi, @ill. Thanks for reporting the issue. It looks like a regression that we introduced in the previous release. We need to fix it, it's not by design.

[2018-03-07 20:04] oldalton commented on #1158
Hi, here's the explanation:

invalid_client | Client authentication failed. | The client credentials are not valid. To fix, the application administrator updates the credentials.

Please refer to documentation here: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code#error-codes-for-token-endpoint-errors

[2018-03-07 20:04] #1158 closed

[2018-03-07 20:05] oldalton commented on #1144
Done

[2018-03-07 20:05] #1144 closed

[2018-03-08 23:29] oldalton opened #1165 "cancelCurrentWebAuthSession doesn't always cancel interactive auth"
If it's a first call and authority alias discovery is in progress, cancelCurrentWebAuthSession won't cancel the flow.

[2018-03-14 11:37] ashrat07 opened #1169 "ADLoggerCallback isn't giving additional information"
`ADLoggerCallback` isn't returning any of the logger information like `additionalInfo`, `errorCode`, `userInfo` which we were receiving earlier in `LogCallback`. We use it for debugging purposes for dev/stage builds. Is there a reason behind doing this?

[2018-03-14 20:41] ashrat07 opened #1171 "Compiler warning when upgrading to latest sdk v2.6.1"
We started getting the following compiler warning when we upgraded to the latest sdk v2.6.1.

`ld: warning: instance method 'speInfo' in category from /Outlook-iOS-vendor/OutlookVendorKit-iOS/ADAL-ADAL/ADAL.framework/ADAL(ADTokenCacheItem+Internal.o) overrides method from class in /Outlook-iOS-vendor/OutlookVendorKit-iOS/ADAL-ADAL/ADAL.framework/ADAL(ADTokenCacheItem.o)`

[2018-03-14 21:10] oldalton commented on #1171
Hi, this issue is already fixed, but didn't make it into 2.6.1 release. The PR to fix is here: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1135

[2018-03-14 21:27] oldalton commented on #1169
We deprecated the old logger callback and added new API, which allows to track if log has any PII.

[code]

"additionalInfo" in the old callback will still be sent, but only for messages actually containing PII.

However, logging PII is now disabled by default, that's why you're probably not seeing any additionalInfo in the callback. To enable PII logging, use this API:

[code]

Please, keep in mi

[2018-03-16 20:22] oldalton opened #1176 "Block retains self warning in ADAL when using with the latest CocoaPods"
When using the latest CocoaPods  default value for CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF is set to YES. This causes 57 warnings coming from ADAL code.

[2018-03-17 06:56] ashrat07 commented on #1169
Is there a workaround where I can still get the `errorCode` and/or `additionalInfo`?

[2018-03-20 18:27] oldalton commented on #1169
Hi

As I explained above additionalInfo should still be sent in the old callback if piiEnabled is YES.
As far as errorCode is concerned, you can get it from the ADAuthenticationResult. You currently can't get errorCode or additionalInfo in the logger callback anymore.

If you have a scenario, which you can't solve without errorCode in the logger callback, please let me know. We can always make adj

[2018-04-10 17:08] medhaj opened #1191 "ADAL is not working for iOS 11.3"
Hello,

I am using ADAL 2.6.2 installed via cocoapods. It works fine for my app until the last release of iOS 11.3. Now the SDK returns the following error: "The network connection was lost."

You can find in the following the logs from ADAL for iOS:

`018-04-10 19:07:20.815375+0200 NICE[37405:1100457] ADAL 2.6.2 iOS Sim 11.3 [2018-04-10 17:07:20] VERBOSE: ADAL API call [Version - 2.6.2] - In func

[2018-04-11 20:15] oldalton commented on #1191
Hi. Thanks for your report. Can you please provide us some more information about the account type you're using? Are you doing 2-factor authentication, when the error happens.

We're aware of the issue and we have submitted a bug report to Apple on April 3rd. We haven't yet heard back from them, but we're closely tracking this issue. Any additional information you can provide about the nature of t

[2018-04-12 06:48] elsewhat commented on #1191
We are experiencing the same issue for users with two-factor authentication with Microsoft Authenticator on the same device. It is the switch to background of the app initiating the adal authentication that triggers the error. We have implemented a temporary workaround by having a dummy background task which is alive for 2 minutes, but would very much like a fix for the root cause.

PS from our ap

[2018-04-12 11:28] elsewhat commented on #1191
Might be a slightly different case in iOS 11.3 than yours @medhaj

Our apps lose the connection when the user swaps to the Microsoft authenticator app in order to verify second factor of authentication. The initiating app then enter background.
This is the workaround we've made in AppDelegate.m

+- (void)applicationDidEnterBackground:(UIApplication *)application
+{
+  __block UIBackgroundTaskIdent

[2018-04-12 12:04] beseder42 opened #1192 "Build Error: Dependency not found"
I am building with Carthage and

    carthage update azure-activedirectory-library-for-objc --platform ios --cache-builds

gives me

[code]

[2018-04-12 16:32] oldalton commented on #1191
Hi, ourselves we could only reproduce the issue when backgrounding the application so far. But for certain accounts it's a 100% reproduction when backgrounding the application. For us it seemed that it depends a lot on how the login webpage sends requests (synchronous/asynchronous). So, I'm not surprised that a background task "hack" can relief some of the symptoms.

However, we are also able to r

[2018-04-12 16:36] oldalton commented on #1162
@jasoncoolmax I believe we fixed this in 2.6.2?

[2018-04-12 17:49] jasoncoolmax commented on #1162
Yep :)

[2018-04-12 23:08] pvroosendaal commented on #1191
Experiencing the same thing here. Workaround fixed it for now, but would love to see a solid solution for this.

[2018-04-13 06:56] jimespen commented on #1191
I'm experiencing the same in my Xamarin.iOS app using ADAL.NET. Does anyone know what the C# equivalent to this workaround would be? The type **_UIBackgroundTaskIdentifier_** does not exist in Xamarin.iOS.

[2018-04-13 06:58] pvroosendaal commented on #1191
The idea is that you keep your app “alive” when it moves to the background. Is there any mechanism for that in c#?

[2018-04-13 07:01] pvroosendaal commented on #1191
Or maybe reference to a native piece of code? Is that a possibility?

[2018-04-13 07:32] medhaj commented on #1191
This is the swift version of the workaround. Hope it helps

`var bgTask: UIBackgroundTaskIdentifier = UIBackgroundTaskInvalid
        bgTask = application.beginBackgroundTask(withName: "KeepAlive", expirationHandler: {
            application.endBackgroundTask(bgTask)
            bgTask = UIBackgroundTaskInvalid
        })

        DispatchQueue.global().async {
            sleep(120)

[2018-04-13 07:54] jimespen commented on #1191
@pvroosendaal Following the docs (https://docs.microsoft.com/en-gb/xamarin/ios/app-fundamentals/backgrounding/ios-backgrounding-techniques/ios-backgrounding-with-tasks#performing-tasks-during-didenterbackground), I got it to work like so inn AppDelegate.cs:
[code]

[2018-04-16 09:01] medhaj commented on #1191
Hello,

@oldalton, I tested your dummy UIWebView project and the webview is returning the issue your described when using my account.
Here the trace for more details:

2018-04-16 10:53:08.217485+0200 TestWebView113[2220:919333] CFNetwork Diagnostics [3:10952] 10:53:08.216 {
HTTPCookieStorage::setCookie: <CFHTTPCookieStorage 0x101605da0 [0x101605db0]>
                  Cookie URL: login.microsofton

[2018-04-16 23:08] oldalton commented on #1191
@medhaj The issue you're seeing here is different from the issue you reported in the first post (network connection lost vs NSURLErrorSecureConnectionFailed). Please make sure that you're running the test app on the same network and with the same Apple Transport Security settings you're using in your main app. The error here indicates the server has SSL issues or you're on the network with issues

[2018-04-19 18:53] zzzkk opened #1194 "Crash [EXC_BAD_ACCESS (code=1, address=0x0)]"
User authorization works fine, but then on access permission scopes configuration app crashes and results in EXC_BAD_ACCESS exception exactly on this call:

[code]

[2018-04-20 09:06] #1194 closed

[2018-04-20 09:08] zzzkk commented on #1194
[issue duplicated](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/268)

[2018-04-25 22:35] oldalton commented on #1191
ADAL 2.6.3 should solve the issue until Apple releases the fix (https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.6.3)

[2018-04-25 22:45] medhaj commented on #1191
Thanks @oldalton

I just tested it, the new version is not fixing the issue I am facing.

[2018-04-25 22:48] oldalton commented on #1191
@medhaj, are you referring to the NSURLErrorSecureConnectionFailed issue? That's a different issue.

[2018-04-25 22:56] medhaj commented on #1191
I am referring the "The network connection was lost." when using ADAL with embedded browser on iOS 11.3. I am still working with our IT department to check if to comes from our internal ADFS service.

[2018-04-26 01:01] oldalton commented on #1191
@medhaj I recommend you to use CFNetwork diagnostics logging in your project: https://developer.apple.com/library/content/qa/qa1887/_index.html

`setenv("CFNETWORK_DIAGNOSTICS", "3", 1);`

That way you can see what's up with your connection. If that only started happening on iOS 11.3 and is not clearly a service issue, I suggest you open a bug with Apple for investigation.

[2018-05-02 13:50] cappelluti opened #1200 "ed"

[2018-05-15 14:38] flo-bk opened #1203 "Use WKWebview instead of UIWebView"
Hello @oldalton
In a previous issue you have mentionned the WKWebView, I really need to use it instead of the UIWebview (in order to implement WKProcessPool).
I've tried to update the library but it doesn't work. (the webview is never displayed)

Do you have by chance any advise to help us ?

Many thanks for your help.

[2018-05-16 16:58] supervixen commented on #1191
@oldalton, I was having this same "network connection lost" issue, and I upgraded to ADAL 2.6.3 as you recommended and it was resolved. (thank you:) ! )

But now I'm getting these two errors. Could you please advise?

2018-05-16 09:51:04.252516-0700 ERROR: createEncodedCachedResponseAndRequestForXPCTransmission - Invalid protocol-property list - CFURLRequestRef. protoProps={
    context = "<ADWebA

[2018-05-16 19:12] oldalton commented on #1191
@supervixen The issue you're seeing is a known issue and we've previously seen it on macOS: https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1026

We're addressing it during our larger code refactoring, but there shouldn't be any implications to the authentication succeeding due to this particular warning you're seeing. If it's not true and you're seeing authentication fail

[2018-05-16 21:59] supervixen commented on #1191
Yes, you're totally right. The users are getting authenticated successfully. However, they have to manually enter credentials even if they have the Azure Authenticator app. Is this a side effect ?

[2018-05-16 22:06] oldalton commented on #1191
@supervixen I don't think so. I think you're not seeing SSO working.

Are you using brokered authentication (ADCredentialsType == AD_CREDENTIALS_AUTO)?
Are you trying to get SSO working between different apps?

Also, SSO support between different apps through Authenticator app is quite limited for non device joined scenarios. Please refer to documentation here: https://docs.microsoft.com/en-us/azu

[2018-05-17 07:38] flo-bk commented on #1203
Hi,
Thank you very much.
Kind regards,

[2018-05-18 17:48] oldalton commented on #1191
@terabytes The issue described here is -1005 - network connection lost. The issue on your screenshot is -1003 and it says that "a server with the specified hostname could not be found". It's a different issue, if you're confident it's an ADAL issue, please open a separate ticket. Looks like a server or DNS issue to me.

[2018-05-19 23:06] terabytes commented on #1191
D'oh! Thanks a bunch for catching that so quickly, @oldalton. You're my digital hero today! :1st_place_medal: I have a support ticket with Microsoft open to get this working so hopefully we'll sort this out soon :pray:

[2018-06-01 23:50] supervixen opened #1206 "AD_ERROR_TOKENBROKER_RESPONSE_NOT_RECEIVED (503 from Authenticator)"
Hello,

I started getting AD_ERROR_TOKENBROKER_RESPONSE_NOT_RECEIVED error sporadically on iOS 11.4 (after a device reset). I've since then reinstalled the Authenticator app and re-registered my device to MFA with contact method "Phone App" but this doesn't seem to help. Any insights on why this might be happening?

ADAL log:

ADAL 2.6.3 iOS 11.4 [2018-06-01 23:40:41] Error raised: (Domain: "ADAut

[2018-06-02 00:00] supervixen commented on #1206
This had something to do with the force prompt setting

[2018-06-02 00:00] #1206 closed

[2018-06-02 00:06] supervixen commented on #1206
This seems to have something to do with the FORCE_PROMPT setting. I wanted to support bypassing the token cache for debugging purposes. I'm authenticating first to a 1st party and then to 3rd party resource for the 3rd party. If I use FORCE_PROMPT for both then this seems happen, and gets resolved if I use PROMPT_AUTO for the second token. Closed the issue but any information will be really apprec

[2018-06-05 13:47] pvroosendaal commented on #1191
@oldalton Finally had the time to test the fix in ADAL 2.6.3. Removed the workaround that @elsewhat suggested earlier and I can confirm the connection lost (-1005) issue, when application goes to background, has been fixed. Thanks so much!

[2018-06-10 21:34] jamesjmtaylor opened #1207 "gpus_ReturnNotPermittedKillClient Crash"
Hello,

Our app uses ADAL 2.6.3 installed via cocoapods.  We just experienced several crashes of our app after our users moved from one wireless network to another.  Going to settings and forgetting the network fixed the issue, but we would prefer that they not have to do that each time their mobile device switches to a different wireless network.  The crashes occurred on an iPhone 5s, an iPhone 6

[2018-06-19 08:59] ramkrishna880 opened #1214 "Get Failed login attempt details ADAL ios"
Hi Team,

Can we get failed attempts at the time of login from ADAL library? For example, someone tried twice and both time login is failed. is there any provision to get these details from ADAL library.

Also last login time of a user.

Please help me if any provision.

[2018-06-22 03:42] oldalton commented on #1214
If sign in fails, the status in ADAuthenticationResult would be AD_FAILED. Please refer to documentation here: https://github.com/AzureAD/azure-activedirectory-library-for-objc#how-to-quickly-get-a-token-from-the-sdk

[2018-06-22 03:42] #1214 closed

[2018-06-22 03:44] oldalton commented on #1207
This doesn't seem like it's an ADAL issue. If you have a repro of this issue on your device, I'd recommend you to report it to Apple.

Please let me know if you have reasons to believe it's ADAL's issue. Feel free to reopen it in that case :)

[2018-06-22 03:44] #1207 closed

[2018-06-22 03:45] oldalton commented on #1191
Closing this issue as it has been fixed in ADAL 2.6.3.

[2018-06-22 03:45] #1191 closed

[2018-06-22 03:46] oldalton commented on #1169
I'll close this issue. Please feel free to reopen it, if it's still a problem.

[2018-06-22 03:46] #1169 closed

[2018-06-22 03:46] #1162 closed

[2018-06-22 03:48] oldalton commented on #1111
I believe you need to use the access token you get from ADAL to authenticate when you're trying to open the webpage (Bearer header). ADAL won't automatically handle that, ADAL will just provide the access token.

[2018-06-22 03:48] #1111 closed

[2018-06-22 03:48] oldalton commented on #966
Closing, as it's not an issue for ObjC SDK.

[2018-06-22 03:48] #966 closed

[2018-06-22 03:49] #971 closed

[2018-06-22 03:49] #972 closed

[2018-07-03 11:20] smudireddy commented on #632
if iOS agent ADAL module sends "haschrome=1" then cert based authentication failing with an error.
How to control/ignore from AD end ?

[2018-07-04 04:52] smudireddy commented on #632
Hi Jasoncoolmax,

if native iOS app ADAL module sends "haschrome=1" then cert based authentication using ADFS failing with an error.
How to control/ignore this from AD end instead of setting 0 or removing it from ADAL sources ?. If there is no option to control it on AD then where we have to check on AD side which causing the Auth failure ?

[2018-07-09 12:40] henninghall commented on #1005
Is it possible to do this automatically for all effected files?

[2018-07-09 22:07] supervixen commented on #551
This can happen on the first time the user has installed the app, and when the app didn't yet have a chance to make any successful acquire token calls nor store the userId. What's the recommended error handling for this case? Are the users supposed to know their ADAL user Id and app developers supposed to provide a UX for the user to enter their userId's manually ?

[2018-07-11 08:34] acalism commented on #1005
For Xcode 9.4, there is no "Interface Builder Document" section, you can edit xib's source code, cut one `<capability name="">` line, and reopen as "Interface Builder XIB Document", and it will automatically insert the cut line and show "Interface Builder Document" section in File Inspector, then you can change its "Builds for" item.

[2018-07-12 17:10] shueybubbles commented on #116
Is there a .Net /C# equivalent for this cookie deletion code?

[2018-07-20 17:32] leewhitbeck opened #1249 "Cordova Adal Library. Bump to the latest version?"
I am using the [cordova adal library](https://github.com/AzureAD/azure-activedirectory-library-for-cordova), which uses version **2.3.1** of **this library**.  It looks like there has been [over a year](https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/changelog.txt)  of updates since version 2.3.1 to this native library.

I am interested in forking the cordova adal repo a

[2018-07-21 22:12] oldalton commented on #1249
Hi @leewhitbeck. Unfortunately, we don't maintain ADAL Cordova library. There should't be any breaking API changes, but there are multiple new features and APIs added that you might need to integrate. The best way to see the list of changes is to go to the "releases" page.

Adding @xerners for additional information regarding ADAL Cordova library.

[2018-07-23 23:57] oldalton commented on #1249
This behavior is by design. ADAL doesn't guarantee that the result access token has device id in it. The only way to guarantee it is to use the "claims" parameter to enforce the deviceId. The claims parameter has been added a couple of releases back, so in that sense updating to latest release will help you.

[2018-07-24 14:51] leewhitbeck commented on #1249
@oldalton Thank you very much for the feedback. Your input has highlighted the root cause of our issues. I really appreciate it.

[2018-07-24 14:51] #1249 closed

[2018-07-25 10:06] fayaj1 commented on #1005
just change the Deployment Target, it will working fine.

[2018-07-31 15:51] AndreaGrantu opened #1255 "Access Token Expired"
Hi,
I'd like to have some information regarding access token (AT):
How can I notice if AT has expired?
Otherwise, If I aware that the access token is expired (through my personal API toward my backend), do I have to recall "acquireToken"?  Is there a way to obtain another AT without showing login view?

Thanks for the support,

Have a nice evening

[2018-07-31 22:13] oldalton commented on #1255
Hi. ADAL automatically checks that access token is not expired. 5 minutes (this time is configurable) before the expiry date it will try to refresh the access token before returning. Additionally, ADTokenCacheItem has an isExpired method and expiresOn date property.

[2018-08-01 07:20] pbruinink opened #1256 "No 'Keep Me Signed In' message is shown"
I have an App that is using ADAL to login the user. After the user is successfully logged in, one of the options in the App is to open a website which is published through the Azure App Proxy (with AzureAD pre-auth enabled). The acquired token is added as a Bearer token to a URLRequest which is opened in a UIWebView.

This works as expected, but once the App is force-closed the session cookie is n

[2018-08-01 12:11] SouvikBhowmick opened #1257 "AuthToken is of 8 alpha-numeric characters"
Hello,
I am facing some serious issue which impacting the delivery of my project. Hence looking for you kind help ASAP.

Actually I was trying to implement the latest version of ADAL library into my iOS code. After successful login, I am getting both of the access token and refresh token of only 8 alpha-numeric characters.

Whereas, while I am using the Android version library, I am getting some b

[2018-08-02 02:43] oldalton commented on #1257
Hi. Are you seeing 8 character tokens in the log? ADAL only logs partial hash of the token for identification and doesn't log the entire token. I'm suspecting that's what you're seeing. ADAL will return correct JWT token to the developer.

[2018-08-03 08:18] AndreaGrantu commented on #1255
Hi,
thanks for the answer. I have only another issue.
When I call acquireToken , it fails and it raises the following message :

"Error : The certificate for this server is invalid. You might be connecting to a server that is pretending to be “xxxxxxxx”, which could put your confidential information at risk"

I have also set the argument validateAuthority = false in ADAuthenticationContext init, b

[2018-08-03 17:27] oldalton commented on #1255
You need to fix your server. If you're trying to connect to dev server for example, it might be that SSL certificate is invalid. There's no way to skip the certificate check in ADAL, because that would be a security issue.

[2018-08-07 01:20] unpluggedk opened #1261 "Broker request should determine username better"
In interactive flow, see if using upn from the response of msauth://wpj?upn=...&applink=... be better than username from request parameter

[2018-08-09 13:33] SouvikBhowmick commented on #1257
Hi Olga,
This is to inform that I was using the same code given as sample in this Repo(from Dev branch). On the sample app, I was running **MyTestiOSApp**, after setting up the app details (like authority, resource, clientId, redirectUri) in ADTestAppSettings. I put a breakpoint in ADTestAppAcquireTokenViewController (line number 521),
<img width="1104" alt="screen shot 2018-08-09 at 6 37 43 pm" s

[2018-08-09 15:59] oldalton commented on #1257
Hi. Yes, this is expected. If you do "po result", it will log the description of the result object. Instead of the whole token, ADAL logs just a short hash of the token to make sure no PII gets logged. It's just a visual representation for the description log. If you want to see the actual token content, you should do po "result.tokenCacheItem.accessToken". This will allow you to see the full cont

[2018-08-09 23:43] oldalton commented on #1256
This is expected behavior for UIWebView - it doesn't persist session-only cookies beyond its lifetime.
Also, ADAL doesn't control the "keep me signed in" message by itself, server side decides it. I think it should never show it for UIWebView. This would work in SFSafariViewController or SFAuthenticationSession though.

[2018-08-10 07:33] pbruinink commented on #1256
Well, I have to say that's not my experience when using a UIWebView. In a test app that only contains a UIWebView, I DO see the KMSI message after successfully authenticated and when I tap YES I don't have to re-authenticate when opening the App (after it has been force-closed). Just like what I expected when a PSSO has been set.
So this seems to be working fine without using the SFSafariViewContr

[2018-08-15 21:41] leewhitbeck commented on #1249
Hey @oldalton, I'm looking into this issue again as I am working on a forked branch of the cordova adal library that references the latest release of IOS adal.

Looking at [this commit](https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/997), it appears a new "claims" parameter was added.

Is this where I need to send the claim info returned from the below graph api error:

**_

[2018-08-16 00:41] oldalton commented on #1249
Yes, that's where you would send the claims. But the example here is not claims parameter, claims are JSON: e.g. {"access_token":{"polids":{"essential":true,"values":["<GUID>"]}}}

[2018-08-16 06:25] bhumin3i commented on #1249
@oldalton we got claim parameter from response like you mentioned, but when I send in extraQueryParameters of below method with Cordova [v0.10.1](https://github.com/AzureAD/azure-activedirectory-library-for-cordova)

[code]
but it seems to be not working, and also I can't see any claim parameter.

[2018-08-16 20:11] DGSTRACK commented on #654
I'm getting a similar error, MacOS 10.13.6, xCode 9.4 (9F1027a) Swift 4.1

I am getting the error:

"2018-08-16 14:48:31.926631-0400 TEST116[14652:4473038] ADAL 2.6.5 iOS Sim 11.4 [2018-08-16 18:48:31 - 09A3F915-AF98-4BE3-9549-6E467673C827] ERROR: Error raised: (Domain: "ADKeychainErrorDomain" Code: -34018 ProtocolCode: "(null)"**"

(After receiving the ADAL login screen and entering the valid use

[2018-08-22 05:42] unpluggedk opened #1265 "Add condition to stop or continue at state verification"
Some environment might not have state verification enabled.
There needs to be a way to force continue even if state verification fails.

[2018-08-28 23:15] alexrainman opened #1269 "AccessToken is empty"
ADKeychainTokenCache contains one item but AccessToken property is empty.

[2018-08-28 23:34] alexrainman commented on #1269
I see this error:

[code]

[2018-08-30 03:26] oldalton commented on #1269
Hi. It's likely that you're seeing the refresh token entry in the cache. ADAL will automatically try to acquire new access token using refresh token when you call acquireTokenSilent.
What is the result you're seeing in ADAL result callback?

[2018-08-30 04:06] alexrainman commented on #1269
Issue solved. Found that there are multiple tokens saved in the cache and i was getting the first one which, for some reasons, had AccessToken property empty. Now everything is working as expected. Thanks

[2018-08-30 04:08] oldalton commented on #1269
@alexrainman We generally don't recommend reading cache directly. We'd recommend to use acquireTokenSilent method to read tokens from cache. What's the scenario you're trying to solve by reading from cache directly?

[2018-08-30 04:15] alexrainman commented on #1269
It has been working just fine for me reading the token directly but i will take a look at acquireTokenSilent method. By the way, this is from Xamarin using my own binding.

[2018-08-30 04:16] alexrainman commented on #1269
Will this method show a login screen if there's not token?

[2018-08-30 04:18] oldalton commented on #1269
acquireTokenSilent won't show the login screen. It will return a particular error message to indicate that login screen needs to be shown. If you want to automatically show the login screen, if there're no tokens in cache, you can use acquireToken with AD_PROMPT_AUTO

[2018-08-30 15:08] alexrainman commented on #1269
@oldalton can you clarify this property?

[code]
There are two "not" in the comment and what "user" is that? Upn under UserInformation?

[2018-08-30 15:13] alexrainman commented on #1269
Is ExpiresOn expressed in UTC?

[code]

[2018-08-30 16:57] AndreaGrantu opened #1270 "AcquireSilentToken error"
Hi,
I successfully did login using acquireToken and got access token. Then when I kill the app and restart it, the app has to check if Access token is still valid or not in order to show different behaviors due to requirements.
I tried to use acquireTokenSilent, but every time it shows me USER INPUT NEED ERROR. It seems that in the cache there's no informations stored (I debugged step by step) . D

[2018-08-31 13:42] AndreaGrantu commented on #1270
I've just debug the application, it obtains the access token successfully, but the verbose log said:
"ERROR: Error raised: (Domain: "ADKeychainErrorDomain" Code: -34018 ProtocolCode: "(null)" "
Is it the reason for the cache store problem?

Thanks!

[2018-09-02 09:33] ArsalanWahid commented on #1005
@fayaj1  Thanks this worked for me

[2018-09-03 23:59] oldalton commented on #1270
Please make sure you configured your keychain access group correctly, as described here: https://github.com/AzureAD/azure-activedirectory-library-for-objc#caching

[2018-09-04 00:01] oldalton commented on #1269
[code]

Will return YES, if server doesn't return us an id_token (not OIDC compliant). AAD will always return an id_token when requested.

Will fix the double not in comments, thanks for the note.

[2018-09-04 00:01] oldalton commented on #1269
And expiresOn property is calculated based on device's time at the time of receiving the token.

[2018-09-12 22:53] paulw11 opened #1278 "Deprecated methods in ADAuthenticationViewController.m"
This file generates two deprecation warnings.

 * `shouldAutorotateToInterfaceOrientation:(UIInterfaceOrientation)interfaceOrientation)` - This can be replaced with something like:

[code]

* `viewDidUnload`
The implementation of this function only performs debug logging.  It could be removed.

[2018-09-13 11:51] pvroosendaal opened #1280 "Acquire token error: Failed to set item into keychain"
ADAL version 2.7.0 returns error 'Failed to set item into keychain.' when performing acquireToken(), so all of our users are unable to login with this version.
Rolling back to version 2.6.5 fixes the issue.

So far we tested on iOS 12 GM (iPhone 6 & X), and 11.4.1 (iPhone X).

[2018-09-13 16:17] dianambb opened #1281 ""instance_aware=true" does not return the correct value for authority for soverign clouds"
I am following the steps outlined in the wiki but the authority property on the result is still incorrect. Our ADAL SDK version is 2.6.4.

Using an account on GCC High, I am calling the snippit below.

[code]
In the result returned,

result.authority is "login.microsoftonline.com/common" instead of "login.microsoftonline.us/common". I see the same issue with DoD instance.

[2018-09-17 21:38] oldalton commented on #1280
Thanks for reporting this. Can you please confirm, which keychain access group you're using (if any)? Thanks

[2018-09-17 21:39] oldalton commented on #1269
Seems the issue has been addressed. Feel free to reopen if you have additional questions.

[2018-09-17 21:39] #1269 closed

[2018-09-17 21:40] oldalton commented on #1281
Discovery for this tenant returns login.microsoftonline.com, so it's not an ADAL client side issue. We'll follow up on the configuration to understand if login.microsoftonline.com is an expected result.

[2018-09-17 21:40] #1281 closed

[2018-09-17 21:41] oldalton commented on #1270
@AndreaGrantu Have you had a chance to try out the suggestion and see if it works for you?

[2018-09-17 21:42] oldalton commented on #1278
This has been addressed on the dev branch already and will be included in the next release.

[2018-09-17 21:42] #1257 closed

[2018-09-17 21:42] #1255 closed

[2018-09-17 21:47] alexrainman commented on #1269
Yeah, i got it working. I released my bindings as a nuget named ADALBindingsiOS

[2018-09-18 01:02] oldalton commented on #1280
@pvroosendaal, I did some more testing on different ways to set keychain access group in ADAL and all the tests succeeded on 2.7.0.

Here's the list of tests:
1. Default access group
2. Send custom shared group when creating context
3. Send nil shared group when creating context
4. Override shared group through ADAuthenticationSettings
5. Set nil group through ADAuthenticationSettings
6. Provide c

[2018-09-18 20:31] pvroosendaal commented on #1280
Hi Olga, thanks for your response. We have a keychain access group set in the entitlements file ($(AppIdentifierPrefix).roadmap_access_group), but we're not using it for SSO and haven't set it in anyway with ADAL. In previous versions we never had to do that.
The error output only says "Failed to set item into keychain.". I don't see the 'status'.

[2018-09-19 03:03] oldalton commented on #1280
@pvroosendaal If you're not using default keychain sharing group for ADAL, you must call the following line:
`[[ADAuthenticationSettings sharedInstance] setDefaultKeychainGroup:nil];`

Otherwise, it will call "com.microsoft.adalcache" by default and it will fail (also in previous versions).
Can you please confirm that you're doing that?

Regarding the difference between 2.6.5 and 2.7.0, maybe it's

[2018-09-19 03:51] oldalton commented on #1280
@pvroosendaal I figured out your issue. Basically, it seems that you also had issues in 2.6.5, they weren't just obvious.

It looks like you don't change the default access group as per our documentation (you have to set it to nil), so ADAL will try to use "com.microsoft.adalcache" by default.

Because you don't have "com.microsoft.adalcache" as one of your entitlements, any cache writing will fai

[2018-09-19 16:37] AndreaGrantu commented on #1270
Yes,
my solution is to set promptBeheviour = Force Refresh in the acquireToken.
In this way, acquireTokenSilent does not rise the USER INPUT NEED ERROR.

[2018-09-21 19:23] venkatkonjeti opened #1295 "SharePoint token using Outlook user id token"
I am building a outlook add-in which needs to access the SharePoint resources with user permissions with out asking for signin crdentials again.

I have registered an app in Azure AD and calling "https://login.microsoftonline.com/common/oauth2/authorize" with client id which is prompting for username and password again which I should avoid signin popup as my outlook  already signed in with my offi

[2018-09-21 22:16] oldalton commented on #1295
Hi. A third party app can't access Outlook's credentials. This is the security boundary. Please let me know if I misunderstood your question.

[2018-09-24 16:36] venkatkonjeti commented on #1295
This is a Node JS application and I am using ADAL.js. I had a same impression initially but there is an article [Enable SSO for Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins) which achieves SSO for Graph API this uses Azure AD v2.0 registration. I want to achieve same thing for SharePoint API.

[2018-09-28 18:29] rohitnarula7176 commented on #1295
@venkatkonjeti Please open an issue on the ADAL js repo. I have added the link below:
https://github.com/AzureAD/azure-activedirectory-library-for-js. Closing this as this is not applicable to ADAL Objc.

[2018-09-28 18:29] #1295 closed

[2018-09-28 18:36] venkatkonjeti commented on #1295
Thanks Rohit.

[2018-10-02 17:59] pcooney10 opened #1307 "azure-activedirectory-library-for-react-native"
Hey team,

There are `microsoft-authentication-library-for-js`, `azure-activedirectory-library-for-objc`, and `microsoft-authentication-library-for-android` libraries - is a React Native implementation anywhere on the roadmap?

P.S. Thanks for the great work!

[2018-10-03 21:14] dianambb opened #1310 "Crash in [MSIDKeychainUtil appDefaultAccessGroup] in version 2.7.0"
This is the top of the call stack. The full crash log has been shared offline.

0   CoreFoundation                	0x00000001acf2ff50 CFRelease + 124 (CFRuntime.c:948)
1   ADAL                          	0x0000000101454dbc __41+[MSIDKeychainUtil appDefaultAccessGroup]_block_invoke + 688 (MSIDKeychainUtil.m:80)
2   libdispatch.dylib             	0x00000001aca84484 _dispatch_client_callout + 16 (obje

[2018-10-05 02:18] oldalton commented on #1310
Thanks. ADAL 2.7.3 fixes the issue: https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.3

[2018-10-10 04:27] harishios opened #1315 "ADAL Multi Resource Refresh Token Error"
* Expected behavior
     Aquire Access Token for **ResourceB** with Refresh Token of **ResourceA** should be providing Access Token for  **ResourceB** using the `acquireTokenWithRefreshToken` API.

* Actual behavior
      Aquire Access Token for **ResourceB** with Refresh Token of **ResourceA** results in

* Steps to reproduce the problem

1. Call  `acquireTokenWithResource` with the resource as R

[2018-10-10 14:40] imranhhs commented on #1280
Thanks, @oldalton its working fine now with above-mentioned API.

Error Details:
The operation couldn’t be completed. (Keychain ErrorDomain error -34018.)

[2018-10-11 16:35] oldalton commented on #1315
@harishios Can you check the response for the first response from the server? (Please replace actual token contents with some dummy data)

[2018-10-11 16:55] harishios commented on #1315
Hi @oldalton : You want me to copy paste the response here?

[2018-10-11 16:56] oldalton commented on #1315
Yes, but please replace the token and resource values with dummies.

[2018-10-11 17:06] harishios commented on #1315
@oldalton

tokenCacheItem.refresh_token = "dshjhj",
tokenCacheItem.access_token = "sdfdsfds",
tokenCacheItem.isMultiResourceRefreshToken() = false

[2018-10-11 17:12] harishios commented on #1315
@oldalton

When I remove the MS Authenticator application, I was forced to login with the IN APP Browser and after giving the credentials I'm landing in to this page.

![img_0060](https://user-images.githubusercontent.com/18008999/46821628-3d5aa680-cd57-11e8-842b-6cff9c9ab2c0.PNG)

[2018-10-11 18:30] oldalton commented on #1315
Basically, the second resource that you're trying to use requires device to be compliant. If it's a third party app, brokered authentication through Authenticator app is required to support those policies.

What you can do is:
1. acquireTokenWithResource with ResourceB through Authenticator
2. acquireTokenWithResource with ResourceA and prompt behavior PROMPT_AUTO will acquire token silently using

[2018-10-11 19:08] harishios commented on #1315
Hi @oldalton, Thanks for your response, in my case it's not sure that all the users will be having an Authenticator, and I also I can that Device is In Compliance.

[2018-10-11 19:15] harishios commented on #1315
@oldalton As I mentioned earlier, the two resources will be

[https://graph.microsoft.com/](url) and [https://www.yammer.com/](url)

[2018-10-11 19:28] oldalton commented on #1315
@harishios If it's not a Microsoft first party app, brokered authentication is required to access compliant resources.

[2018-10-11 19:49] harishios commented on #1315
@oldalton Thank you for you detailed explanation!

One last question, So without **MS Authenticator** application we can't access the multiple resources at same time correct?

[2018-10-12 00:47] oldalton commented on #1315
@harishios, ADAL SDK is used by both internal Microsoft products and external apps. If your app is not internal Microsoft product, then it's not a first party app.

And no, you CAN access multiple resources without MS Authenticator app, BUT you CANNOT access any policy protected resources without MS Authenticator app. You have setup a policy for your second resource to require compliant device, th

[2018-10-12 03:15] harishios commented on #1315
@oldalton Thanks for explaining why the request is failing, so now how to disable policy ? Any document link? How do we know that there is a policy defined for my second resource ? (Graph )

[2018-10-13 00:52] oldalton commented on #1315
You can change policy configurations in [azure portal](http://portal.azure.com).
Exact steps will depend on your configuration.

[2018-10-18 12:52] #1094 closed

[2018-10-19 21:49] navyasric commented on #1307
@pcooney10 Thanks for your interest. We have plans for ReactJS on our roadmap. For React Native, we are still evaluating plans and do not have a definite roadmap yet.

[2018-10-23 18:10] kiara544 opened #1329 "Failed to set item into keychain-ADAL 2.7.3 when i try to reset pin after clicking forgot password"
I do not use any other keychain group other than default adalcache.  Issue arrives only if the users hits forgot Pin , Sign in with your organizational Account screen shows up and  after the details are submitted users get failed to set error.

So reverted the ADAL 2.6.5 version and app works fine and users can reset the pin without any issues.

Any help is Appreciated

[2018-10-23 19:12] oldalton commented on #1329
@kiara544, can you please take a look at the issue here and let me know if it possibly has the same reason? https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1280?slice=test1&accesstokenforfamiliarip=true

If not, please provide sample code you're using and if you declare adalcache entitlement in your app.

[2018-10-23 20:45] kiara544 commented on #1329
@oldalton I tried the work around you mentioned in the above link but it did not work.

Yes my app is using iOS Intune MAM SDK. When Clicked on Forgot Pin button , webview is opened within the app and asks to sign in with organizational account after details are entered the error is thrown.

Sample Code of creating ADAuthContext and Acquiring Token

var authContext:ADAuthenticationContext = {

[2018-10-23 23:37] oldalton commented on #1329
Thank you, I'm suspecting there's an issue in the MAM SDK or some incompatibility.
Can you please provide exact ADAL error with code and description that you're seeing?

Even better if you could email me your ADAL logs as described here: [Logging](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Logging). Please send them to [my email](oldalton@microsoft.com)

Thanks.

[2018-10-23 23:38] oldalton commented on #1310
I believe this issue has been resolved. Feel free to reopen if you're still experiencing it in the latest ADAL version.

[2018-10-23 23:38] #1310 closed

[2018-10-23 23:39] oldalton commented on #1315
I believe this issue has been resolved. Feel free to reopen if you have more questions.

[2018-10-23 23:39] #1315 closed

[2018-10-23 23:39] #1307 closed

[2018-10-23 23:39] oldalton commented on #1270
I believe this issue has been resolved. Feel free to reopen if you're still experiencing it in the latest ADAL version.

[2018-10-23 23:39] #1270 closed

[2018-10-23 23:40] oldalton commented on #1280
I believe this issue has been resolved. Feel free to reopen if you're still experiencing it in the latest ADAL version.

[2018-10-23 23:40] #1280 closed

[2018-10-24 13:56] pvroosendaal commented on #1280
Thank you very much @oldalton ! This works indeed. I'm curious what the outcome of your discussion about "failing silently" will be. Please let me know If you find the time.

[2018-10-25 02:00] oldalton commented on #1280
We decided that failing early and clearly (like ADAL 2.7.x does) is better than failing silently and never caching any tokens. Cache is an essential component of ADAL. So, we will keep this as is.

However, in future we'll look into offering in-memory caching to not require caching to the keychain.

[2018-10-31 16:43] leewhitbeck opened #1334 "Forced Second Login Issue"
I'm using a [ forked version](https://github.com/mlynch/azure-activedirectory-library-for-cordova) of the microsoft cordova adal library that is referencing release 2.6.4 of this obc library.

We are experiencing an **issue** where some users of our app are forced to login twice. However, most users are not experiencing this issue. From what we have gathered so far, the double login seems to happe

[2018-10-31 19:31] antrix1989 opened #1335 "Replace ADEnrollmentGateway with MSIDIntuneMAMResourcesCache & MSIDIntuneEnrollmentIdsCache"

[2018-11-01 18:06] oldalton commented on #1334
Are they forced to login twice when getting a token for 2 different resources or for the same resource?

[2018-11-01 18:17] leewhitbeck commented on #1334
@oldalton same resource.

[2018-11-02 04:30] corbinreynolds opened #1337 "ADAL 2.7.4 Fails to Compile with Carthage"
The `ADAL iOS` scheme in SDK version 2.7.4 fails to compile with Carthage. The compilation error is below:

[code]

It looks like the log line above, needs to be re-written:

**MSID_LOG_ERROR(nil, @"Failed to delete teamID, result %d", (int)deleteStatus);**

To reproduce the issue, download the Test project and run `carthage update --platform iOS` in the top-level directory. To install Carthage, c

[2018-11-05 19:37] oldalton commented on #1337
Please try with ADAL 2.7.5. We fixed that warning in 2.7.5.

[2018-11-06 03:02] #1337 closed

[2018-11-06 03:03] oldalton commented on #1329
The behavior should be improved in ADAL 2.7.5. Please try out.

[2018-11-06 03:03] #1329 closed

[2018-11-06 03:03] oldalton commented on #1278
Should be fixed in ADAL 2.7.5. Please try out.

[2018-11-06 03:03] #1278 closed

[2018-11-06 15:18] AndreaGrantu opened #1341 "removeAll(forClient: ) does not work on update 2.7.3"
Hi,
I recently update ADAL from 2.6.2 to 2.7.3 and the first thing I noticed is that the
ADKeychainTokenCache.defaultKeychain().removeAlll(forClientId: client, error: nil) does not work and don't even catch any error., while everything is ok on  2.6.2 version.

How to solve this?

Thanks!

Andrea

[2018-11-06 18:13] oldalton commented on #1341
Hi. When you say it doesn't work, can you please provide more details on the exact issue you're facing? Thanks.

[2018-11-07 18:24] fowlerp-qlik opened #1342 "OAuth token corresponding to unauthorized user"
A tester performed a (negative) test where he attempted to login via ADAL on Android with an account that is not authorized to use the webapi. More specifically here is the flow:

Our code calls mAuthenticationContext.acquireToken(mActivity, url, clientId, mAuthenticationContext.getRedirectUriForBroker(), loginHint ,PromptBehavior.Auto, null, mCallback); where the url is equal to the Azure webapi

[2018-11-07 18:26] #1342 closed, assigned to nobody

[2018-11-08 10:05] AndreaGrantu commented on #1341
Hi,
after call ADKeychainTokenCache.defaultKeychain().removeAll (...), the .allItems returns the client id anyway.
Moreover, the error = nil

Thanks

[2018-11-14 21:00] antrix1989 commented on #1341
Could you please send your logs to this email sedemche@microsoft.com?

[2018-11-16 09:18] dev-kingdom opened #1344 "How to validate Access Token?"

[2018-11-16 09:19] dev-kingdom commented on #1344
How to validate access token so that it is valid to access APIs (e.g. GET https://graph.microsoft.com/v1.0/me)

[2018-11-16 23:03] fkelly commented on #1249
I recently discovered that in our codebase we were using the `extraQueryParameters` argument rather than the `claims` argument to request `deviceid` for the access token. For a long time, this worked OK (in that the access token did indeed contain `deviceid`) even though our code was incorrect based on your comment above.

I'm wondering if you have any insight as to why this would have worked befo

[2018-11-16 23:15] oldalton commented on #1249
@fkelly Can you provide exact format of extraQueryParameters that you were using?
In general, extraQueryParameters don't guarantee that correct token will be returned. If there's already a different access token in cache, it will return it even if it doesn't satisfy conditions in the extraQueryParameters. That has always been that way. If you pass claims, ADAL guarantees that access token cache is

[2018-11-16 23:35] fkelly commented on #1249
@oldalton thank you very much for your extremely quick response.

This is what we _had_ been doing:

[code]

Per your comment above I'm planning to change it to:

[code]

Would that be the correct way to _guarantee_ the `deviceid` is in the token?

Thanks a lot for your help!

[2018-11-16 23:39] oldalton commented on #1249
@fkelly, Yes that should guarantee that you get claims in the access token, or user is asked to complete an action to fulfill the request. However, please make sure you don't always pass claims to silent auth. That will always bypass access token cache and make network request to the server every time, which is probably not what you want.

[2018-11-16 23:46] fkelly commented on #1249
So would the correct logic be to call `acquireTokenWithResource` without claims and, if that fails, to then call with claims? Or is there a way to inspect the cached token to see if it contains the deviceid? Or is there another way?

Thanks!

[2018-11-16 23:58] oldalton commented on #1249
You can do acquireTokenSilent without claims, and acquireToken with claims after that if you don't get deviceId. If you're using acquireToken with PROMPT_AUTO (default), there's no good way to do that. If you use a fallback logic, your user might get prompted twice. So, I'd recommend you to explicitly use acquireTokenSilent API without claims, and only use acquireToken with claims when you're cert

[2018-11-17 00:01] fkelly commented on #1249
This is all very helpful. Thank you.

[2018-11-17 20:01] oldalton commented on #1334
@leewhitbeck Do you mind sending us ADAL logs? Please see instructions [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Logging). Please make sure your logs don't contain any private information. You can send the logs to [my email](mailto:oldalton@microsoft.com)

[2018-11-17 20:04] oldalton commented on #1256
Server is deciding whether to use persistent cookies or not based on the security of the web container used. ADAL library already provides built-in keychain based caching mechanism for tokens, which is more secure mechanism than cookies. ADAL is using embedded webview, which is not secure web component.

[2018-11-17 20:04] #1256 closed

[2018-11-17 20:05] oldalton commented on #1171
Should be fixed in latest ADAL releases.

[2018-11-17 20:05] #1171 closed

[2018-11-17 20:06] oldalton commented on #1086
Please take a look at our MSAL SDK, which supports Safari View Controller among other components: [MSAL Obj-C](https://github.com/AzureAD/microsoft-authentication-library-for-objc)

[2018-11-21 16:18] leewhitbeck commented on #1334
@oldalton, I am unable to get the logs at the moment due to a **new issue** that we are seeing.  Our Intune administrators made a change in the conditional access policy configurations [requiring only approved apps selections](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/technical-reference#approved-client-app-requirement).  It seems that only Microsoft applications a

[2018-11-27 11:06] AndreaGrantu opened #1347 "Question Refresh Token Validation"
Hi,
I have one question about the Refresh Token in a particular scenario:
 I have 2 devices (A and B), both logged with the same account at the same time.  Device A changes the account password.

Now I suppose the flow is this:
1.  After N hour (N = access token expiration time), the AT will expire, in both devices.
2.  So if I try to do an external call with device A, the backend will notice me t

[2018-11-27 23:16] oldalton commented on #1347
Yes, user would need to sign in on both devices. ADAL doesn't synchronize credentials to iCloud keychain for security reasons.

[2018-11-28 19:35] kkadapa opened #1348 "Unable to Authenticate Azure ADAL iOS Swift Library to access Azure Mobile Apps Easy Tables Data"
I am terribly in need of AD Auth for Swift iOS which can talk to Easy Tables and retrieve data, i religiously tried following this [AzureAD](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-ios-how-to-use-client-library#adal) and i think it's old... I was able to get the Access-Token and retrieve data from Easy Tables in my first time user login call see below:

var app

[2018-11-30 07:18] aquakul commented on #1191
I used ADAL 2.6.3 and the issue still happens. I believe my issue is similar to OP. In my case, the app never goes to background. We call 'acquireToken' which launches an embedded WebView where user inputs credentials. What we noticed is that although the operation seems to fail (the network lost prompt is shown), seems the token is fetched successfully. Because if we trigger 'acquireToken' again,

[2018-11-30 08:21] aquakul commented on #1191
No luck with the latest version 2.7.6 too. Does this have something to do with how the WebView is embedded in the app.

[2018-11-30 19:07] nitaeduard opened #1356 "Cannot do automatic silent login at app restart (ADFS)"
I am struggling for two days with the silent acquire token support. We have the following requirement:
1. app reinstallation and different user logged in
2. app restart should identify the previously logged in user
3. token expiration and refresh (probably this is the same requirement as 2.)

For this we are having the following initial login setup:
[code]
    ADAuthenticationContext *authContext

[2018-11-30 19:17] oldalton commented on #1356
Hi. Can you please confirm which ADFS version it is?
Generally, result.tokenCacheItem.userInformation.userId should be used for silent requests. Certain ADFS versions didn't support OIDC, so ADAL saved tokens with an empty user identifier for those.
Is this something that started happening recently or has never worked?

For further investigation, it would be helpful if you could send [ADAL logs](h

[2018-11-30 19:21] oldalton commented on #1348
Yes, you should store userId from the result and use it for subsequent silent requests (acquireTokenSilentWithResource...). You can rely on ADAL to cache refresh and access tokens and return tokens to the app on iOS, no need to cache tokens yourself. So, whenever you need an access token, call ADAL's acquireTokenSilent method and you'll get the correct token back or request to do interactive authe

[2018-11-30 19:43] kkadapa commented on #1348
Wonderful! @oldalton i'll try to do that... i am using this in my POD `pod 'MicrosoftAzureMobile', '~> 3.4.0'` [thisone](https://cocoapods.org/pods/MicrosoftAzureMobile)... I am religiously following [this](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-ios-how-to-use-client-library#adal) documentation for client.login method is this outdated? All i want is the access

[2018-12-01 01:30] oldalton commented on #1348
The original error you posted is coming from MicrosoftAzureMobile space: ERROR Error Domain=com.Microsoft.MicrosoftAzureMobile.ErrorDomain Code=-1302 ". Can you clarify if you're getting an access token successfully from ADAL and getting an error when calling MicrosoftAzureMobile? If that's the case, please refer to MicrosoftAzureMobile SDK.

[2018-12-02 12:49] kkadapa commented on #1348
Yes ADAL is giving me access-token.. can i use that token to call easy tables data? Should i use [MicrosoftAzureMobile](https://github.com/Azure/azure-mobile-apps-ios-client) sdk to talk to the backend Azure Easy tables or MSAL or is there anything inbuilt sdk using ADAL to talk to easy tables? i thought i can use [this](https://github.com/AzureADQuickStarts/NativeClient-iOS) sample but i am so co

[2018-12-02 20:56] oldalton commented on #1348
Unfortunately, I'm not very familiar with easy tables or MicrosoftAzureMobile. It sounds like you're getting an access token successfully from ADAL, but there's some kind of an exception when you're trying to use the token. It might be that token is valid, but is missing some information. Or you're passing unexpected information to MicrosoftAzureMobile SDK. Therefore, I suggest to open an issue on

[2018-12-06 08:15] nitaeduard commented on #1341
Any update on this situation? I have been experiencing the same issues, using the same method.
The error is nil, but calling ADKeychainTokenCache.defaultKeychain().allItems(nil) will still return previously removed items.

[2018-12-06 16:56] oldalton commented on #1341
@nitaeduard, we weren't able to reproduce it ourself. Would you be able to provide ADAL logs for us, so we can investigate further? Please see instructions on logging [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Logging). Please send logs to [oldalton@microsoft.com](mailto:oldalton@microsoft.com).

[2018-12-09 22:55] oldalton commented on #1341
Alternatively to logs, you can execute following code and copy the output:

[code]

Note that you need to replace @"myclient_id" with your own client id. Please also let us know what is the client Id that you're passing to the method.

[2018-12-11 18:45] oldalton commented on #1356
Will be fixed in ADAL 2.7.7 release, PR #1357

[2018-12-11 18:46] oldalton commented on #1341
Thanks for providing logs. Based on the logs, I believe it's the same issue as #1356, as it's dealing with ADFS. Will be fixed in ADAL 2.7.7 release, PR #1357

[2018-12-11 18:46] oldalton commented on #1341
@AndreaGrantu, can you confirm that your issue also reproduces with ADFS authentication?

[2018-12-12 13:45] AndreaGrantu commented on #1341
Yes, it is

[2018-12-12 18:12] oldalton commented on #1341
Great, so it should be fixed by ADAL 2.7.7

[2018-12-18 20:48] HiKumar-MS opened #1362 "Invalid protocol-property list - CFURLRequestRef"
Mac command line tools run into this potentially blocking issue, starting sometime between ADAL 2.5.1 & 2.7.4 releases. Calling acquireToken APIs leads to the following message piped to the stderr, that cannot be controlled by the caller. Some such tools cannot function correctly if any stderr output is seen by the caller, and such an error will definitely be confusing to the users as well.

 entr

[2018-12-23 01:07] oldalton commented on #1362
[ADAL 4.0.0](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/4.0.0) should fix this issue, as it gets rid of custom url protocol altogether. Will take a closer look at fixing this in 2.7.8 as well.

[2018-12-23 01:08] oldalton commented on #1356
This should be now fixed in [ADAL 2.7.7 release](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.7). Please retry and let us know if it's fixed now.

[2018-12-23 01:09] oldalton commented on #1341
This should be now fixed in [ADAL 2.7.7 release](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.7). Please retry and let us know if it's fixed now.

[2018-12-23 01:13] oldalton commented on #1348
Hi, we haven't heard from you in a while so I'm closing this issue. Please reopen/comment if you have more questions or run into this again.

[2018-12-23 01:13] #1348 closed

[2018-12-23 01:13] oldalton commented on #1347
Hi, we haven't heard from you in a while so I'm closing this issue. Please reopen/comment if you have more questions or run into this again.

[2018-12-23 01:13] #1347 closed

[2018-12-23 01:15] oldalton commented on #1334
@leewhitbeck, sorry for a late response. You need to configure and use broker, in order to work correctly with conditional access policies. Please see instructions [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Broker)

[2018-12-23 01:17] oldalton commented on #1265
I assume this one is done. Closing the issue. Please reopen if necessary.

[2018-12-23 01:17] #1265 closed

[2018-12-23 01:17] oldalton commented on #1203
Hi. Please try our [ADAL 4.0.0 release](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/4.0.0) which supports WKWebView.

[2018-12-23 03:51] oldalton opened #1373 "Replace persistent UIPasteBoard with Apple recommended method"
Pasteboard Security and Privacy Changes in iOS 10
Starting in iOS 10, the Find pasteboard (identified with the UIPasteboardNameFind constant) is unavailable.
Persistent named pasteboards are deprecated in iOS 10. The system sets the persistence of all pasteboards automatically, with named pasteboards marked as nonpersistent and the systemwide general pasteboard marked as persistent. If you try to

[2019-01-04 14:10] nitaeduard commented on #1341
Yes, it is fixed in version 2.7.7.
Thank you.

On 23 Dec 2018, at 02:09, Olga Dalton <notifications@github.com<mailto:notifications@github.com>> wrote:

This should be now fixed in ADAL 2.7.7 release<https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.7>. Please retry and let us know if it's fixed now.

—
You are receiving this because you were mentioned.
Reply to th

[2019-01-04 14:11] nitaeduard commented on #1356
Yes, it is fixed in version 2.7.7.
Thank you.

On 23 Dec 2018, at 02:08, Olga Dalton <notifications@github.com<mailto:notifications@github.com>> wrote:

This should be now fixed in ADAL 2.7.7 release<https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.7>. Please retry and let us know if it's fixed now.

—
You are receiving this because you authored the thread.
Reply

[2019-01-04 18:32] leewhitbeck commented on #1334
@oldalton thanks for reaching out. I am working with MSFT on an open case we have open that is blocking our app. Once that is resolved I can send over the log information.

[2019-01-17 11:44] bhumin3i commented on #1362
@oldalton pod install error new version

[2019-01-17 16:50] oldalton commented on #1362
ADAL 4.0.0 hasn't been published to CocoaPods yet, as it's a pre-release version. It will be published to CocoaPods mid next week, unless there're new issues reported with it.

[2019-01-17 18:07] oldalton opened #1378 "Log resource and scrubbed authority in non-PII log to improve ease of debugging"

[2019-01-18 16:15] mjcheetham opened #1379 "Prompt behaviour "select account" is missing"
In ADAL.NET (desktop) the available [prompt behaviours](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/68d7dea3643e075be85abbca1ab88ba614465541/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Features/WinCommon/PromptBehavior.cs) are:

- Auto
- Always
- Never
- RefreshSession
- SelectAccount

..however in the Objective-C implementation the 'select account' option is m

[2019-01-31 11:17] aminemzid commented on #961
Hello,
Same question that @oldalton

[2019-02-06 10:12] bhumin3i commented on #1362
@oldalton still waiting for release!!!!

[2019-02-06 17:21] #1344 closed

[2019-02-06 20:23] oldalton commented on #1362
Just pushed it out. Sorry for a delay, we were trying to verify one customer report that it's not impacting latest release. Thanks.

[2019-02-15 20:57] Robert-Brais commented on #1165
Running into this issue when testing poor network conditions with the OneAuth Test App:
Repro steps (macOS):
- Configure network setting with Apple's Network Link Conditioner (Very Bad Network Pre-set: Bandwidth: 1 mbps, Packets Dropped: 10%, Delay: 500 ms)
-Sign-in to AAD account with account hint (justautomation@identityo365.onmicrosoft.com)
- Logging displays the message: Waiting on Authority V

[2019-02-19 19:22] AnilKumar09 commented on #1026
Hi,
I am using ADAL 2.7.7 and IntuneMAM SDK for IOS application.
Intune policy works for the first time after which when uninstalled and installed the app it does not work

It give below error:

ERROR: createEncodedCachedResponseAndRequestForXPCTransmission - Invalid protocol-property list - CFURLRequestRef. protoProps=<CFBasicHash 0x7fd6dc71d050 [0x7fffa1a9cda0]>{type = mutable dict, count = 1,

[2019-02-26 17:53] kiara544 opened #1385 "My App crashing at login (Access your originization data webpage)after updating to ADAL ios 4.0.0 version."
I also added exception break points and i see crash is happening in MSIDOAuth2EmbeddedWebviewController.m class in the ADAL SDK

<img width="2047" alt="adal-crash" src="https://user-images.githubusercontent.com/44411947/53434816-03640700-39bd-11e9-86d2-2ac99ec19038.png">

[2019-02-27 19:13] oldalton commented on #1385
Thanks, we're looking into it if it's an incompatibility between MAM SDK and ADAL 4.0.0. In the meantime, please use ADAL 2.7.x as a workaround.

[2019-02-27 19:14] oldalton commented on #1385
@rohitnarula7176, assigning you to this one.

[2019-03-08 17:29] nhart12 opened #1392 "ADAL error on latest cocoapods"
On latest version of Cocoapods and ADAL 4.0.0 when I run my app I'm getting the following error: this works on previous cocoapods vesrion 1.5.3  . I have ADAL added to an embedded framework in my project podfile:
target 'MyApp' do
end
target 'MyAppCore' do
    pod 'ADAL'
end

dyld: Library not loaded: @rpath/ADAL.framework/ADAL
  Referenced from: /Users/nathanhart/Library/Developer/Xcode/DerivedDa

[2019-03-12 06:03] thejaa commented on #654
@DGSTRACK
I'm also getting same issue which u r facing. Did you found any solution for this. Can you please  conform me on the issue.

Xcode: Version 9.4.1
Swift : 4.1
Mac OS : Version - 10.13.6

2019-03-12 11:07:50.356574+0530 [20589:602835] ADAL 2.6.2 iOS Sim 11.4 [2019-03-12 05:37:50 - F4F07EE4-7B08-48E7-97DA-CA7481FC21E1] ERROR: Error raised: (Domain: "ADKeychainErrorDomain" Code: -34018 Proto

[2019-03-13 01:27] jasoncoolmax opened #1394 "ADAL may store broker tokens not using preferred cache authority"
ADAL could save broker tokens without using preferred cache authority in the following corner case:
- ADAL calls broker;
- kill ADAL app;
- finish authentication in broker webview
- tokens are returned back to ADAL app.

[2019-03-13 14:38] kiara544 commented on #1385
Any updates on this issue ?

[2019-03-14 00:57] antrix1989 commented on #1385
Please check `webView` property of `ADAuthenticationContext` and make sure you are passing an instance of `WKWebView`, **not** `UIWebView`. As Olga mentioned above, we moved away from UIWebView in ADAL 4.0.0.

[2019-03-15 15:08] kiara544 commented on #1385
I double checked and made sure my app is not pass any webview instance. During debug i found that webview defined as WKWebview  in MSIDOAuth2EmbeddedWebviewController.m is still returns UIWebview instance when value is printed. Please see attached screenshot
![Screenshot](https://user-images.githubusercontent.com/44411947/54441208-42f35880-470a-11e9-80fe-09e38ae99f61.jpg)

[2019-03-15 16:41] antrix1989 commented on #1385
`UIWebview` is definitely coming outside of ADAL. Please catch a breakpoint in `ADAuthenticationContext acquireTokenWithResource:...` (line 14 in your stack trace) and print `webView` property:
`po self.webView`

If it is not nil, then you are passing it to ADAL.

[2019-03-15 19:16] kiara544 commented on #1385
I am getting nil when i print webview property
![Screen Shot 2019-03-15 at 1 31 04 PM](https://user-images.githubusercontent.com/44411947/54456601-f705db00-472c-11e9-9db1-1759dc613789.jpg)

[2019-03-15 19:59] antrix1989 commented on #1385
This happens because MAM SDK doesn't support ADAL 4.0.0. Please downgrade ADAL to 2.7.x until we add WKWebView support into MAM SDK.

[2019-03-19 15:50] OxyFlax commented on #389
I just experienced a similar issue while using Authenticator app, Code 500, status=AD_FAILED while Details is "User cancelled":
`(error=Error with code: AD_ERROR_TOKENBROKER_UNKNOWN Domain: ADAuthenticationErrorDomain ProtocolCode:(null) Details:User cancelled authentication flow. Inner error details: Error Domain=ADAuthenticationErrorDomain Code=500 "(null)", mrrt=NO, status=AD_FAILED, item=(null

[2019-03-19 17:23] oldalton commented on #389
@OxyFlax, can you specify which Authenticator's version you have installed on your device? Thanks.

[2019-03-19 17:32] OxyFlax commented on #389
@oldalton Vertsion 6.2.8

[2019-03-20 20:55] macblazer opened #1396 "Does ADAL v4.0.0 work with Workplace Join on macOS?"
I tried updating from v2.7.7 to v4.0.0 (via CocoaPods) in my Mac app.  Nicely, there were no code changes required in my code.  However when calling acquireToken with deviceid claims in the extraQueryParameters the user was not prompted for Keychain access for the Workplace Join certificate, and the tokens returned from Azure did not have the computer's device ID inside it.

The specific extraQuer

[2019-03-26 19:03] RomainPeres9 opened #1398 "Error: createEncodedCachedResponseAndRequestForXPCTransmission - ADAL - Executing app in IOS"
I am having a issue when I compile my code on my application.
I want to connect my app to an Active directory by ADAL Framework and that is the issue that I have on the debugger :
2019-03-26 15:01:05.226886-0400 Voucher Employess[7296:2122282] [Accessibility] ****************** Loading GAX Client Bundle ****************
2019-03-26 15:01:05.501585-0400 Voucher Employess[7296:2122282] [Application]

[2019-04-01 08:07] gjanblaszczyk opened #1403 "Support for On-Behalf-Of Flow"
Hi,

This is more a question instead of issue.
Is this SDK support On-Behalf-Of Flow?
If Yes then do you have any example how to use it.
I have also another question about id_token. Is it possible to get id_token via `acquireTokenWithResource` method?

Cheers,
Greg

[2019-04-03 19:44] #1403 closed

[2019-04-07 16:39] xcodeApps opened #1405 "we are using ADAL in project user is not able to login he tried reinstalling app but no sucess"
Not able to login in the device here is the console log which i got from the backend

ADAL 2.6.3 iOS 11.3 [2019-04-05 05:25:53 - 2F42BAE1-5CC2-4328-A2E4-703CE265F48A] ERROR: Error raised: (Domain: "ADKeychainErrorDomain" Code: -34018 ProtocolCode: "(null)"

[2019-04-09 23:34] oldalton commented on #1405
@xcodeApps, The error you're seeing means errSecMissingEntitlement. It likely means you haven't added "com.microsoft.adalcache" into your app's entitlements correctly. Please follow the guidance [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc#ios) and let me know if you're still experiencing issues.

[2019-04-22 22:45] jboulter11 opened #1406 "Login prompt should not allow user to change user id when type on ADUserIdentifier is set to RequiredDisplayableId"
## Repro Steps
1. call `ADAuthenticationContext.acquireToken` and pass an `ADUserIdentifier` with type set to `RequiredDisplayableId`.
1. User taps "Sign in with another account", changes the user id and finishes login on that id.
1. User is returned to our app and we must present an error because we didn't get a successful login on the required id.
1. User has to change the id in our app and sign

[2019-04-28 13:20] #1334 closed

[2019-05-08 05:24] dileepch opened #1412 "iOS12+ "The user is currently prompted for credentials as result of another acquireToken request. Please retry the acquireToken call later""
We are using ADAL library version 2.7.3 ( pod 'ADAL', '2.7.3') and it is throughing error message saying that _"The user is currently prompted for credentials as result of another acquireToken request. Please retry the acquireToken call later"_

When we get this error it wil not go off until unless users kills the app and relaunch it again.
Here is the code snippet for getting the access token and

[2019-05-10 20:55] oldalton commented on #1406
Thanks for the question. By design, RequiredDisplayableId ensures a client side only check, it doesn't enforce user id inside the web view. That's because client side doesn't have a good mechanism to lock userId for the server, login_hint that is passed is served as a hint only.

[2019-05-21 22:44] antrix1989 commented on #1412
Hi @dileepch, are you using "Microsoft authenticator" for authentication? Also, it would be helpful if you could send your [ADAL logs](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Logging) to sedemche@microsoft.com.

[2019-05-30 19:34] antrix1989 opened #1418 "Reduce network timeout interval"
Currently, it is 5 min. We need to reduce this interval since we are getting "app stuck" complains when there is a bad internet connection. I think we could reduce it to 30-60 seconds.

[2019-06-12 07:15] pratik-jaiswal opened #1423 "Keep me signed in prompt is does not comes after entering the credentials"
I'm currently using ADAL 4.0 framework. But after log in there should be one page asking for stay signed in or not, But that page never appears. While using it in a webView that page is coming as expected. But i can not depend on the caching/cookie mechanism of WKWebView because of security concerns. Is there any work around for this? Please let me know.

[2019-06-12 11:36] muralidharvr commented on #583
Yes, this worked! By changing to https://graph.microsoft.com, we were able to generate the right bear token and able to create the Guest user in Azure B2C.

[2019-06-12 15:52] bullsseye opened #1424 "ADAL cache not cleaning up"
In the logout functionality of my application, I have included the following statements:

[code]

But while login, adal is somehow giving the access token back.

**Some more details:**

**Clear Cache Scenario**
while debugging, it is successfully reaching the code point in ADAL where it is removing the cacheItem s.
Inside MSIDLegacyTokenCacheAccessor clearCacheForAccount:clientId:context:error whe

[2019-06-13 02:33] apecodingman opened #1425 "When the compatible MAM SDK will be released for ADAL 4.0.0"
For ADAL 4.0.0, when the compatible MAM SDK using WKWebView will be released
------
Note that this version is not yet compatible with the latest MAM SDK, as it requires WKWebView support. If you're using MAM SDK, please use ADAL 2.7.x until we update MAM SDK to support WKWebView.

[2019-06-13 20:29] ruixi1994 opened #1426 "[ADAL4.0]The webview object cannot be read from ADWebAuthDidFinishLoadNotification"
Office need the object from ADAL in some test scenarios when we don't pass our own webView object. Please help put it back when post this notification.

This is what I add in Office code to make it work:
//APEX_BACK_PORT: Sent webView as object of this notification to support testkit
//TODO: Opened issue for ADAL, remove it after ADAL had the fix
+ (void)notifyWebAuthDidFinishLoad:(NSURL *)url web

[2019-06-14 15:25] fowlerp-qlik opened #1427 "How does one switch users"
We have the desire to switch the user we use to login with (via MS Authenticator) from A to B. We open our ADA enabled App and presses login and no surprise the SSO kicks in and we are logged in as A. We remove A from the MS Authenticator account list and still the same behaviour: we get logged in as A. We un-enroll and delete all Apps (MS Company Portal, MS Authenticator, our App) and start all o

[2019-06-14 20:46] oldalton commented on #1427
Thanks for the question.
Just one thing to confirm. In the step 2 (We remove A from the MS Authenticator account list and still the same behaviour: we get logged in as A) - do you see an app redirecting to the Authenticator app. Or SSO is silent without any UI changes?

If SSO is silent, then yes, you should clear ADAL cache as well. You can do so by calling [ADKeychainTokenCache removeAllForUserI

[2019-06-14 20:49] oldalton commented on #1423
Thanks for the question. ADAL relies on tokens to provide silent SSO after first sign in, and therefore there's no need for an additional keep me signed in prompt (although ADAL doesn't actually control it by itself). Do you have any issues with relying on tokens and SSO through cache?

[2019-06-17 06:50] jakkornat commented on #1427
Clearing cache does not work properly. Please find the issue here:
https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1424.

[2019-06-18 05:57] oldalton commented on #1424
Thanks for reporting this. Can you please confirm which ADAL version are you seeing this with? We have had issues like that in earlier 2.7.x versions that got fixed. Thanks!

[2019-06-18 06:01] oldalton commented on #1425
Let me follow up on this question. Thanks!

[2019-06-18 06:04] oldalton commented on #1427
@jakkornat, thanks for the reference. Can you please clarify which ADAL version are you seeing this issue with? @fowlerp-qlik, could you please clarify the user experience? Thanks!

[2019-06-18 07:07] jakkornat commented on #1427
Use 4.0.0 with WKWebKit support.

[2019-06-18 12:38] fowlerp-qlik commented on #1427
We are not redirected but are logged in silently. I will try calling
[ADKeychainTokenCache removeAllForUserId:clientId:error] during our App's logout flow.

[2019-06-25 13:22] andrejacobs opened #1428 "ADAL 2.x and Latest Intune MAM SDK"
Hi,

Please forgive my ignorance. I am using CocoaPods and thus far have been using the recommended '~> 4.0' for the ADAL pod.

Everything was working fine until I wanted to test that Intune MAM still works. Surprise surprise the app just quits as soon as the auto intune enrollment happens.

I noticed here / Intune repro that you have to use version 2.x of ADAL with Intune.

I changed my Podfile t

[2019-06-28 23:02] oldalton commented on #1428
Hi @andrejacobs. You can configure your CocoaPods file to fetch a particular ADAL version, e.g. 2.7.12.

pod 'ADAL', '2.7.12'

We're also working on having ADAL 4.0.0 fully supported, and we're sorry for this temporary inconvenience.

[2019-07-01 05:07] apecodingman commented on #1425
Why asking this question is we tried different ADAL version like 2.7.X and found only ADAL 4.0.0 can support SAML 2.0 authentication with our internal ADFS server. For 2.7.x, it seems it only works when authenticate with Azure AD. So want to know is there a release date for the new Intune lib which compatible with ADAL 4.0.0.

[2019-07-01 12:59] andrejacobs commented on #1424
I can confirm I am having a similar issue where removing all tokens for a client ID does not remove them.
Originally I developed my login feature using ADAL 4.0 and never had a problem with clearing the tokens. Then I had to switch to 2.7.x to allow Intune MAM SDK to work.

When I am not using Authenticator app (i.e. it is not installed on the device) and using ADAL 2.7.9 (or 2.7.12) then the toke

[2019-07-01 13:00] andrejacobs commented on #1424
Oh can I also just add, that when I use ADAL 4.0 again, this issue no longer happens.
Unfortunately for me I do have certain configurations of my application that require Intune MAM which at this point in time is not supporting ADAL 4.x yet.

[2019-07-01 13:11] andrejacobs commented on #1424
@oldalton This issue seems to only be a "in memory" issue. For example I can logout, login (with the bug of getting a token) many times in a row. However if I quit the app after a logout, then the next login does ask for details as I would expect.

[2019-07-01 18:44] oldalton commented on #1424
@andrejacobs, based on the behavior that you're describing, it's not token cache causing this issue.

You mentioned above:

If ADAL presents web view, it means there were no tokens in cache and it went to authorize endpoint instead. The behavior you're describing happens when there're cookies present instead. Cookies are normally stored only for the period that the process is running, that's why y

[2019-07-02 09:14] andrejacobs commented on #1424
@oldalton Thank you very much! I can confirm that if I delete all session cookies on logout, then this issue doesn't happen any more.

[2019-07-03 20:08] natemann opened #1430 "How do I get the JWT Token"
I am looking to get back the JWT Token. What API do I need to call to get this?

I am using `acquireTokenWithResource: clientId:redirectUri:redirectUri: userId:extraQueryParameters:completionBlock:` but does not seem to be returning a JWT.

[2019-07-03 21:22] #1430 closed

[2019-07-17 06:08] Nookaraju opened #1432 "Data Theorem App Security findings in ADAL - iOS App"
**Describe the bug:**
We are using ADAL in our app and when our app is scanned by Data Theorem for app security findings, there are some issues from ADAL library.

**List of issues:**

**1. Switch from Deprecated UIWebView API to WKWebView**

The following code within the App leverages the UIWebView API, which is discouraged in modern Apps and deprecated in iOS 12:

[code]

Migrate WebViews within

[2019-07-18 21:49] oldalton commented on #1432
Thanks for reporting this, @Nookaraju.

Here're the followups:

1. UIWebView. Using UIWebView is not a security issue. It's a deprecated AP, and I agree it's not advisable. However, I'd recommend you to switch to ADAL 4.0.0+ that supports WKWebView already to address this. We cannot support WKWebView in 2.7.x, because it requires a breaking API change. 2.7.x will be supported for some time, but go

[2019-07-19 09:48] smudireddy opened #1433 "AADSTS900384: JWT token failed signature validation"
{ domain: ADOAuthServerErrorDomain code: 202 protocolCode: invalid_request  idtype = RequiredDisplayableId authority host: login.windows.net #####

ADAL-Auth: response received [Error with code: AD_ERROR_SERVER_OAUTH Domain: ADOAuthServerErrorDomain ProtocolCode:invalid_request Details:**AADSTS900384: JWT token failed signature validation [Reason - The provided signature value did not match the ex

[2019-07-19 09:50] smudireddy commented on #1433
What can cause the error **AADSTS900384**  while authenticating the user in **.US**  domain of the Azure cloud ?

[2019-07-19 10:03] smudireddy commented on #1433
[ADAL_for_ios_App_Auth_Issue.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/3410576/ADAL_for_ios_App_Auth_Issue.txt)

[2019-07-19 18:10] pawelkijowskizimperium opened #1434 "xcodebuild fails after upgrading from ADAL 2.6.6 to 2.7.12 or 4.0.0"
I build ADAL 2.6.6 from source like so:

xcodebuild -UseNewBuildSystem=NO -target "ADAL iOS" -configuration Release -arch arm64 -arch i386 -arch armv7  only_active_arch=yes defines_module=yes -sdk "iphoneos"

After upgrading to 2.7.x or 4.0.0

I get the following error:

**xcodebuild: error: The project 'ADAL.xcodeproj' does not contain a target named 'ADAL'.**

I looked at your python build scrip

[2019-07-19 18:31] pawelkijowskizimperium opened #1435 "ADAL 4.0.0 "pod install" fails with error"
Error:

[!] CocoaPods could not find compatible versions for pod "ADAL":
  In Podfile:
    ADAL (~> 4.0)

Specs satisfying the `ADAL (~> 4.0)` dependency were found, but they required a higher minimum deployment target.

[2019-07-23 04:37] smudireddy commented on #1433
Please help me to resolve the error **AADSTS900384**

[2019-07-23 13:02] peyter213 commented on #1435
I just tried different deployment targets, it looks like ADAL 4.0 requires a minium deployment target of 10.0

Should definitely add this to the documentation

[2019-07-23 16:32] pawelkijowskizimperium commented on #1396
@macblazer has this been resolved? did you receive any update on this issue? I am facing similar problem.

The deviceid is not returned.

[2019-07-25 00:34] oldalton commented on #1434
Hi, @pawelkijowskizimperium. Are you checking out ADAL directly or using CocoaPods/Carthage? If you're checking it out directly, please make sure you run "git submodule update --init" since latest ADAL versions have a submodule dependency.

[2019-07-25 00:34] oldalton commented on #1433
@antrix1989, can you please take a look?

[2019-07-25 00:35] oldalton commented on #1435
Thanks for pointing this out. Yes, we dropped iOS 9 support in ADAL 4.x. Will update documentation, thanks!

[2019-07-25 01:46] smudireddy commented on #1433
Application Manifest

[MaaS360-SSO-App.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/3429369/MaaS360-SSO-App.txt)

[2019-07-25 01:47] smudireddy commented on #1433
Request:

https://sts.yulista.com:443/adfs/ls/?login_hint=matthew.grossman%40yulista.com&wfresh=0&wauth=http%3a%2f%2fschemas.microsoft.com%2fws%2f2008%2f06%2fidentity%2fauthenticationmethod%2fpassword&client-request-id=4621bb04-2118-4194-8192-0555ba2d096a&username=matthew.grossman%40yulista.com&wa=wsignin1.0&wtrealm=urn%3afederation%3amicrosoftonline.us&wreply=https%3a%2f%2flogin.microsoftonline.u

[2019-07-25 01:48] smudireddy commented on #1433
https://login.microsoftonline.com/common/oauth2/token?x-client-Ver=2.6.5

[2019-07-25 01:49] smudireddy commented on #1433
Response:

{ domain: ADOAuthServerErrorDomain code: 202 protocolCode: invalid_request  idtype = RequiredDisplayableId authority host: login.windows.net #####
18/07/2019 10:47:13:925|FLMSOffice365Client|authenticateWithResourceId:completionHandler:withPromptBehavior:[26020]|355<Info>: ADAL-Auth: response received [Error with code: AD_ERROR_SERVER_OAUTH Domain: ADOAuthServerErrorDomain ProtocolCode:

[2019-07-25 02:01] smudireddy commented on #1433
[iOS_App_ADAL_2_7_12_Error_AADSTS900384.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/3429396/iOS_App_ADAL_2_7_12_Error_AADSTS900384.txt)

[2019-07-26 07:42] bsg123 opened #1436 "Does ADAL v4.0.0 compatiable with iOS 13 Beta versions?"
Using ADAL v4.0.0 in my app. Its working fine in iOS 12.x. But when I tested in the released iOS 13 Beta versions, Azure Webview is presented on a button tap, Upon entering the valid credentials, the web view dismisses but with an error stating "**Keychain failed during'retrieve wpj identity attr' operation**". And I'm not able to login to the App.

Error Details:
(lldb) po result
▿ Optional<ADAut

[2019-07-26 19:46] antrix1989 commented on #1436
Hi @bsg123, -34018 means "A required entitlement isn't present."
Please make sure you have enabled keychain sharing in your target.

[2019-07-29 17:17] smudireddy commented on #1433
Hi Sergey Demchenko,

Could you please check this error **AADSTS900384** possibilities.

[2019-07-29 21:19] antrix1989 commented on #1433
Hi @smudireddy, I am following up on this with our server team. I will update you once I get a reply from them.

[2019-07-30 02:10] smudireddy commented on #1433
Hi Sergey Demchenko,

ADAL + Network trace logs for more details.

[ADAL_For_iOS_JWT_Token_Issue.txt](https://github.com/AzureAD/azure-activedirectory-library-for-objc/files/3444875/ADAL_For_iOS_JWT_Token_Issue.txt)

[2019-07-30 12:17] pawelkijowskizimperium commented on #1434
@oldalton I checkout the code directly.

**git submodule update --init** solved the problem.

Thank you.

[2019-07-30 12:17] #1434 closed

[2019-07-30 12:19] pawelkijowskizimperium commented on #1435
What's the latest ADAL version supported on iOS 9? is it ADAL 2.7.x?

[2019-07-30 13:40] SebastianCiuca opened #1442 "Can this library be used for apps that are not in the same app group?"

[2019-07-31 01:07] oldalton commented on #1435
2.7.x still lists iOS 9 as supported version, but we don't actively develop it anymore. 2.7.x will have bug and security fixes, but not new features. All new features would go into ADAL 4.x and MSAL. Can you please clarify why do you need iOS 9?

[2019-07-31 03:57] antrix1989 commented on #1442
Hi @SebastianCiuca. Yes, it can be used with different app or keychain groups. The only drawback is that apps will lose keychain level [SSO](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/sso). If you are considering using ADAL for the new project or you haven't integrated it in your project yet, I recommend you using our [MSAL](https://github.com/AzureAD/microsoft-authenti

[2019-07-31 06:25] SebastianCiuca commented on #1442
Thank you!

[2019-07-31 06:25] #1442 closed

[2019-07-31 11:35] mahmutpinarbasi commented on #1424
Deleting session cookies & removing `WKWebsiteDataStore` data is not enough if application is not restarted in my case. Also removing `URLCache`'s cached responses solve it on __ADAL 4.x__

[2019-07-31 17:49] antrix1989 commented on #1433
Hi @smudireddy, thanks for the logs. Could you try to use `login.microsoftonline.us` authority instead of `login.microsoftonline.com`? Please let me know if it helped.

[2019-08-02 01:23] smudireddy commented on #1433
Hi Sergey Demchenko,

We will try that option.
FYI .. Android agent ADAL module working with  login.microsoftonline.com for the same customer tenant and with the same app configuration.

[2019-08-02 21:35] antrix1989 commented on #1433
Hi @smudireddy, that is interesting. We will take a look on the difference between iOS and Android. Were you able to authenticate using login.microsoftonline.us?

Also, I cleaned your personal data from this thread, please send all your private info/logs to my email (sedemche@microsoft.com) instead. Thanks!

[2019-08-03 14:44] kiara544 commented on #1385
Hello, I am seeing the same crash again after updating Intune (11.0.8) and Adal (4.0.1) but this time
webView property: is not coming back as Nil i am getting UIWebview and i also made sure that i am not passing an instance of UIWebView.

[2019-08-05 14:45] kiara544 commented on #1385
This issue doesn't happen after updating Intune (11.0.8) with ADAL (2.7.13) webView property is coming back as Nil.

[2019-08-07 16:01] pawelkijowskizimperium commented on #1435
@oldalton supporting iOS 9.0 is requirement dictated by our customers. Thanks for your support.

[2019-08-07 16:01] #1435 closed

[2019-08-08 21:49] kiara544 commented on #1385
Any update on this issue?

[2019-08-08 21:55] oldalton commented on #1385
@kiara544, please use latest Intune SDK (11.0.13): https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/tag/11.0.13

[2019-08-08 22:24] kiara544 commented on #1385
Does new version of Intune SDK(11.0.13) also support ADAL 4.0.1 ? I am still seeing a crash at login after updating Intune SDK