[2019-08-08 22:26] oldalton commented on #1385
There haven't been any changes related to web views between 4.0.0 and 4.0.1, so I don't think there should be any differences. Is it the same crash? Are you seeing the same with 11.0.13 and 4.0.0?

[2019-08-09 04:26] kiara544 commented on #1385
Yes the same place. Please see the attached screenshot.

On Thu, Aug 8, 2019 at 5:26 PM Olga Dalton <notifications@github.com> wrote:

[2019-08-11 05:17] oldalton commented on #1385
@kiara544, thanks for reporting this. I've confirmed with latest MAM SDK that the issue indeed hasn't been resolved. Looking at the symbols of Intune MAM SDK release, looks like ADAL 4.x support is not included. I've followed up with Intune MAM SDK team to see if there was a mistake, and will update you once I hear from them. Thanks and sorry for the trouble!

[2019-08-11 05:41] oldalton commented on #1436
@bsg123, can you try with the latest 4.0.1 release and let us know if the error went away? Thanks! I wasn't able to reproduce this on my end.

[2019-08-12 11:05] #1433 closed

[2019-08-15 02:35] ddrdjboy opened #1451 "Is ADAL 2.7.12 compatible to iOS 13?"

[2019-08-25 15:17] Don2012 opened #1455 "Crash in iOS13"
Crash in iOS13 when presenting a ViewController, but it is fine in iOS12.
Tried ADAL (2.7.9) & ADAL (4.0.0), and all crash

[code]

[code]

[2019-08-27 12:23] OxyFlax commented on #1451
On my side I'm having issues with 2.7.13 + authenticator. Issue was previously fixed but it came back on iOS 13 beta 8 when I tried.

[2019-08-29 11:10] sin713 opened #1456 "Silent Login not working for ADAL Library in iOS"
After successful attempt of SSO Login and application kill and relaunch, silent login is not working.
Below is the attachment of code

What we are expecting: Application should  authenticate without asking username and password as SSO was successful.

<img width="1323" alt="Screenshot 2019-08-29 at 4 38 16 PM" src="https://user-images.githubusercontent.com/6995247/63935614-7b4ddf80-ca7b-11e9-824e-

[2019-08-29 19:29] ImanuelChen commented on #1436
Looks like I didn't have `com.microsoft.adalcache` in my keychain groups. But adding it fixes the issue! Thanks @antrix1989!

Any idea why this is not required on iOS 12?

[2019-08-29 23:58] #1436 closed

[2019-09-03 06:47] Nookaraju commented on #1432
@oldalton @antrix1989 Can you also review the new findings (Items #4)?

[2019-09-03 14:03] mahmutpinarbasi commented on #1455
Hi @antrix1989, I'm also having main thread warnings on iOS 13 Simulator after calling

[code]
This is happening with Xcode 11 Beta-7, Adal 4.0.0

[code]

Basically, `[MSIDWebviewUIController initWithContext:]` is not being called on main thread.

[2019-09-03 19:13] oldalton commented on #1432
@Nookaraju, can you provide more info? I'm unsure how the referenced PR is related to this issue.

[2019-09-04 03:39] saddamakhtar88 opened #1460 "UIWebView is deprecated"
People have started receiving this warning when submitting apps that have references to UIWebView.

Apple Doc Ref:
https://developer.apple.com/documentation/uikit/uiwebview?language=objc

[2019-09-04 12:21] Nookaraju commented on #1432
@oldalton

I was referring to below:

App Uses Deprecated API to Authenticate Through a Web Service
The following code locations within the App use the deprecated SFAuthenticationSession API to authenticate the user through a web service:

-[MSIDSFAuthenticationSession startWithCompletionHandler:] calls -[_OBJC_CLASS_$_SFAuthenticationSession (unknown)]

-[MSIDAuthenticationSession startWithComple

[2019-09-04 22:56] oldalton commented on #1460
Please Use ADAL 4.0.x that doesn't utilize UIWebView anymore.

[2019-09-05 02:16] saddamakhtar88 commented on #1460
Thanks. I was looking @2.7.14 release where it is still in use.

[2019-09-05 02:16] #1460 closed

[2019-09-06 20:18] ImanuelChen opened #1461 "ADAL 4.0.2 for iOS 13 release date?"
According to the Cocoapod docs (https://cocoapods.org/pods/ADAL), version 4.0.2 will be necessary for iOS 13. However, it doesn't look like 4.0.2 exists on GitHub yet. We would take 2.7.14, but UIWebView still exists in that version.

**What is the release date for 4.0.2?** With the uncertainty of the iOS 13 and Xcode 11 official release date, it would be nice to know when 4.0.2 comes out to bette

[2019-09-06 21:46] williamgp commented on #1461
Yeah, what does this mean actually?

Sounds rather ominous. Is this referencing building against the iOS 13 SDK (Xcode 11) ? Ie, if we are building against the iOS 12 SDK (Xcode 10) are we fine?  Or do we as developer need to rush to get 4.0.2 into our app as soon as it's released? (Which, in that case, hopefully is any day now... )

[2019-09-09 09:11] Stoexn opened #1462 "Broker authentication not working with 2.7.14 and iOS 13.1"
I use the recently released version 2.7.14 with an iPhone running iOS 13.1 beta 2.
Instead of the authenticator the WebView opens and returns a keychain error in the acquiretoken callback.
Everything works on iOS 12

[2019-09-09 09:12] Stoexn commented on #1462
Also tried building it with XCode 10 and XCode 11

[2019-09-09 16:46] oldalton commented on #1462
Hi

Please make sure you follow the guidance in the release notes: https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.14

Copying from here:

Note, when updating to this release, make sure you update your LSApplicationQueriesSchemes in the Info.plist.
New value should be:

[code]

This is necessary to compile with Xcode 11.
Thanks,
Olga

[2019-09-09 16:47] oldalton commented on #1462
Please also make sure your keychain access groups are configured correctly. Can you please clarify which error are you seeing?

[2019-09-09 16:51] oldalton commented on #1456
@sin713, I believe this issue has been resolved offline. Can you please confirm and close the issue?

[2019-09-09 16:51] oldalton commented on #1451
Please use 2.7.14 release: https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.14

[2019-09-09 16:53] oldalton commented on #1461
It's reflecting building against iOS 13 SDK (Xcode 11). If you're building against iOS 12 SDK, you should be fine. 4.0.2 will be released shortly as well in a couple of days. I'll post an update here when it happens. You can also point to release/4.0.2 branch in the meantime to unblock your testing.

[2019-09-09 16:56] oldalton commented on #1426
This should be fixed in 4.0.1.

[2019-09-09 16:56] #1426 closed

[2019-09-09 17:49] ImanuelChen commented on #1461
I can build 4.0.1 with Xcode 11 though

[2019-09-09 18:28] ImanuelChen opened #1463 "ADAuthenticationSettings.defaultKeychainGroup annotated as nonnull even though the documentation says it can be nil"
https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/8aa48ac18eb96d5f70bf807cbf171616d55b8b4f/ADAL/src/public/ADAuthenticationSettings.h#L81

The documentation in code says that `defaultKeychainGroup` can be `nil` but the method is annotated as `nonnull`. Therefore, when I call `[ADAuthenticationSettings setDefaultKeychainGroup:nil]`, I get a "Null pased to a callee that requires

[2019-09-09 22:41] oldalton commented on #1461
Hi, yes, you'll be able to build it, but iOS brokered authentication will always fail when handling response. This is because Apple made a breaking change and our SDK is not getting back sourceApplication in AppDelegate callback anymore.

ADAL 4.0.2 has been released: https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/4.0.2

[2019-09-09 23:04] #1461 closed

[2019-09-09 23:20] oldalton commented on #1462
I've also written up some additional considerations for iOS 13: https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/ADAL-is-not-able-to-complete-brokered-authentication-on-iOS-13

[2019-09-09 23:20] oldalton commented on #1451
I've also written up some additional considerations for iOS 13: https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/ADAL-is-not-able-to-complete-brokered-authentication-on-iOS-13

[2019-09-09 23:21] oldalton commented on #1461
I've also written up some additional considerations for iOS 13: https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/ADAL-is-not-able-to-complete-brokered-authentication-on-iOS-13

[2019-09-10 05:18] Stoexn commented on #1462
Not sure what caused the problem as I already did everything described in the linked wiki page. But re-installing Authenticator solved it

[2019-09-10 05:18] #1462 closed

[2019-09-13 12:55] jakkornat opened #1465 "Deprecated API Usage (UIWebView)"
Hi,

I've just tried to upload the new version of the app to App Store, but unfortunately I get a message from the Apple itself, sounds like this:

"Dear Developer,

We identified one or more issues with a recent delivery for your app. Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting

[2019-09-15 04:24] oldalton commented on #1465
Thanks for submitting the question.
Please switch to ADAL 4.0.x. It uses WKWebView instead of UIWebView.
Alternatively, you can switch to our MSAL library which is the recommended library going forward: https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2019-09-16 05:40] sin713 opened #1468 "Intune SDK Enabled App not applying PIN policy"
App protection policy is not getting applied

[2019-09-16 06:32] Nookaraju commented on #1432
@oldalton

Can you review my earlier comment?

[2019-09-16 19:57] oldalton commented on #1468
@sin713, can you provide a bit more details about this? Which Intune SDK and ADAL are you using? When you say it's not applying, do you mean you're not being asked for the PIN?

[2019-09-16 19:59] oldalton commented on #1432
SFAuthenticationSession is only used on iOS 12 where ASWebAuthenticationSession is not available. Furthermore, it's never compiled in ADAL (code is ifdef-d) and it's only used in MSAL.

[2019-09-22 12:03] jakkornat commented on #1465
Thanks for your support :)

[2019-09-22 12:03] #1465 closed

[2019-09-23 09:50] jakkornat commented on #1341
Hi. This is not working for versions 4.0.x (recently working with 4.0.3).

ADKeychainTokenCache.defaultKeychain().removeAll(forClientId: ServiceConfig.clientId, error: nil) doesn't clean the token cache.

We should't use the 2.7.x version as it's using UIWebView which is deprecated and will be reject on Apple Review. We also can't use MSAL, bacause we authenticate the internal company users with A

[2019-09-24 02:00] oldalton commented on #1341
Hi @jakkornat. MSAL also supports AAD flows, just like ADAL.
However, regarding 4.x - are you seeing a UI flash when trying to acquire a token after removeAll is called?

[2019-09-25 10:59] vibhootitatva opened #1473 "Password is removed from the password box - iPadOS 13 - iPad pro"
When we connect ADFS Sites For the second time and go for Login,  Password is removed from the password Box on signin button clicked.

We get this issue only in iPad Pro (12.9) Second generations (iPadOS).

For the First time, there is no user Login Hint, So we set up like this
`[authContext acquireTokenWithResource:strResouceURL clientId:strClientID   redirectUri:[NSURL URLWithString:strRedirectU

[2019-09-27 10:26] bondsy777 commented on #1341
Yes, the problem still exists.

[2019-10-02 07:42] jakkornat opened #1474 "iPadOS 13 ADKeychainErrorDomain -34018"
Hi again,

We try to support the update to iPadOS 13 but we have met that issue:

(error=Error with code: -34018 Domain: ADKeychainErrorDomain ProtocolCode:(null) Details:Failed to get items from keychain.. Inner error details: Error Domain=ADKeychainErrorDomain Code=-34018 "(null)" UserInfo={MSIDErrorDescriptionKey=Failed to get items from keychain., MSIDCorrelationIdKey=329E5CA9-8904-43A8-ADA7-2

[2019-10-02 13:21] igoMobile commented on #1474
We experience the same issue since iOS 13

[2019-10-02 14:00] jakkornat commented on #1474
@igoMobile  If you need the "quick win" workaround, then let's try to add Keychain Sharing access group in the target capabilities. It seems that the bug is probably connected with sharing keychain access between app (or modules) so that I've added two ids to keychain access group:

<img width="851" alt="Screenshot 2019-10-02 at 15 55 36" src="https://user-images.githubusercontent.com/32837423/660

[2019-10-03 04:48] tatvarajendra commented on #1473
Any update?

[2019-10-03 04:49] vibhootitatva commented on #1473
Any update?

[2019-10-03 11:18] adamledwards commented on #1474
Hi I've also had this issue on IOS13
I enabled the logs and found it was a keychain sharing issue and it was trying to access com.microsoft.workplacejoin

I solved this by adding both
[code]
to my keychain sharing.

The only reference to com.microsoft.workplacejoin is in a changelog.txt
https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/0ae4f958c3722d210d08b60b22d0bed5300ba7f3/

[2019-10-03 23:14] kunalbalani commented on #127
I eventually fixed this by calling
ADWebAuthController.cancelCurrentWebAuthSession(). [https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/681](url)

[2019-10-04 10:59] rossholdway commented on #1455
Also running into this issue on iOS 13 with v4.0.3. It seems to cause a significant delay when invoking the prompt and my call to `acquireTokenWithResource` is already inside `dispatch_async(dispatch_get_main_queue()...`.

[code]

I'm not experienced with Objective C so am unsure of how to debug this futher.

[code]

[2019-10-04 12:43] igoMobile commented on #1474
Hey great! Thanks a lot! that fixed my issue too!

[2019-10-08 08:20] jakkornat commented on #1341
@oldalton any update on this?

[2019-10-08 21:13] ruixi1994 opened #1475 "UI initialization with out main thread check"
A UI initialization happened on without dispatching to main thread, which break our tests.
Here is the call stack
    #0    0x0000000100ddb788 in __main_thread_checker_on_report ()
#1    0x0000000100ddba99 in __ASSERT_API_MUST_BE_CALLED_FROM_MAIN_THREAD_FAILED__ ()
#2    0x0000000100ddcaa8 in checker_c ()
#3    0x0000000100ddb6d1 in trampoline_c ()
#4    0x0000000100db35fb in handler_start ()
#5

[2019-10-09 04:16] Podiya commented on #1474
@adamledwards @jakkornat Thanks guys. It solved my problem also. (Y)

[2019-10-09 22:47] charshep commented on #1474
We're seeing this problem in the field but we're not able to reproduce it. Can we get confirmation that this is in fact an iOS 13 issue (possibly only 13.1.2 from what we see) and that the additional keychain group is the proper fix?

[2019-10-10 06:57] manojchandola opened #1476 "Blank Login screen visible using ADAL library in iOS"
When we are login WAAD authentication using ADAL library with valid clientId, redirectURI and resourceId, blank login screen is visible with activity indicator(attached screen shot) .
When we are trying to use the same login authentication url (which is generated by the ADAL library) on mobile safari browser, it open the Microsoft login page.

Can you please help me to troubleshoot the issue.

![I

[2019-10-11 00:10] oldalton commented on #1341
Hi @jakkornat. Sorry for a delay. I think this is because of cookies in the WebView. ADAL 4.x uses WKWebView, and 2.7.x UIWebView. Cookies work differently between those two. ADAL also tries to share datastore between multiple WKWebView instances to maximize SSO.

There're a few things you can try out:

1. Pass your own webview. That way you can control the cookie state of the webview and pass ADA

[2019-10-11 00:14] oldalton commented on #1474
Hi, we weren't able to reproduce the second issue locally with latest 4.x release. The first issue is expected if you don't have com.microsoft.adalcache declared in your keychain entitlements (you can also provide your own keychain group if you want to use a different one). The second issue is unexpected as com.microsoft.workplacejoin is not required. Let me try 2.7.15 to see if it's reproducible

[2019-10-11 00:15] oldalton commented on #1473
ADAL doesn't have direct control over what is happening inside the webview. However, iOS 13 might have different UserAgent on iPads. That's Apple's change. If your ADFS environment depends on the user agent, make sure it can also recognize new iPadOS user agents.

[2019-10-11 00:17] oldalton commented on #1476
@manojchandola, can you please provide ADAL logs? Do you know if your environment requires certificate based authentication? Also, can you let me know your ADAL version and iOS version?

[2019-10-11 04:14] Podiya commented on #1474
In my scenario i got this error in 13.1.2. but i wanted to know this is only for 13 or not. so i checked my simulator which has 12.* something. It occurred same issue that login pop-up doesn't appear. so go through this error and found this. added those two string to keychain sharing and it was worked perfectly.

[2019-10-11 06:17] manojchandola commented on #1476
We are not getting any logs for that, it just stuck with activity indicator.
No, we don't require any certificate based authentication.
ADAL version 2.2 and iOS 13.

One more point need to mention: mobile phone is connected with the VPN, and that time we face this issue. But safari browser is loading that URL in VPN environment(mentioned below)
**https://login.microsoftonline.com/common/oauth2/aut

[2019-10-11 07:24] himanthmaddi commented on #1476
Having same issue. We don't require any certificate based authentication.
ADAL version 2.7.15 ans iOS 13.1.2.

[2019-10-11 07:53] himanthmaddi commented on #1436
It is returning same error even I have `com.microsoft.adalcache` in my keychain groups.

iOS version is 13.1.2 and ADAL version is 2.7.15.

[2019-10-11 09:41] himanthmaddi opened #1477 "Keychain failed during "retrieve wpj identity attr" operation"
Though I have `com.microsoft.adalcache` in my keychain groups, am still facing this problem whenever a popup comes to enter credentials. But It is returning invalid credentials, if they are wrong. Throwing the above error for valid credentials. And I haven't changed the default `ADKeychainTokenCache`. Am not using any certificate based authentication.

ADAL version -- 2.7.15
Xcode -- 11.0
iOS -- 1

[2019-10-11 09:51] vibhootitatva commented on #1473
First thing is, we are not facing the issue in iPad OS. Its device specific. We are facing the issue only in  iPad Pro (12.9) Second generations.

we don't think its user agent issue because  according to user agent guideline : https://forums.developer.apple.com/thread/119186, we have changed the setting and in none of the case, we are able to reporduce the issue in another device having iPad OS,

[2019-10-11 17:02] oldalton commented on #1473
What query string/parameter are you sending exactly? ADAL just passes them to the server, so I'm curious to see what exactly you're providing such as it impacts the behavior. Thanks.

[2019-10-11 17:11] oldalton commented on #1476
@manojchandola, ADAL 2.2 is not supported on iOS 13. You need to use 2.7.14 or above on iOS 13. It will probably not fix your issue, just calling out that we don't support older ADALs with latest iOS versions.

Regarding you issue, do you have per app VPN by any chance? Some VPNs might have different settings for different apps and that's why you might be seeing a difference in behavior between yo

[2019-10-11 17:16] oldalton commented on #1474
Ok, I'm thinking it might be a 2.7.x issue. Let me test with that version and come back. Thanks!

[2019-10-13 04:36] oldalton commented on #1477
Will be fixed in 2.7.16: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1478.
This should work in 4.x.

[2019-10-13 04:36] oldalton commented on #1474
This issue will be fixed in ADAL 2.7.16: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1478.

[2019-10-13 15:16] adamledwards commented on #1474
@oldalton thank you for the fix
Should we remove `com.microsoft.workplacejoin` from keychain sharing setting?
Once we have upgraded to 2.7.16

[2019-10-14 04:24] oldalton commented on #1474
Wouldn't make much difference whether you keep it or remove it. To avoid confusion is probably better to remove it with 2.7.16.

[2019-10-14 04:57] vibhootitatva commented on #1473
Here Query string means user detail, I.e Login user ID. Once user login through the ADAL, we have their login ID, We pass using Key **login_hint**  like below code.

`[authContext acquireTokenWithResource:strResouceURL
                                         clientId:strClientID
                                      redirectUri:[NSURL URLWithString:strRedirectURI]

[2019-10-14 09:09] jakkornat commented on #1341
@oldalton thanks a lot!
In my case the promptBehaviour parameter was the issue solver!

Have just checked also with a clean WKWebView instance, which also works if we want to manage this by ourselves.

Thanks a lot!

Note: Tested at ADAL 4.0.3, Xcode 11, iOS 13 / iPadOS 13

[2019-10-14 09:20] jakkornat commented on #1474
I've met that issue also for 4.0.3 version if not add Keychain Sharing capabilities like above.

[2019-10-14 17:22] oldalton commented on #1474
@jakkornat, com.microsoft.adalcache is still required even after the fix.

[2019-10-15 08:09] dzak83 opened #1481 "Signing in Microsoft Teams free user not working"
Hi,
When signing in with the MSA account (outlook.com), that is Microsoft Teams free user, I should get a token without claims (like OID etc..). I am getting that on Android ADAL version. However, when using this for iOS, it comes back with the error. Brokered auth is off.

It works fine on Android and on UWP for the same account, same app id. What do I miss?

More info about Teams free users: [ht

[2019-10-15 12:23] jakkornat commented on #1474
Ok for me.

[2019-10-15 12:44] jakkornat commented on #1475
As I can't commit to the repo - let someone to move completion block of:
`- (void)checkAuthority:(ADRequestParameters*)requestParams
     validateAuthority:(BOOL)validateAuthority
       completionBlock:(ADAuthorityValidationCallback)completionBlock`

to main thread (line 195). For now the initialisation happen on background:
`dispatch_async(dispatch_get_main_queue(), ^{ completionBlock(validated,

[2019-10-16 02:39] oldalton commented on #1475
We'll fix this issue in the next upcoming 4.x. release (4.0.4). Thanks!

[2019-10-17 01:27] oldalton commented on #1481
Can you please specify which authority, clientId and resource you're passing to ADAL?

[2019-10-17 23:42] antrix1989 commented on #1436
@himanthmaddi did you modify default keychain group in ADKeychainTokenCache? If you still have this issue, please send me your full ADAL log to sedemche@microsoft.com.

[2019-10-18 06:32] himanthmaddi commented on #1436
@antrix1989 I have fixed this by updating ADAL library to 4.0.3.

[2019-10-18 06:33] himanthmaddi commented on #1477
Yes, It's working in 4.0.3. Thanks.

[2019-10-18 06:33] #1477 closed

[2019-10-23 02:43] aaronrogers opened #1487 "ADTokenCache not persisted between app launches on OSX"
I have a project with a iOS and OSX targets.  The iOS target works great where once the user signs in they're not prompted to log in again on next app launch.  However, on OSX, the user is prompted on each app launch.  It appears that the `ADTokenCache` is empty before signing in.  After signing in, there's an item in it.  Restart the app, and it's gone again.

I'm calling
[code]
What am I doing w

[2019-10-23 23:22] oldalton commented on #1487
This is not supported by ADAL. You need to persist it yourself.
Alternatively, you can use MSAL library where this is supported: https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2019-10-24 00:23] aaronrogers commented on #1487
Sounds good.  I'll check MSAL out.

Is there a reason why it works in iOS and not OSX?

[2019-10-24 20:56] oldalton commented on #1487
Until 10.15, macOS required different keychain implementation from iOS. ADAL never implemented it due to complexity, so we only implemented it in MSAL which is the authentication SDK going forward.

[2019-10-25 14:42] aaronrogers commented on #1487
Gotcha!  Thanks!

[2019-10-26 00:13] oldalton commented on #1487
Closing the issue. Please reopen if you have additional questions. Thanks!

[2019-10-26 00:13] #1487 closed

[2019-10-26 00:13] oldalton commented on #1474
Should be fixed in 2.7.16. Please reopen the issue if you're still seeing it in 2.7.16.

[2019-10-26 00:13] #1474 closed

[2019-10-26 00:14] oldalton commented on #1475
Should be fixed in 4.0.4. Please reopen the issue if it still persists in 4.0.4 release.

[2019-10-26 00:14] #1475 closed

[2019-10-26 00:14] oldalton commented on #1455
Should be fixed in 4.0.4. Please reopen the issue if it still persists in 4.0.4 release.

[2019-10-26 00:14] #1455 closed

[2019-10-26 00:15] #1451 closed

[2019-10-26 00:16] oldalton commented on #1456
I believe this was app misconfiguration and it was resolved offline. @mdivkovic-speech, please ensure that you are configuring ADAL keychain access groups correctly and that you are not clearing keychain yourself.

[2019-10-26 00:17] oldalton commented on #1468
Closing this issue due to inactivity. Please reopen when additional information is available.

[2019-10-26 00:17] #1468 closed

[2019-10-26 00:17] oldalton commented on #1463
This should be fixed in latest ADAL release. Please reopen the issue if you're still seeing it.

[2019-10-26 00:17] #1463 closed

[2019-10-28 08:44] mdivkovic-speech commented on #1456
@oldalton, thank you very much for the reply, I have been able to resolve the issue in the meantime. I realized that some of the fields (e.g. authority, resource) were not getting persisted after restarting the app, and then the SDK was called with an empty string instead. I did not see any error messages in the logs, and my completion block was never called. After making sure to persist all the i

[2019-10-28 16:55] oldalton commented on #1456
Thanks for the update!

[2019-10-28 16:55] #1456 closed

[2019-10-29 13:02] ehynds commented on #1474
@oldalton Is this also fixed in 4.0.4?

[2019-10-29 13:10] ottokristine opened #1488 "Performance Issue when launching ADALController, related to calling UIViewController from background thread"
Hello,

When calling the ADALController, performance is extremely degraded. Usually takes 5-7 seconds to launch the ADALController.

Receive the following Error: [UIViewController init] must be used from the main thread only

Stack trace is below:
Main Thread Checker: UI API called on a background thread: -[UIViewController init]
PID: 6650, TID: 2049663, Thread name: (none), Queue name: com.apple.

[2019-10-29 13:11] ottokristine commented on #1488
Additional Info:
ADAL version: 4.0.4
iOS version: 13.1.3
Xcode Version: 11.1.0

[2019-10-29 17:46] oldalton commented on #1474
This issue was only in 2.7.x branch, so there was no need for a fix in 4.x.
Note that com.microsoft.adalcache is still needed in both 2.7.x and 4.x. The fix was about removing unneeded com.microsoft.workplacejoin group.

[2019-11-01 02:16] oldalton commented on #1481
I believe this got resolved by updating application configuration. Please reopen the issue if you're still seeing it. Thanks.

[2019-11-01 02:16] #1481 closed

[2019-11-01 02:16] oldalton commented on #1476
Did this ever get resolved? @manojchandola, @himanthmaddi

[2019-11-01 02:17] oldalton commented on #1473
Did this ever get resolved? I don't see anything unexpected from ADAL client side.

[2019-11-01 02:17] #1425 closed

[2019-11-01 02:18] #1423 closed

[2019-11-01 02:18] #1424 closed

[2019-11-01 02:19] #1428 closed

[2019-11-01 05:13] dzak83 commented on #1481
Yes, yes. Thank you again for help!

[2019-11-02 03:13] bradparks commented on #1005
If you cant find any of the above things, do the following:
- In the menu, choose `View | Navigators | Project Navigator`
- In the tab that shows up, probably on the left, click on the root icon, probably the name of your project.
- press `CMD+I`
- Now look at the main toolbar. There's probably a yellow triangle with a white exclamation mark in it. Click on it, and choose "Perform Changes".
- Now

[2019-11-04 04:13] himanthmaddi commented on #1476
@oldalton I had fixed this by updating ADAL to 4.0.3.

Note: Minimum OS version should be iOS 10 for this version of ADAL.

[2019-11-05 10:59] dev-manishpandey opened #1489 "Support for swift package manager?"
Is it possible to add support for swift package manager ?

![Screenshot 2019-11-05 at 4 30 10 PM](https://user-images.githubusercontent.com/30525904/68202415-b58eac80-ffe9-11e9-8cfc-9e7a783dd9b7.png)

[2019-11-06 14:40] thejaa commented on #1424
Using ADAL (4.0.4)
@mahmutpinarbasi  Deleted session cookies , removed WKWebView data and URLCache still Logout not working (i.e with out asking details it is navigating to next screen).

However if I quit the app after a logout, then the next login does ask for details as I would expect.

// Removing URLCache
URLCache.shared.removeAllCachedResponses()

// Removing WKWebview
extension WKWebView {

[2019-11-06 20:52] oldalton commented on #1476
Thanks for the update. Closing the issue, please reopen if needed.

[2019-11-06 20:52] #1476 closed

[2019-11-07 10:40] vibhootitatva commented on #1473
No, it's not yet resolved.

[2019-11-07 19:27] oldalton commented on #1473
Thanks for an update. Did you check if your proxy depends on user-agent string=

[2019-11-08 05:05] dev-manishpandey opened #1490 "Expires on property returns nil"
adResult.tokenCacheItem?.expiresOn returns nil

[2019-11-08 07:19] thejaa opened #1491 "ADAL cache not cleaning up in logout"
Using ADAL (4.0.4)
Deleted session cookies , removed WKWebView data and URLCache in Logout. Still login not working (i.e with out asking details it is navigating to next screen).
// Removing URLCache
URLCache.shared.removeAllCachedResponses()

// Removing WKWebview
extension WKWebView {
func cleanAllCookies() {
HTTPCookieStorage.shared.removeCookies(since: Date.distantPast)
WKWebsiteDataStore.defa

[2019-11-08 19:21] antrix1989 commented on #1489
Hi @dev-manishpandey. We are not adding new features to ADAL. I recommend you switching to the [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/737) where we will add swift package manager.

[2019-11-08 19:21] #1489 closed

[2019-11-12 10:08] mahmutpinarbasi commented on #1424
Hey @thejaa,
I updated my comment.

[2019-11-12 18:00] oldalton commented on #1490
Can you specify which ADAL version you're using and provide ADAL logs? Thanks.

[2019-11-12 18:03] oldalton commented on #1491
It sounds like cookies in WKWebView. There're a few things you can try out:
1. Pass your own webview. That way you can control the cookie state of the webview and pass ADAL a "clean" webview without state.
2. Pass AD_PROMPT_ALWAYS as a prompt type. That will ensure that regardless of cookies, webview would prompt the user.
Let me know if any of these worked.

See a similar issue for additional dis

[2019-11-13 19:33] #1356 closed

[2019-11-13 19:34] oldalton commented on #1385
This should be fixed now. Please retry with the latest MAM SDK.

[2019-11-13 19:34] #1385 closed

[2019-11-13 19:35] oldalton commented on #1392
Is this still an issue?

[2019-11-13 19:36] oldalton commented on #1398
This should be fixed in ADAL 4.x.

[2019-11-13 19:36] #1398 closed

[2019-11-13 19:36] #1405 closed

[2019-11-13 19:37] #1406 closed

[2019-11-13 19:37] oldalton commented on #1412
Has this issue been resolved?

[2019-11-13 20:52] nhart12 commented on #1392
hmm, I don't even remember creating this issue so I'm assuming no it's not still an issue 😃

[2019-11-13 20:52] #1392 closed

[2019-11-18 07:42] iNViTiON opened #1493 "identity provider 'live.com' does not exist in tenant 'Microsoft Services'"
My **Flow** in "Microsoft Flow" stop working. It said that it's have a connection error. When I access "data -> connections" tab it's stuck with forever loading. I open browser console and found this error.

`Uncaught (in promise) ClientError: Unable to get token for audience 'a8f7a65c-f5ba-4859-b2d6-df772c264e9d'. Details: 'AADSTS50020: User account '{EmailHidden}' from identity provider 'live.co

[2019-11-23 08:14] thejaa commented on #1424
@mahmutpinarbasi  Thanks it's working grate.

[2019-11-23 08:16] thejaa commented on #1491
@oldalton  Issue is solved by using AD_PROMPT_ALWAYS .

Thanks

[2019-11-25 16:31] oldalton commented on #1493
What application_id are you using? Can you please also confirm that you're using ADAL Objective-C library as I've noticed some "js" logs in your report. Thanks.

[2019-11-25 16:33] iNViTiON commented on #1493
I'm not sure how can I get the application_id?
I'm just using my Hotmail Microsoft account with Microsoft Flow. Not my own application.

[2019-11-25 16:39] oldalton commented on #1493
ok, thanks. And do you have Microsoft Authenticator app installed on the device?

[2019-11-25 16:39] iNViTiON commented on #1493
Yes.

[2019-12-04 15:00] venkat-iOS commented on #1191
Hi Team,

iOS 13+ & Xcode 11:

I am using 'ADAL', '4.0.0' and latest Intune SDK 12.0.18 to authenticate native iOS app we are using Microsoft Authenticator.

After launch the iOS app its not redirecting to the authenticator app to fetch the azure token.

enabled keychain  and added com.microsoft.adalcache

below iOS 13 version it was working fine.

Please help on this issue.

Note : we are facing

[2019-12-06 02:21] oldalton commented on #1191
@venkat-iOS, please make sure you use an iOS 13 compatible ADAL version (4.0.4) and follow steps outlined in this article: https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/ADAL-iOS-13-support

This will require you to make some changes for your Info.plist file, as well as your code to support iOS 13.

[2019-12-06 03:58] oldalton commented on #1493
@iNViTiON, thanks a lot for the information. This seems like a clear bug on the Microsoft Flow side. I'll be next forwarding it to engineers on the Microsoft Flow side.

[2019-12-10 13:38] vibhootitatva commented on #1473
We are not sure, what exactly you want us to check here.

[2019-12-18 15:39] bkarabanms opened #1496 "README.md should probably mention "msauthv3""
On iOS13, the "msauthv3" scheme must be included in the LSApplicationQueriesSchemes list of the application's  Info.plist, as documented in the [release notes](https://github.com/AzureAD/azure-activedirectory-library-for-objc/releases/tag/2.7.14) and the [Wiki](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/ADAL-iOS-13-support), but the [README](https://github.com/AzureAD/a

[2019-12-19 10:32] pgawlowski commented on #1462
Same issue here.
Reinstall not helping. What is more it is still possible to auth via web however. it claims that device is not enrolled, which is not valid.

[2019-12-19 11:14] pgawlowski commented on #1385
Still same problem

[2019-12-20 18:52] rohitnarula7176 commented on #1496
@bkarabanms The directions to add msauthv3 is part of the "Quick Start" section of the Readme. Please see below:
https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/master/README.md#lsapplicationqueriesschemes
Please let me know if you have any additional questions.

[2019-12-21 23:00] oldalton commented on #1488
Sorry for a delay.

This issue should be fixed in ADAL 4.0.4. Here's the code for ADAL 4.0.4: https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/blob/5ba624ad4766bf5ab048e1765b0d43ae96c85cd5/IdentityCore/src/oauth2/aad_base/MSIDAADWebviewFactory.m#L68. As the very first thing, it checks that it is running on main thread.

Are you sure you're using ADAL 4.0.4 and not 4.0.3

[2019-12-23 08:12] bkarabanms commented on #1496
I hadn't seen the msuathv3 part in the master branch. The confusing part is that if you're just looking at the project's home page: https://github.com/AzureAD/azure-activedirectory-library-for-objc/ you see the content of the README in the "dev" branch, since this is the default branch and this branch hasn't been updated: https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/R

[2020-01-10 16:06] aleUnix opened #1504 "ADAL 2.5.1 domain hint with Authenticator not working"
the method in ADAuthenticationContext.h
"- (void)acquireTokenWithResource:(NSString*)resource
                        clientId:(NSString*)clientId
                     redirectUri:(NSURL*)redirectUri
                          userId:(NSString*)userId
            extraQueryParameters:(NSString*)queryParams
                 completionBlock:(ADAuthenticationCallback)completionBlock"

if the login pro

[2020-01-14 09:16] aleUnix commented on #1504
This issue remains present in the same way regarding the latest ADAL version 2.7.16

[2020-01-14 18:56] #1491 closed

[2020-01-14 21:24] rohitnarula7176 commented on #1496
@bkarabanms Thank you for pointing this out. I have created a PR to add the documentation for registering msauthv3 scheme to the ReadMe in the dev branch.

[2020-01-20 12:25] tavikukko opened #1507 "app hitting v2 authentication endpoint instead of v1"
We have suddenly faced issue that our app is authenticating against V2 endpoint. We are using V1 endpoint 'https://login.microsoftonline.com/common' and resourceUri scopes like https://graph.microsoft.com , https://tenant.sharepoint.com.
This is making our app not to work. We are using azure-activedirectory-library-for-objc version 4.0.4.
We are using MS Authenticator as a broker. Atm we are not s

[2020-01-20 12:35] SagarPrajapati98 opened #1508 "User not decoded on WebView"
When passing loginhint the actual value is different on the username textbox i think it's not decoded before displaying

i am passing the loginhint by encoding by URLEncode but it's not decoded in webview it shows % and kind of value

[2020-01-20 12:41] bonnynotetech commented on #1488
Updated pod to ADAL 4.0.4.
The app crashes when a view controller is dismissed. when i run the  dismiss instruction inside main thread the crash is resolved.

[2020-01-20 13:05] tatvarajendra opened #1509 "Username shown wrong in username field"
We are using ADAL version 4.0.4 and below method

[authContext acquireTokenWithResource:strResouceURL clientId:strClientID redirectUri:[NSURL URLWithString:strRedirectURI] promptBehavior:AD_FORCE_PROMPT userIdentifier:nil extraQueryParameters:[[NSString stringWithFormat:@"login_hint=%@",username] stringByAddingPercentEncodingWithAllowedCharacters:[NSCharacterSet URLHostAllowedCharacterSet]] comple

[2020-01-20 19:43] oldalton commented on #1488
Hi. Do you use ADAL webview or your custom webview? If you're using your custom webview and calling ADAL APIs to cancel the flow, you should call it from the main thread since it is UIKit API. Thanks.

[2020-01-21 05:53] tatvarajendra commented on #1509
We want to update the library version, as v2.7.7 is using the UIWebview.
And apple will stop accepting webview in future.
Else ADAL v2.7.7 seems working fine in xcode 11 and iOS 13.

[2020-01-21 18:39] kreedula commented on #1507
Hi @tavikukko : Thank you for reporting the issue.

Can you file a separate issue for Android so that it can be investigated by the Android team : https://github.com/AzureAD/azure-activedirectory-library-for-android

Also, Can you upload Authenticator logs incident id after repro'ing the issue for both iOS and Android to investigate this. Instructions below(similar for Android) :

https://github.c

[2020-01-21 19:24] oldalton commented on #1507
@tavikukko, can you please double check you app registration in portal.azure.com? You should at least have "user.read" under Microsoft Graph:

![Screen Shot 2020-01-21 at 11 22 54 AM](https://user-images.githubusercontent.com/26911890/72836008-9f83a600-3c40-11ea-990f-f8e2b9b02e1f.png)

[2020-01-21 19:27] tavikukko commented on #1507
yep we got 2, one for graph and 1 for sharepoint. This has been working for 3 years already for our first app and 1 year with our second.

[2020-01-21 19:28] oldalton commented on #1507
Thanks @tavikukko, just to confirm my understanding, do you also have "user.read" under Microsoft Graph like shown on the screenshot?

[2020-01-21 19:29] tavikukko commented on #1507
![image](https://user-images.githubusercontent.com/2223355/72836366-1cd90600-3c95-11ea-92ba-c447a84cac9b.png)

[2020-01-21 19:32] tavikukko commented on #1507
The things is, we got these permissions added to our aad app (automatically, we didn't add anything), and after that no new users were ably to consent the app.
![image](https://user-images.githubusercontent.com/2223355/72836475-61fd3800-3c95-11ea-9fd7-bea7caa9107d.png)

[2020-01-21 19:33] oldalton commented on #1507
Thanks, @tavikukko. When did you notice the issue? iOS Authenticator has been going to v2 endpoint since June 2019 release, so there might be another regression/change that happened in between.

[2020-01-21 19:35] tavikukko commented on #1507
I think we got first problem December 2019

[2020-01-21 19:36] tavikukko commented on #1507
we updated to ADAL 4.0.4 between November-December..

[2020-01-21 19:42] tavikukko commented on #1507
Here is a Incident ID: B9VZ4GKC
This one is from earlier today.

[2020-01-21 19:44] oldalton commented on #1507
Thanks, I've followed up with the ESTS team. I'll update you here once I hear from them.

[2020-01-21 22:24] oldalton commented on #1509
@tatvarajendra, thanks for reporting this issue. I've applied a fix and it will be available in ADAL 4.0.5 release: https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1512

In the meantime, you can pass login hint to ADAL directly (which is actually the recommended way as well). Here's the code sample to achieve it:

[code]

[2020-01-22 11:15] tatvarajendra commented on #1509
Thanks for the quick reply. Its working fine with version 4.0.5.
Thanks

[2020-01-22 18:55] #1509 closed

[2020-01-23 03:52] bonnynotetech commented on #1488
I am using ADAL webview.

[2020-01-23 18:30] #1496 closed

[2020-01-24 16:48] oldalton commented on #1508
Looks like a duplicate of this one: https://github.com/AzureAD/azure-activedirectory-library-for-objc/issues/1509

Can you please take a look at the resolution of that one and let me know if it resolves your issue as well.

[2020-01-27 12:52] bhandaribhumin opened #1514 "could not acquire token silently ERROR: server returned less scopes then requested"
Can anyone please help me where I'm doing wrong!!!!!!
I already have access of related scopes in my app says **server returned less scopes then requested**

![Screenshot 2020-01-27 at 6 16 49 PM](https://user-images.githubusercontent.com/3336047/73175999-73c95a00-4131-11ea-8166-650887c2daf8.png)

also I set ViewController.swift file as kScopes:

let kScopes: [String] = ["User.Read Calendars.Read C

[2020-01-27 13:57] tavikukko commented on #1507
Hi,
any insights on this yet?

[2020-01-27 18:44] antrix1989 commented on #1514
hi @bhandaribhumin, you don't have permissions to request User.Read.All and UserWrite.All scopes. You need admin's permission or you need to get the admin role to approve them.

[2020-01-27 18:54] bhandaribhumin commented on #1514
@antrix1989 i don’t need those permission yet but i need to get all events this is my moto

[2020-01-28 06:57] oldalton commented on #1514
What kind of user are you signing in with? (AAD/MSA?)

[2020-01-28 22:41] oldalton commented on #1508
Closing this issue as it should be resolved in the latest ADAL version. Please reopen if you're still experiencing the issue. Thanks!

[2020-01-28 22:41] #1508 closed

[2020-01-28 22:42] oldalton commented on #1507
@tavikukko, I'm still waiting for investigation results from AAD service team. I'll update you here once I hear from them. Sorry for a delay!

[2020-01-29 18:04] bhandaribhumin commented on #1514
@oldalton i was use AAD account.

LOG:
[code]

[2020-01-29 19:15] oldalton commented on #1514
Thanks for the logs. One question we had when looking at the logs was whether it could be due to calling acquireTokenSilent and not acquireToken. User might need to grant additional consent for your app in order to get all permissions and that can only happen during the interactive flow.

Could you please try calling acquireToken first with the list of scopes and see if you're getting same error?

[2020-01-30 20:37] pallavkumar112 opened #1515 "Getting error code as AADSTS650056 after launching Intune SDK integrated IOS app"
Hi All,

We have integrated IOS app with Intune SDK referring from sample app Wagr(https://github.com/Microsoft/Wagr-Sample-Intune-iOS-App).
We have registered the app in our tenant environment and added some required permissions and got Application id and set redirect URI in there.

Enabled SSO login(silent/auto login) In the app using below methods those requires Application Id(client Id) and Re

[2020-01-31 08:59] Narendra-Pandey opened #1516 "Make PDFView to fit in added view."
I don't need horizontal scrolling in **APPDFViewController** Pdf view. I just wanted to fit the PDFView as specified View width.

Please let me how could I fit the pdf into added view.

[2020-01-31 19:01] jasoncoolmax commented on #1516
Could you please make sure you post the question in the correct repository? :)

[2020-01-31 19:10] jasoncoolmax commented on #1490
Close the issue due to no input. Feel free to reopen it whenever you have the info we need :)

[2020-01-31 19:10] #1490 closed

[2020-01-31 19:17] jasoncoolmax commented on #1488
@bonnynotetech Could you please provide the crash stack trace, such that we could take a look?

[2020-01-31 19:23] jasoncoolmax commented on #1473
Could you please try the following?
- Login using ADAL 4.0.5
- Login using Safari browser
See if the issue remains.

Based on the result from you, we will try to see what we can do as the next step.

[2020-02-03 07:08] pallavkumar112 commented on #1515
@msintuneappsdk

[2020-02-03 07:09] pallavkumar112 commented on #1515
@oldalton Can you help please

[2020-02-03 19:02] oldalton commented on #1516
Closing this issue for now, as it seems not applicable to ADAL project. Please reopen if you still need help.

[2020-02-03 19:02] #1516 closed

[2020-02-03 19:04] oldalton commented on #1515
It looks like a configuration issue for the new clientId. Please make sure that the clientId you're using has listed AAD graph as one of its permissions for the client. If you've already done that and it still doesn't work, please provide a screenshot for you client permissions. Thanks.

[2020-02-03 19:05] oldalton commented on #1514
Are you still experiencing this issue? Please provide additional information requested above to continue investigation. Thanks.

[2020-02-03 19:13] pallavkumar112 commented on #1515
Thanks @oldalton  for quick response. Please find the screenshot attached for client permissions.
<img width="891" alt="permissions" src="https://user-images.githubusercontent.com/51072934/73682914-4ce9c580-46e7-11ea-9d1c-746d0a3cf463.png">

[2020-02-03 20:02] oldalton commented on #1515
Thanks, can you please also add AAD graph to the list and see if it resolves the issue?

[2020-02-03 20:27] pallavkumar112 commented on #1515
Thanks @oldalton.  Is there any specific permission needs to add under AAD graph? Please suggest.

[2020-02-04 03:50] oldalton commented on #1515
@pallavkumar112, this depends on what your app needs from the AAD graph. See here for description of different permissions: https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-permission-scopes

[2020-02-05 19:09] jasoncoolmax commented on #1427
@fowlerp-qlik are you still facing the issue? or it works for you? :)

[2020-02-06 07:12] bhandaribhumin commented on #1514
@oldalton sorry for delay we are not using adal anymore so thanks for help. if facility team agree with adal flow then i'll raise this query again again thanks.

[2020-02-06 07:12] #1514 closed

[2020-02-07 13:33] bonnynotetech commented on #1488
i am attaching the stack trace

On Sat, Feb 1, 2020 at 12:47 AM Yong Zeng <notifications@github.com> wrote:

Incident Identifier: 83050F5D-4B08-453B-A744-56CEAB2F6CE8
CrashReporter Key:   TODO
Hardware Model:      iPad7,5
Process:         Formulary [955]
Path:            /private/var/containers/Bundle/Application/ADA20620-5F80-4BB8-85A0-1309CC7ADB7A/Formulary.app/Formulary
Identifier:      com.mmi

[2020-02-07 13:36] bonnynotetech commented on #1488
there is one more crash

On Fri, Feb 7, 2020 at 7:03 PM Bonny Varghese <bonnyvarghese@notetech.com>
wrote:

Incident Identifier: D23B7A0F-7EEF-4BCA-99C4-C0B47C6A08E9
CrashReporter Key:   TODO
Hardware Model:      iPad8,7
Process:         Formulary [1235]
Path:            /private/var/containers/Bundle/Application/211581E7-B7B7-430B-9FB6-5D42E328F7F1/Formulary.app/Formulary
Identifier:      com.mmi

[2020-02-07 14:58] Halfpint-Code opened #1517 "Move from ADALiOS, missing acquireToken with scope or policy"
We are moving from ADALiOS to ADAL due to the iOS13 issue and ADALiOS being deprecated. I have the pod added and building. I've looked into replacing the methods we were using and I don't see any method with scopes or policy. We need the policy.

We were using:
[authContext acquireTokenWithScopes: additionalScopes: clientId: redirectUri: identifier: promptBehavior: extraQueryParameters: policy: co

[2020-02-07 18:54] jasoncoolmax commented on #1517
@Halfpint-Code I guess you were using our preview release for B2C. If so, you are recommended to switch to use MSAL to work with B2C. Please refer the following for more detials:
https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#b2c

[2020-02-08 19:10] oldalton commented on #1488
Hi. Looks like you're calling UIKit APIs from ADAL completionBlock without ensuring that you're on the main thread. ADAL doesn't guarantee that completionBlock would be invoked on a specific thread, and before you execute any UI updates, you need to ensure yourself that it is happening on the main thread.

[2020-02-10 09:37] pallavkumar112 commented on #1515
@oldalton  Customer has added AAD graph permission as well, but it din't help to resolve the problem. Please find the screenshot attached.
<img width="844" alt="AAD graph added" src="https://user-images.githubusercontent.com/51072934/74138162-1942fa00-4c17-11ea-9ae8-093462a368a1.png">

[2020-02-10 18:42] Halfpint-Code commented on #1517
Thanks, I'll give that a try

[2020-02-10 18:47] oldalton commented on #1517
Thanks, let us know if you find any issues.

[2020-02-10 18:48] oldalton commented on #1515
Thanks, are you seeing exactly same error message after the change? Can you please provide the latest error message so that we could take a look at logs from our side?

[2020-02-11 14:38] gkrishnan777 commented on #1515
same issue happens even after the AAD graph permission added.

[2020-02-11 18:51] oldalton commented on #1507
@tavikukko, AAD service team has identified a regression on their side and they're working on the fix. They don't have exact ETA for the fix yet, and I've followed up on possible workarounds in the meantime. I'll update you here regarding possible workarounds.

[2020-02-11 18:54] oldalton commented on #1504
Thanks, we agree that it might be useful to allow domain_hint in the broker, but we don't have an exact timeline for the fix yet. We'll update this issue once we have a timeline for the fix.

[2020-02-11 20:33] tavikukko commented on #1507
Massive thank you @oldalton !

[2020-02-11 23:22] oldalton commented on #1507
@tavikukko. I think the only workaround right now would be to use our MSAL library, and dynamic scopes. You can learn more about dynamic scopes and AAD v2 consent model here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent. Sorry for the inconvenience.

[2020-02-12 14:54] macblazer commented on #1396
I think ADAL is going to be deprecated in favor of MSAL.

https://github.com/AzureAD/microsoft-authentication-library-for-objc

I have begun converting my code to MSAL which does support Workplace Join on macOS.

[2020-02-12 14:54] #1396 closed

[2020-02-12 18:32] jayeshcode opened #1520 "After Sign Out Accounts is cleared from cache but MSALwebView still shows previous user credentials. It seems cookies are not getting cleared ? I implemented Graph API in Swift"

[2020-02-14 18:56] jasoncoolmax commented on #1520
Could you please try our sign out API in our dev branch where we implemented new logic to pop up webview to sign out an account in the browser as well, if that is what you are looking for.
https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/MSALPublicClientApplication.h#L458

Please let me know if that fits your needs.

[2020-02-14 18:58] jasoncoolmax commented on #1515
Could you please provide us the screenshot again after all the changes you have done? Such that I can further investigate from the server side.

[2020-02-17 09:29] pallavkumar112 commented on #1515
@jasoncoolmax  We already have attached screenshot above.  Please find it below again:
<img width="844" alt="latest" src="https://user-images.githubusercontent.com/51072934/74640751-148dc100-5196-11ea-85c6-e25e7ef1f484.png">

[2020-02-18 02:31] oldalton commented on #1515
@pallavkumar112, sorry for the confusion. We'd like to see the latest screenshot of your error message like this, not the configuration: https://user-images.githubusercontent.com/51072934/73488166-6c72ac80-43ce-11ea-9777-adc75c411b84.png

To clarify, each error message contains a correlationId and a timestamp which lets us track down your request from our telemetry. We'd like to have the latest co

[2020-02-18 11:56] pallavkumar112 commented on #1515
Customer is getting same error message still, You can refer screenhsot in the issue details. Please find correlationId :  42313e6c-95d1-4b7d-8881-fb90100af47f

[2020-02-18 13:04] ledzep9012 opened #1521 "ADAL with Intune"
So technically my app should receive `ERROR_SERVER_PROTECTION_POLICY_REQUIRED` when calling `acquireTokenWithResource` as I've applied CA policies to the app. But `acquireTokenWithResource` responds with a valid `accessToken`. Am I missing something?

Thanks

[2020-02-18 15:22] jayeshcode commented on #1520
I Am using -> MSAL1.0.7. I don't see API Sign Out Api in my MSALpubliclientApplication.

#pragma mark - Remove account from cache

/**
    Removes all tokens from the cache for this application for the provided account.
    MSAL won't be able to return tokens silently after calling this API, and developer will need to call acquireToken.
    User might need to enter his credentials again after call

[2020-02-18 18:39] jasoncoolmax commented on #1521
Hi @ledzep9012 , `ERROR_SERVER_PROTECTION_POLICY_REQUIRED` only happens in a specific scenario called True MAM. Could you please repro the issue and collect the correlation id, such that I can take a look? Thanks!

[2020-02-18 20:46] jayeshcode commented on #1520
@jasoncoolmax, I did pod install from dev branch

I see API now in my project but I am not able to build project as it is complaining about  #import "IdentityCore_Internal.h"  not found

pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc', :branch => 'dev'

[2020-02-19 15:07] jayeshcode commented on #1520
@jasoncoolmax  Any updates ?

[2020-02-20 10:24] ledzep9012 commented on #1521
Could you please explain the True MAM scenario, while I was awaiting feedback, I switched to MSAL for authentication as my app would also require access to `id_token` to verify with an API. I hope the true MAM scenario also exist in MSAL?

[2020-02-20 12:45] ledzep9012 commented on #1521
Here's the Error that I'm getting
![WhatsApp Image 2020-02-20 at 6 10 00 PM](https://user-images.githubusercontent.com/19204594/74934722-d6e69d80-540c-11ea-8fd6-2632e3182b85.png)

[2020-02-20 18:50] jasoncoolmax commented on #1517
Close it because of no response. Please feel free to reopen it if issue persists.

[2020-02-20 18:50] #1517 closed

[2020-02-21 20:32] oldalton commented on #1520
I think you're missing submodule flag. See guidance [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Installation).

From the guidance:

[2020-02-24 12:59] bkarabanms opened #1523 "Error on iOS 12 when using ADFS OAuth (potentially WKWebView related)"
One of our customer is facing an issue when using our application with ADFS configured for OAuth on iOS 12.4 since we've upgraded to ADAL 4.0.4. The user neither reproes the issues with older versions of our app, which used ADAL 2.6.9, nor on iOS 13.

Here's what happens when it fails (I've changed the URLs for the sake of anonymity):

1. Once the user enters his credentials, the WebView calls POS

[2020-02-24 17:03] jayeshcode commented on #1520
@oldalton  Thanks project builds now.

Just want to confirm  I don't have signOut params I am creating new from webviewParams ?
 let signOutparams = MSALSignoutParameters(webviewParameters: webViewParameters)

After calling Signout API it shows  wrong message on alert Appname Wants to use microsoftonline to sign in (should be sign out instead) is there way to disable alert ? then it opens web view

[2020-02-24 17:34] jasoncoolmax commented on #1521
@ledzep9012 Thank you for providing the screenshot.

If you apply the policy `Require approved client app`, users will only be able to login if the apps they are using is one of the following [apps](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app).
(That's why you get the error in the screenshot you provided)

[2020-02-26 07:57] ledzep9012 commented on #1521
@jasoncoolmax Thank you for providing much clarity on this.
![image](https://user-images.githubusercontent.com/19204594/75323021-0f1d2e80-589a-11ea-80fb-b1bd57c86f58.png)
As you can see above, this is the policy which is blocking the user to sign in. The original question remains the same, how do enforce the user to register with Intune first and then proceed with normal authentication once this e

[2020-02-27 18:55] oldalton commented on #1520
You cannot signout without a WebView. If you're using WKWebView, you can yourself clean all cookies from it, but we don't generally recommend that approach.

Regarding the alert message, unfortunately, we don't control it and it is shown by iOS.

[2020-02-27 18:59] jayeshcode commented on #1520
Thanks for response

@oldalton SignoutAPI is signingOut how can I signout and forget ?

[2020-02-27 19:04] antrix1989 commented on #1523
hi @bkarabanms, this sounds like ADFS configuration issue. Can you capture network traces for both cases and compare headers that your client sends to the ADFS?

You can e-mail me them too (sedemche@microsoft.com), just make sure you remove sensitive information first (like passwords).

[2020-02-28 00:23] jasoncoolmax commented on #1515
@pallavkumar112 I checked the server logs, it shows that

I am not an expert on portal settings. I search about it online, find [some people are facing the same issue and resolved it](https://github.com/Azure-Samples/active-directory-angularjs-singlepageapp-dotnet-webapi/issues/19). Could you please also try? :)

Let me know if that could resolve your issue.

[2020-03-03 13:50] bkarabanms commented on #1523
Hi, I've synced with the customer and they don't repro the issue with the latest version of our app, even though we neither updated the ADAL version nor changed anything auth related. I suspect it could indeed be an ADFS configuration issue that got introduced then fixed between the two updates.

I think it's ok to close this. Sorry for the spam.

[2020-03-04 15:49] Halfpint-Code commented on #1517
Hey,
So got big time sidetracked after contacting you guys. Finally getting around to implementing this. I am getting the error:

(lldb) po error
2020-03-04 09:18:27.431739-0600 RemoteInventory[4479:4223872] XPC connection interrupted
Error Domain=MSALErrorDomain Code=-50003 "(null)" UserInfo={MSALDeclinedScopesKey=(
    "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
), MSALGrantedScopesKey=(
    "/"
), M

[2020-03-04 19:02] oldalton commented on #1523
Thanks for the confirmation. Closing the issue. Please reopen if needed.

[2020-03-04 19:02] #1523 closed

[2020-03-05 14:53] jayeshcode commented on #1520
@oldalton We are having issue with signOutAPI happy path is working as expected.

When user press cancel on first popover or cancel without selecting account on second screen  the Signout API still returns True in result & account is removed. If user taps SignOut again account is removed and we can not use signOutAPI as we don't have any account now.

[2020-03-05 18:55] oldalton commented on #1520
Thanks for the feedback. Unfortunately, client side cannot detect whether user completed sign-in inside web view or not. The signout from webview is a "best-effort" and relies on the end user to complete it successfully.

If you need to retrieve the signed-out account at a later point, you can modify MSAL account enumeration parameters to include "signed-out" accounts in the result as well. By def

[2020-03-06 18:36] Halfpint-Code commented on #1517
Hi, was wondering if you had seen my last comment. I added the error handling when the error happens to try to grab the token silently with the granted scopes as suggested in another link, but there are no granted scopes and it fails again.

[2020-03-06 21:08] jayeshcode commented on #1520
@oldalton I check let account = self.currentAccount() before calling SignOut Api.

current account is coming nil when I make build from release or from App centre
When I make build in debug mode I have current account & can call sign out API.

Do you have any demo app where you use Sign out API.

[2020-03-11 18:14] rohitnarula7176 commented on #1515
@pallavkumar112 Closing this issue for now. Please feel free to reopen if you still face any issues.

[2020-03-11 18:14] #1515 closed

[2020-03-13 18:53] cassianodialpad opened #1524 "Can't build version 4.0.6 with carthage"
On trying to build version 4.0.6 with carthage, I  get the following error:

`The following build commands failed:
	CompileC /Users/cassiano/Library/Caches/org.carthage.CarthageKit/DerivedData/11.3.1_11C505/azure-activedirectory-library-for-objc/4.0.6/Build/Intermediates.noindex/ArchiveIntermediates/ADAL\ iOS/IntermediateBuildFilesPath/ADAL.build/Release-iphoneos/ADAL-core.build/Objects-normal/arm

[2020-03-17 18:04] jasoncoolmax commented on #1520
@jayeshcode do you have more questions regarding this issue?

[2020-03-17 20:10] rohitnarula7176 commented on #1524
@cassianodialpad
Can you please try cleaning your Carthage cache using the command (rm -rf ~/Library/Caches/org.carthage.CarthageKit) and retrying it.

[2020-03-17 21:12] cassianodialpad commented on #1524
Same issue. Version 4.0.5 builds fine, but 4.0.6 gives me those errors in the attached logs.

[2020-03-19 03:49] potrebic commented on #1524
I'm also hitting an error in `ADAuthenticationRequest+WebRequest.m`, more specifically:
[code]
This error only happens when I build ADAL via carthage. If I open the ADAL workspace in XCode and build... things work fine. I suppose that's due to different compiler flags resulting in different treatment of "warnings"

The offending line:
[code]
is fixed by adding the cast (as suggesting by the error

[2020-03-19 06:44] fergalrooney commented on #1524
I'm getting the exact same error as @cassianodialpad when trying to install with carthage.

[2020-03-19 12:59] AnilKumar09 opened #1527 "Difference between Release 2x and 4x"
Hi,
Could someone please provide me the difference between
release 2x and 4x.

Thanks...
AK

[2020-03-19 17:53] oldalton commented on #1527
Hi. ADAL 2.x uses UIWebView on iOS which is now deprecated by Apple. ADAL 4.x uses WKWebView for both iOS and macOS. Apple now has announced that it will stop accepting uploads of apps using UIWebView. Therefore, we recommend everyone to use ADAL 4.x.

However, if you're building the new app, you should be using our new MSAL library since ADAL itself will be deprecated shortly: https://github.com/

[2020-03-19 17:55] oldalton commented on #1524
Thanks for the information. Looks like this is a warning that is being treated as error. We will need to fix that warning on our side. As a workaround in the meantime, can you please disable "treat warnings as errors"? Thanks.

[2020-03-20 15:21] jayeshcode commented on #1520
@jasoncoolmax   No Thanks ! closing ticket now

[2020-03-20 15:21] #1520 closed

[2020-03-25 17:55] #1527 closed

[2020-04-03 12:44] franva commented on #1493
facing the same issue, do we have any update?

[2020-04-03 17:48] oldalton commented on #1493
@franva, are you facing same issue with ADAL Objective-C library or with Microsoft Flow website? Thanks.

[2020-04-03 23:48] franva commented on #1493
sorry, not the same. I'm doing this with ASP.NET Core Web API .

[2020-04-06 18:08] jasoncoolmax commented on #1493
@franva Please report the issue in the ADAL .Net repo if you are using .Net.

[2020-04-13 17:52] rohitnarula7176 commented on #1493
@franva Closing this issue for now.

[2020-04-13 17:52] #1493 closed

[2020-04-13 17:55] rohitnarula7176 commented on #1507
@tavikukko Are you still experiencing this issue?

[2020-04-14 08:21] tavikukko commented on #1507
Hi @rohitnarula7176 ,
So it looks like the consent using MS Authenticator now consents the right scopes, but, when doing the consent flow using MS Authenticator, it still returns wrong scopes "openid profile email", not the one requested "AllSites.Write User.Read". When you sign out and back in, you get the correct scopes (when the consent flow not happening anymore)...so almost there.

[2020-04-14 18:00] oldalton commented on #1507
Thanks. Would you be able to provide Authenticator logs (incident ID) for this issue? See instructions on collecting them here: https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Instructions-on-Collecting-Microsoft-Authenticator-Logs

[2020-04-15 08:51] tavikukko commented on #1507
Incident ID: NUFVKTF

[2020-04-21 18:18] sanalraju commented on #983
what was the issue? was it resolved ?

[2020-04-21 18:22] rohitnarula7176 commented on #1524
Please update to release 4.0.7 and let us know if the issue still persists.

[2020-04-21 18:22] #1524 closed

[2020-04-21 18:26] cassianodialpad commented on #1524
@rohitnarula7176 It worked, thanks!

[2020-04-21 18:57] jaragones commented on #983
If I don't recall wrong, I went for a workaround. I cannot be more precise, bug from 3 years ago.

[2020-04-29 00:19] jayeshcode opened #1532 "Does SFBrowserRemoteVC uses UiwebView or WKwebview."
While submitting the app issue was raised by Apple.

ITMS-90809: Deprecated API Usage - Apple will no longer accept submissions of new apps that use UIWebView as of April 30, 2020 and app updates that use UIWebView as of December 2020. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).

[2020-04-29 14:17] jayeshcode commented on #1532
Is default webviewType for  applicationContext.acquireToken which is SFBrowserRemoteVC uses UIWebview or WKWebview !

[2020-04-29 18:26] oldalton commented on #1532
@jayeshcode. ADAL 4.x and above only uses WKWebView. ADAL 2.x uses UIWebView, and we recommend everyone who is using that ADAL version to migrate to ADAL 4.x and above.

MSAL doesn't use UIWebView at all, and supports WKWebView as well as ASWebAuthenticationSession (https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews).

I'm not sure what is SFBrowserRemoteVC - is it

[2020-04-29 21:56] jayeshcode commented on #1532
We are using Using MSAL (1.1.1) in our project. We are not using UIwebview all over project so when Apple flagged us for using UIwebview I contacted you. we only have MSAL as 3rd party in our project.

When I open debugview in XCODE the screen presented after " applicationContext.acquireToken" was named as SFBrowserRemoteViewcontroller.

[2020-04-30 11:12] VaibhavMisra opened #1533 "Using ADAL without use_frameworks! in podfile"
Can we use ADAL pod without `use_framework!` in podfile in a Swift project?
[This](http://blog.cocoapods.org/CocoaPods-1.5.0/) blogpost says we don't need to use it anymore if we are using cocoapods >v.1.5 (which I am)

Hence, I removed `use_frameworks!` from my podfile and instead added `:modular_headers => true` for ADAL. I got following two errors:

I'm trying this because I want to use another

[2020-04-30 14:15] #1532 closed

[2020-05-04 08:12] webteambel opened #1534 "ADAL Ionic [iOS]"
Hello,

Can someone tell me how to generate an "ADAL FILE" like this one in the repo:

https://github.com/fradali/azure-activedirectory-library-for-cordova/tree/adal-ios-wkwebview/src/ios/ADAL.framework

I just tried to remove uiwebview from the cordova plugin but it still shows me the problem when I push to the store a version and I think that the "ADAL FILE" is the problem.

Thanks.

[2020-05-05 22:52] rohitnarula7176 commented on #1534
@webteambel Can you explain why you are trying to remove the UIWebview manually from the framework. Can you try compiling the framework with the latest version of the ADAL library that doesn't use the UIWebview and instead uses the WKWebview.

[2020-05-05 23:03] rohitnarula7176 commented on #1507
@tavikukko Thank you for providing the incident id . We looked at the logs but we do not log the actual access token to find the scopes returned as part of it. Can you please send us the scopes returned in the access token. You can use jwt.io to see the actual contents.

[2020-05-06 05:23] tavikukko commented on #1507
@rohitnarula7176 Thanks for getting back to this. I removed the instance from Enterprise Application from my AAD and logged in again with the app using MS Authenticator to reproduce the problem with the consent and scopes. But now it works just fine and correct scopes to right resources are returned after successful consent.

I was checking the traffic while consenting and there the result:

POST

[2020-05-08 11:44] #1086 closed

[2020-05-08 21:42] #1488 closed

[2020-05-08 22:01] oldalton commented on #1507
@tavikukko, thanks for the information. Seems that consent saved for your account got a little bit mixed up due to the previous AAD bug. I believe it should be all good now.

[2020-05-08 22:01] oldalton commented on #1507
Closing this issue but feel free to reopen if you have additional questions.

[2020-05-08 22:01] #1507 closed

[2020-05-08 22:02] oldalton commented on #1427
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:02] #1427 closed

[2020-05-08 22:03] oldalton commented on #1412
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:03] #1412 closed

[2020-05-08 22:31] oldalton commented on #1473
Closing this issue as stale. Please reopen if needed.

[2020-05-08 22:31] #1473 closed

[2020-05-08 22:40] oldalton commented on #1533
I don't think we support :modular_headers => true. Can you try removing it?

[2020-05-12 22:23] jasoncoolmax commented on #1521
@ShruthiAchutha Will it be possible to share some instruction to enable Intune MAM protection policy for this app?

[2020-05-21 22:15] antrix1989 commented on #1533
hi @VaibhavMisra , did you have a chance to try removing modular headers option from your pod?

[2020-05-21 22:16] #1534 closed

[2020-05-21 23:04] ShruthiAchutha commented on #1521
@ledzep9012 does your app integrate with Intune MAM SDK? https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios provides instructions for doing that. https://docs.microsoft.com/en-us/mem/intune/apps/app-protection-policy has instructions on how you can create App Protection Policies and target them. Let me know if you plan on doing this and I can connect you to the right folks on my tea

[2020-05-25 05:22] VaibhavMisra commented on #1533
@antrix1989 @oldalton Thank you for your replies. I had tried removing `:modular_headers => true` as well before posting the question. I was still getting some compilation error, which I don't remember right now. I got busy with other work and couldn't try it again to note down what was the actual error.

Hence, I figured for ADAL to work, it needs `use_framework!` in the podfile. Is my understand

[2020-05-30 00:36] oldalton commented on #1533
@VaibhavMisra, can you show your exact PodFile as an example? It should be possible to use ADAL without use framework.

[2020-06-09 22:20] mipetriu commented on #1533
Hi @VaibhavMisra, are you still seeing this issue?

[2020-06-09 22:27] mipetriu commented on #1521
Closing this issue, feel free to reopen.

[2020-06-09 22:27] #1521 closed

[2020-06-10 11:11] VaibhavMisra commented on #1533
@oldalton @mipetriu I'm pasting the content below of my Podfile below. I just tried by commenting `use_frameworks! ` line. It didn't work.  However, it will be difficult for me to go back and test it again get you exact details of the issue right now.

Since, you have reopened it, I hope you have been able to recreate it at your end.

[code]

[2020-06-13 00:48] sapunhan opened #1539 "Error with Enrollment IDs"
Hello,

[code]

After debugging, it turns out out this function [ADEnrollmentGateway allEnrollmentIdsJSON]; return an empty string causing deserialization failure. This error is constantly appearing in our app. Is there something the app needs to do in order to mitigate this? We are also using intune.

[2020-06-13 19:29] oldalton commented on #1539
Thanks for bringing this up. I believe this error would only show up in logs and not impact your app directly? I agree that we should fix the logging, just wanted to confirm how severe is the issue. Thanks.

[2020-06-15 15:20] sapunhan commented on #1539
Correct, it does not impact the app - but it bloats our logs as half the logs are 3840 could not find intune enrollment ids. Is there a way to mitigate this until a fix comes in?

[2020-06-16 18:06] alantom1423 opened #1540 "ADAuthenticationError.h' file not found"
Hi
    On Pod updating to ADAL 4.0.8 and building iOS project getting the error
**ADAuthenticationError.h' file not found.** I'm trying this in an Ionic capacitor project
Could you please help

[2020-06-16 22:34] jasoncoolmax commented on #1540
Thank you for reporting this. We will investigate.

[2020-06-16 22:37] jasoncoolmax commented on #1539
We are trying to fix it in our next release. Meanwhile, I think the workaround could be filtering that particular log statement at the app lever.

[2020-06-17 00:39] antrix1989 commented on #1539
Addressed in [this pr](https://github.com/AzureAD/azure-activedirectory-library-for-objc/pull/1538).

[2020-06-17 00:39] #1539 closed

[2020-06-17 01:54] antrix1989 commented on #1540
I verified pod on a new project, no issues. @alantom1423, seems something with your configuration.

[2020-06-17 01:54] #1540 closed

[2020-06-24 16:40] mipetriu commented on #1533
@VaibhavMisra I was not able to reproduce this issue using CocoaPods version 1.9.3 and the provided Podfile with `use_frameworks!` removed. If possible, could you test again with CocoaPods version 1.9.3? Also, if you have any other details that can help me reproduce your environment, please let me know.

[2020-07-04 08:16] ShmilyLin commented on #1481
@dzak83 Hi, I encountered the same problem as you, how did you solve it?

Thanks

[2020-07-06 04:04] dzak83 commented on #1481
@ShmilyLin in our case we didn't have passthrough explicitly enabled in our app id configuration (it was set to default) but from what I remember, the more appropriate way is to use “Microsoft Personal Accounts” as an allowed supported account type, and using MSAL library https://github.com/AzureAD/microsoft-authentication-library-for-objc to have full MSA support

[2020-07-18 12:26] AbhishekVashisth commented on #1514
Hi Oldalton

I have been facing the same issue since a month.  Please help. Below are details

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-07-18 at 17 49 44](https://user-images.githubusercontent.com/10843762/87852466-dd2b6800-c91f-11ea-9342-dec85b679507.png)

Logs :

TID=233428 MSAL 1.1.5 iOS Sim 13.3 [2020-07-18 12:18:27] (Default accessor) Get accounts.
TID=233428 MSAL 1.1.5 iOS Sim 13.3

[2020-07-18 12:37] AbhishekVashisth opened #1545 "Server returned less scopes than requested"
Issue with the scope "offline_access", I have already granted permission but having issue with below error messages
Could not acquire token: Error Domain=MSALErrorDomain Code=-50003 "(null)" UserInfo={MSALDeclinedScopesKey=(
    "offline_access"
)
![Screenshot 2020-07-18 at 6 00 51 PM](https://user-images.githubusercontent.com/10843762/87852597-ebc64f00-c920-11ea-9947-76af307be1f4.png)
![Simulator

[2020-07-23 07:20] jasoncoolmax commented on #1545
Let me take a look.

[2020-07-26 11:53] AbhishekVashisth commented on #1545
Hi Jason

Thank you.  Did you get chance to look into it?

[2020-08-06 17:09] jasoncoolmax commented on #1545
Hi @AbhishekVashisth , "offline_access" is a reserved scopes. MSAL will always send it to server. Could you please remove "offline_access" from the request scopes when you call MSAL?

(When a developer passes MSAL "offline_access" as part of scopes, MSAL normally will error out. I am curious how your app didn't see such an early error...)

[2020-08-07 22:17] #1533 closed

[2020-08-25 14:52] bhandaribhumin commented on #1545
Same error I'm getting for different scope
[issue](https://github.com/Azure-Samples/active-directory-ios/issues/38#issue-683507727)

[2020-09-07 11:57] cnfuzedRk62 opened #1549 "Facing issue with Telenor Active directory user."
Hi Team i am facing issue using  Azure SSO while trying to login with telenor active directory user using iOS App. And Azure SSO worknig fine with other active directories . I am going to attached the screen shot of that. Please help me with this issue.
Thank you.
![image001 (3)](https://user-images.githubusercontent.com/52038339/92385348-5c266b00-f12f-11ea-97ce-f6f52b9d8430.png)

[2020-09-11 22:55] hieunguyenmsft commented on #1549
@cnfuzedRk62 Hi It looks like an issue of MSAL, Please help to
1. Create a new issue in MSAL:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues
2. Collect the log when this error happens:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc#logging-in-msal-for-ios-and-macos

[2020-09-13 03:01] cnfuzedRk62 commented on #1549
HI  @hieunguyenmsft  i resolved this issue doing enable keychain share feature in ios app and Add microsoft authentacation app redirect url ie:- com.microsoft.adalcache and now it is working fine. Now i am going to close this one.

[2020-09-13 03:01] #1549 closed

[2020-09-18 22:29] #1545 closed

[2020-09-18 22:31] antrix1989 commented on #1504
We don't have plans to fix this at the moment.

[2020-09-18 22:31] #1504 closed

[2020-09-18 22:33] antrix1989 commented on #1379
This feature was added in [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc). Please use it instead of ADAL library.

[2020-09-18 22:33] #1379 closed

[2020-10-17 03:43] prsreejith commented on #1206
@nkwolf

Please use the below function in your SceneDelegate.swift class..

 **If you are using  SwifUI**

   func scene(_ scene: UIScene, openURLContexts URLContexts: Set<UIOpenURLContext>) {

            guard let urlContext = URLContexts.first else {
                return
            }
            let url = urlContext.url
            let sourceApp = urlContext.options.sourceApplication

[2020-10-23 14:46] mdivkovic-speech opened #1558 "Crash in MSIDWebviewUIController on iOS 14 before showing the auth webview"
ADAL version: 4.0.10
iOS version: 14.x.x
Expected behavior: Shows auth webview
Actual behavior: Crashes

We're creating an ADAuthenticationContext with an authority URL, then calling acquireTokenWithResource, which should show the auth webview if no valid token is available.

It works fine on iOS 13 but crashes on iOS 14, regardless if 14.0.0 or 14.1.0 or 14.2.0 beta 5.
![Screenshot 2020-10-23 at

[2020-10-27 23:50] mipetriu commented on #1558
@mdivkovic-speech We will take a look at this issue and update you once we've done some investigation. In the meantime, do you mind capturing the output from XCode to help understand the issue?

[2020-10-28 09:24] mdivkovic-speech commented on #1558
@mipetriu Thank you very much for the response. That's the thing, there is no difference in output between the working iOS 13 run and the crashing iOS 14 run. The last few lines printed to console are the following:

`2020-10-28 10:22:08.940129+0100 redacted[502:33372] AuthContext Authority:https://login.microsoftonline.com/4aac6235-0750-42c9-8628-181450e008cb
2020-10-28 10:22:08.940405+0100 redac

[2020-10-28 10:29] mdivkovic-speech commented on #1558
Update: This does not happen when using the MS Authenticator app, so we at least have a workaround for now.

[2020-10-28 19:14] kaisong1990 commented on #1558
@mdivkovic-speech Thanks for the information. We are not able to reproduce this issue by using our [sample app](https://github.com/Azure-Samples/active-directory-ios)

One thing I noticed from the screenshot that the code structure in ```MSIDWebviewUIController``` is not the same with our latest 4.0.10. Could you try to use our latest ADAL SDK? Also, the latest code in ADAL SDK will guarantee the

[2020-10-28 19:39] mdivkovic-speech commented on #1558
@kaisong1990 Thanks for being so responsive guys! We did update to 4.0.10 as the very first step to try and fix the issue, so it's strange that this wouldn't be correct. That's the version that produced the screenshot to the best of my knowledge, but I will double check and get back to you on that tomorrow. If it's a main thread issue, the error message produced by xcode is really weird.

[2020-10-28 20:49] kaisong1990 commented on #1558
@mdivkovic-speech I am not sure if it is related to main thread or not. Just an assumption based on the screenshot you provided. Also, this is the screenshot for the same class in latest ADAL SDK
![Screen Shot 2020-10-28 at 11 58 44 AM](https://user-images.githubusercontent.com/7757098/97494961-4dd12000-1924-11eb-8c8a-f2ea33ae8e3e.png)

[2020-10-29 16:37] mdivkovic-speech commented on #1558
@kaisong1990 wow, that's a big help honestly! Made me dig deeper and realize that despite the version being set correctly in the Pod file, the project was still bundling the old version at build time somehow. I'm looking into resolving that and will let you know if that fixes the issue!

[2020-11-04 16:11] kaisong1990 commented on #1558
@mdivkovic-speech Is there any update regarding the crash?

[2020-11-12 10:31] mdivkovic-speech commented on #1558
@kaisong1990 sorry for the late reply, I've unfortunately had to move to another project and didn't get a chance to investigate this issue further, since the workaround of using the MS Authenticator was good enough.

As you and I have been able to confirm previously, there's something wrong with the dependency setup in the project causing it to bundle an older version of the library than the one d

[2020-11-12 10:31] #1558 closed

[2021-01-05 08:43] shivR opened #1565 "App crashing EXC_CRASH (SIGABRT)"
Not able to reproduce the issue internally but seeing many crashes on AppStore. below is the symbolicate crash file.
ADAL lib version - 2.6.2

`
Hardware Model:      iPhone10,6
Process:             ------------
Path:                /private/var/containers/Bundle/Application/---------
Identifier:          ----------------
Version:             3.4.0.11 (3.4.0)
AppStoreTools:       12B45a
AppVariant:

[2021-01-06 05:22] kaisong1990 commented on #1565
@shivR Thanks for your question, looks like the crash happens on thread 36 and no signs of ADAL related. Is it possible to upgrade the ADAL to our latest 4.0.11 or switch to use [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc/tree/master).

[2021-01-15 12:07] mjcheetham opened #1566 "ADAL Objective-C crash when calling Acquire Token"
A customer of Git Credential Manager Core on macOS is finding that our Objective-C authentication helper which uses ADAL Objective-C to call `acquireTokenWithResource` crashes.

See the original issue: https://github.com/microsoft/Git-Credential-Manager-Core/issues/264

ADAL Version: 4.0.0
macOS Version: 11.1 (20C69)

The crashing thread has the following call-stack, which seems to include only AD

[2021-01-20 00:27] antrix1989 commented on #1566
Thanks @mjcheetham, I will take a look.

[2021-01-27 19:09] antrix1989 commented on #1566
@mjcheetham looks like you are trying to present a web view on a background thread. Make sure you are always calling `acquireTokenWithResource:...` on the main thread.

[2021-01-29 12:49] sw-tt-rumitkkhakhi opened #1567 "Couldnt able to get Policy list using accesstoken Generated from MSAL library"
Hello All,

I am using MSAL library to authenticate the user and also we are using C++ library to get the Policylist. We are passing accesstoken in C++ library which is generated from MSAL. But i can not get the policy list. I am getting below error from C++ SDK,

ERROR - Unexpected exception: 'The service didn't accept the auth token. Challenge:['']'
Program ended with exit code: 255

Also I have

[2021-01-29 23:14] antrix1989 commented on #1567
Hi @sw-tt-rumitkkhakhi , which C++ library do you use?

[2021-01-29 23:15] #1565 closed

[2021-02-01 09:16] sw-tt-rumitkkhakhi commented on #1567
Hello Sergery,

We are creating MacOS app and we have downloaded “mip_sdk_macos_1.7.145.tar.gz” and using it for our development.

There are 3 parts of “mip_sdk_macos_1.7.145.tar.gz” when we unzipped it.

1) file
2) protection
3) upe

So we have created a MacOS sample where we have integrated 3rd option “upe” classes to get policy list initially.

We have integrated MSAL framework in our MacOS app

[2021-02-02 13:06] sw-tt-rumitkkhakhi commented on #1567
Hello

Any update on it ? I want to move forward with this sdk.

[2021-02-09 07:18] sw-tt-rumitkkhakhi commented on #1567
I am waiting for your reply. Can you please give us any suggestion on this ? We are still facing this issue.

[2021-02-09 23:19] #1566 closed

[2021-02-11 02:10] antrix1989 commented on #1567
Hi @sw-tt-rumitkkhakhi, so you are using [Microsoft Information Protection SDK](https://docs.microsoft.com/en-us/information-protection/develop/). Please change your `kScopes` constant. It should be:
`<your resource>/.default`

See the example [here](https://docs.microsoft.com/en-us/information-protection/develop/concept-auth-scenario-csharp).

[2021-02-16 23:55] ameyapat commented on #1567
@sw-tt-rumitkkhakhi Closing issue for now. Please reopen if the issue is still there.

[2021-02-16 23:55] #1567 closed

[2021-03-16 14:43] sw-tt-rumitkkhakhi opened #1569 "Couldn't able to set label and protect file using "User-Defined" label (ad hoc)"
When we are trying to set label and protect the file using "User Defined" label (ad hoc) but we are getting following error while protecting the file.

**Label requires ad-hoc protection, but protection has not yet been set. Call FileHandler::SetProtection with ad-hoc protection settings before calling FileHandler::SetLabel**

Please suggest us, how can we set label(of type "userdefined") on file

[2021-03-16 22:55] jasoncoolmax commented on #1569
Hi @sw-tt-rumitkkhakhi , ADAL doesn't handle anything related to label.
I think probably you can try to post your question [here](https://github.com/Azure-Samples/mipsdk-protectionapi-cpp-sample-basic). You can also try it [here](https://github.com/MicrosoftDocs/Azure-RMSDocs/issues). I am not sure which one is the suitable repo.

[2021-03-23 22:46] #1569 closed

[2021-05-03 09:16] nechal opened #1572 "Error while re-building local library ADAL.framework"
**I am trying to generate a library locally using the command in root folder**:
/usr/bin/xcodebuild -workspace ADAL.xcworkspace -scheme "ADAL iOS" -configuration Release "ARCHS=x86_64" -sdk iphonesimulator "VALID_ARCHS=x86_64" ONLY_ACTIVE_ARCH=NO CONFIGURATION_BUILD_DIR=../build/emulator build GCC_GENERATE_TEST_COVERAGE_FILES=NO GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=NO

**In settings change ADAL Mach-O

[2021-05-11 06:14] #1572 closed

[2021-10-30 17:44] sehaswaran opened #1582 "Please Provide some provision for Third Party Apps to customise the status bar light or dart content mode."
Hi Team

Third Party Apps  who use your framework ,

calling the acquireToken, which presents the webview with your own navigation controller.

Problem:

Default navigation controller status bar style is black or darkContent.
But, Third Party Apps might support light and dark mode of content .

Please Provide some provision for  Third Party Apps to customise the status bar

[2021-11-01 17:26] arsalangolestanekh opened #1583 "ADErrorCode and ADCredentialsType APIs are deprecated in 6.0.0"
Hi,

I was using 4.0.9 ADAL SDK

After 6.0.0 SDK Update I receive errors:
Cannot find type 'ADCredentialsType' in scope
Cannot find 'ADErrorCode' in scope

But I can not find how did you rename them in latest version,

Can you please suggest?
Thanks

[2021-11-01 17:33] #1583 closed

[2021-11-01 17:57] arsalangolestanekh opened #1584 "Failed to get the default ADKeychainTokenCache"
Hi,
After ADAL 6.0.0 update I can not login

I receive error:
IntuneMAM: (2021-11-01T17:50:44.031Z) MAMError: "Failed to get the default ADKeychainTokenCache"
IntuneMAM: (2021-11-01T17:50:44.032Z) Failed to get the default ADKeychainTokenCache

Before I have replaced ADKeychainTokenCache  with ADALKeychainTokenCache
Logs are attached.

![image](https://user-images.githubusercontent.com/61407619/13

[2021-11-11 23:53] mipetriu commented on #1582
Hi @sehaswaran, we're not currently taking new feature requests for ADAL at this time, but we can evaluate this for [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-objc).

[2021-11-12 21:57] mipetriu commented on #1584
Hi @arsalangolestanekh, alongside the ADAL 6.0.0 update, the Microsoft Intune MAM SDK also published an update to be compatible with the naming updates introduced in ADAL 6.0.0. Do you mind trying to update the Intune MAM SDK as well, and see if that solves the issue?

[2021-11-15 16:59] arsalangolestanekh commented on #1584
Hi, @mipetriu, Yeah, I am trying to build with ADAL 6.0.0 with MAM 14.7.1 and Xcode 12.3
I am not sure if It is allowed to use 15.3.1 with Xcode 12.3. Will try to do it now

[2021-11-15 17:04] arsalangolestanekh commented on #1584
@mipetriu The same issue appears with 15.1.3

[2021-11-17 17:17] mipetriu commented on #1584
@arsalangolestanekh I misspoke about the state of the MAM SDK. I received the proper info - their team is currently working on supporting ADAL 6.0.0 now, and should have a release ready by mid-next week. I'm sorry for the confusion.

[2021-11-17 17:19] arsalangolestanekh commented on #1584
@mipetriu, thank you for update

[2021-12-10 03:04] sehaswaran commented on #1582
Thanks @mipetriu I will check

[2021-12-10 03:04] #1582 closed

[2022-01-04 13:57] menasheu opened #1586 "Library working in XCode environment but produces error code 34018 in production"
Hi,
We use the MSAL library  1.1.25 (but the problem occurred also with 1.1.24) and everything works fine when in the application is loaded from XCode. However when we produce an ipa file and either export it or upload to the store the user gets the following error:

_**Couldn't query current account with error: Error Domain=NSOSStatusErrorDomain Code=-34018 "(null)" UserInfo={MSALErrorDescription

[2022-01-04 19:03] #1586 closed

[2022-01-20 23:14] #1584 closed

[2022-02-15 06:21] XuYanci opened #1590 "Flutter support"
Can ADAL Support Flutter?

[2022-02-24 23:46] ameyapat commented on #1590
Hi @XuYanci, we are not adding any additional features to ADAL. You could look for other open-source options elsewhere.

[2022-02-24 23:46] #1590 closed

[2022-03-23 05:25] GeorgeSealy opened #1591 "ADAL builds broken on macOS 12.3"
With macOS 12.3, Apple no longer provides a link to python at /usr/bin/python. At least one build script for ADAL references this path when building for iOS, and so the builds are failing.

We have attempted installing python separately, but then we hit the problem that symbolic linking in /usr/bin is not allowed by Apple's System Integrity Protection (see https://superuser.com/questions/1168773/h

[2022-03-24 22:48] juan-arias commented on #1591
Hi @GeorgeSealy, we see Python 2.7 was removed on macOS 12.3 and now Python 3 should be used, ir order to bypass the build error, please update the Python version that is used: ADAL Mac target -> Build Phases -> Run Script  change from `/usr/bin/pyhton "${PROJECT_DIR}...` to `/usr/bin/pyhton3 "${PROJECT_DIR}...`

<img width="1219" alt="image" src="https://user-images.githubusercontent.com/1686668/

[2022-03-28 00:16] GrebeniukLA commented on #1591
Hi @juan-arias, I can see that you created a release branch 6.0.2 with this changes. Could you make the same changes for **ADAL iOS target** as well?

[2022-03-28 17:07] juan-arias commented on #1591
Hi @GrebeniukLA, thanks for bringing this into our attention. The change has been made for the iOS target as well on the release branch.

[2022-04-06 19:16] juan-arias commented on #1591
Hi @bhargavbajani-simformsolutions, these changes are scheduled for the upcoming April release.

[2022-04-07 22:47] juan-arias commented on #1591
A new ADAL version 6.0.2 has been released. Please feel free to reopen this issue in case you are still experiencing the problem.

[2022-04-07 22:47] #1591 closed

[2022-05-04 16:18] fernandatoledo commented on #1586
@menasheu I'm having the same issue, how did you solve it? Thank you!